<section>
  
    <div class="container" ng-init="get()">
      
         <div class="row">
           
              <div class="col-md-3"></div>
              
              <div class="col-md-3"></div>

              <div class="col-md-3"></div>
              
              <div class="col-md-3">
                
                   <div class="pull-right">
                     
                        <button class="button primary" data-toggle="modal" data-target="#add_modal">
                          
                                <i class="glyphicon glyphicon-plus-sign mr-2"></i>
                                Agregar
                        </button>

                   </div>

              </div>

         </div>

         <div class="row">
           
              <div class="col-md-12">
                
                   <h2>NOTIFICACIONES A CHOFER</h2>

              </div>

         </div>

         <div class="row">
      
              <div class="col-md-6"></div>

              <div class="col-md-6">
          
                   <div class="input-group mb-3">                  

                        <input type="text" class="form-control" placeholder="Buscar..." ng-model="search">

                                <div class="input-group-prepend">

                                     <span class="input-group-text"><i class="fas fa-search"></i></span>

                                </div>

                   </div>

              </div>

         </div>

         <div class="row">
           
              <div class="table-responsive">
                
                   <table class="table">
                     
                          <tr align="center" style="font-size: 16px;">

                              <th>Chofer</th>
                            
                              <th>Tipo Notificación</th>

                              <th>Encabezado</th>

                              <th>Cuerpo</th>

                              <th>Permiso</th>

                          </tr>

                          <tr id="cuerpo" ng-repeat="notificacion in notificaciones | filter : search" align="center">

                              <td>{{notificacion.Nombre}}</td>
                              
                              <td>{{notificacion.TipoNotificacion}}</td>

                              <td>{{notificacion.Encabezado}}</td>

                              <td>{{notificacion.Body}}</td>

                              <td>{{notificacion.Permiso}}</td>

                          </tr>

                   </table>

                   <h1 align="center">{{ Titulo }}</h1>

              </div>

         </div>

    </div>

</section>


<!--M O D A L   A G R E G A R -->
<!-- M O D A L   A G R E G A R -->
<div class="modal" id="add_modal" tabindex="-1" role="dialog" aria-labelledby="myModelLabel">
  
     <div class="modal-dialog modal-lg" role="document">
       
          <div class="modal-content">
            
               <!-- C A B E C E R A   M O D A L -->
               <div class="modal-header">
                 
                    <h2 class="modal-title" id="myModelLabel">Nueva Notificación</h2>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      
                          <span aria-hidden="true">X</span>

                    </button>

               </div>


               <!--C U E R P O    M O D A L -->
               <div class="modal-body">
                 
                    <div class="container">
                         
                          <div class="row">
                            
                               <div class="col-md-12">
                                 
                                    <div class="input-group mb-3">
                                      
                                         <div class="input-group-prepend">
                                           
                                              <span class="input-group-text"><i class="fas fa-bell"></i></span>

                                         </div>

                                         <select id="nIDTipoNotificacion" ng-model="notificacion.nIDTipoNotificacion" class="form-control">
                                          
                                                <option value="" selected disabled>Selecciona Tipo de notificación...</option>

                                                <option value = "{{tipo.nIDTipoNotificacion}}" ng-repeat="tipo in tipos">{{tipo.TipoNotificacion}}</option>

                                        </select>

                                    </div>

                               </div>

                          </div>

                          <div class="row">
                            
                               <div class="col-md-12">
                                 
                                    <div class="input-group mb-3">
                                      
                                         <div class="input-group-prepend">
                                           
                                              <span class="input-group-text"><i class="fas fa-bell"></i></span>

                                         </div>

                                         <input type="text" class="form-control" placeholder="Encabezado de la notificación"
                                         id="Encabezado" ng-model="notificacion.Encabezado">

                                    </div>

                               </div>

                          </div>

                          <div class="row">
                            
                               <div class="col-md-12">
                                 
                                    <div class="input-group mb-3">
                                      
                                         <div class="input-group-prepend">
                                           
                                              <span class="input-group-text"><i class="fas fa-bell"></i></span>

                                         </div>

                                         <input type="text" class="form-control" placeholder="Cuerpo de la notificación"
                                         id="Cuerpo" ng-model="notificacion.Body">

                                    </div>

                               </div>

                          </div>

                          <div class="row">
                            
                              <div class="col-md-6">
                                
                                   <div class="input-group mb-3">
                                     
                                        <div class="input-group-prepend">
                                          
                                             <span class="input-group-text"><i class="fas fa-lock"></i></span>

                                        </div>

                                        <select id="Permiso" ng-model="notificacion.Permiso" class="form-control">
                                          
                                                <option value="" selected disabled>Obligatoriedad...</option>

                                                <option value = "Si">Si</option>

                                                <option value = "No">No</option>

                                        </select>

                                   </div>

                              </div>

                              <div class="col-md-6">
                                
                                   <div class="input-group mb-3">
                                     
                                        <div class="input-group-prepend">
                                          
                                             <span class="input-group-text"><i class="fas fa-user"></i></span>

                                        </div>

                                        <select id="Chofer" ng-model="notificacion.nIDChofer" class="form-control">
                                          
                                                <option value="" selected disabled>Selecciona Chofer...</option>

                                                <option value = "0">Todos</option>

                                                <option value = "{{chofer.nIDChofer}}" ng-repeat="chofer in choferes">{{chofer.Nombre}}</option>

                                        </select>

                                   </div>

                              </div>

                          </div>

                          

                    </div>

               </div>



               <!-- P I E    M O D A L -->
               <div class="modal-footer">
                 
                    <div class="container">
                      
                         <div class="row" align="center">

                              <div class="col-md-12">
                                
                                   <button type="button" class="btn btn-outline-dark" id="boton" data-dismiss="modal">Cancelar</button>

                                   <button type="button" class="btn btn-outline-dark" id="boton" ng-click="add(notificacion)">Guardar</button>

                              </div>

                         </div>

                    </div>

               </div>




          </div>

     </div>

</div>