<section>
  
    <div class="container" ng-init="get()">
      
         <div class="row">
           
              <div class="col-md-3"></div>
              
              <div class="col-md-3"></div>

              <div class="col-md-3"></div>
              
              <div class="col-md-3">
                
                   <div class="pull-right">
                     
                        <button class="button primary" data-toggle="modal" data-target="#add_modal">
                          
                                <i class="glyphicon glyphicon-plus-sign mr-2"></i>
                                Agregar
                        </button>

                   </div>

              </div>

         </div>

         <div class="row">
           
              <div class="col-md-12">
                
                   <h2>TIPO DE NOTIFICACIONES</h2>

              </div>

         </div>

         <div class="row">
      
              <div class="col-md-6"></div>

              <div class="col-md-6">
          
                   <div class="input-group mb-3">                  

                        <input type="text" class="form-control" placeholder="Buscar..." ng-model="search">

                                <div class="input-group-prepend">

                                     <span class="input-group-text"><i class="fas fa-search"></i></span>

                                </div>

                   </div>

              </div>

         </div>

         <div class="row">
           
              <div class="table-responsive">
                
                   <table class="table">
                     
                          <tr align="center" style="font-size: 16px;">

                              
                            
                              <th>Tipo Notificación</th>

                              <th>Descripción</th>

                              <th class="text-center">Acción</th>

                          </tr>

                          <tr id="cuerpo" ng-repeat="tipo in tipos | filter : search" align="center">                              
                              
                              <td>{{tipo.TipoNotificacion}}</td>

                              <td>{{tipo.Descripcion}}</td>

                              <td>
                                
                                    <a data-toggle="modal" data-target="#update_modal" ng-click="show(tipo)" class="iconos">
                                      
                                        <img src="assets/img/pencil.png">

                                    </a>

                                    <a ng-click="destroy(tipo.nIDTipoNotificacion)" class="iconos">
                                      
                                        <img src="assets/img/delete.png">

                                    </a>

                              </td>

                          </tr>

                   </table>

                   <h1 align="center">{{ Titulo }}</h1>

              </div>

         </div>

    </div>

</section>


<!--M O D A L   A G R E G A R -->
<!-- M O D A L   A G R E G A R -->
<div class="modal" id="add_modal" tabindex="-1" role="dialog" aria-labelledby="myModelLabel">
  
     <div class="modal-dialog modal-lg" role="document">
       
          <div class="modal-content">
            
               <!-- C A B E C E R A   M O D A L -->
               <div class="modal-header">
                 
                    <h2 class="modal-title" id="myModelLabel">Nuevo Tipo de Notificación</h2>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      
                          <span aria-hidden="true">X</span>

                    </button>

               </div>


               <!--C U E R P O    M O D A L -->
               <div class="modal-body">
                 
                    <div class="container">
                         
                          

                          <div class="row">
                            
                               <div class="col-md-12">
                                 
                                    <div class="input-group mb-3">
                                      
                                         <div class="input-group-prepend">
                                           
                                              <span class="input-group-text"><i class="fas fa-bell"></i></span>

                                         </div>

                                         <input type="text" class="form-control" placeholder="Tipo de notificación"
                                         id="TipoNotificacion" ng-model="Tipo.TipoNotificacion">

                                    </div>

                               </div>

                          </div>

                          <div class="row">
                            
                               <div class="col-md-12">
                                 
                                    <div class="input-group mb-3">
                                      
                                         <div class="input-group-prepend">
                                           
                                              <span class="input-group-text"><i class="fas fa-bell"></i></span>

                                         </div>

                                         <input type="text" class="form-control" placeholder="Descripción de la notificación"
                                         id="Descripcion" ng-model="Tipo.Descripcion">

                                    </div>

                               </div>

                          </div>

                         

                          

                    </div>

               </div>



               <!-- P I E    M O D A L -->
               <div class="modal-footer">
                 
                    <div class="container">
                      
                         <div class="row" align="center">
                           
                              <div class="col-md-3"></div>

                              <div class="col-md-6">
                                
                                   <button type="button" class="btn btn-outline-dark" id="boton" data-dismiss="modal">Cancelar</button>

                                   <button type="button" class="btn btn-outline-dark" id="boton" ng-click="add(Tipo)">Guardar</button>

                              </div>

                              <div class="col-md-3"></div>

                         </div>

                    </div>

               </div>




          </div>

     </div>

</div>

<!-- M O D A L   M O D I F I C A R -->
<div class="modal" id="update_modal" tabindex="-1" role="dialog" aria-labelledby="myModelLabel">
  
     <div class="modal-dialog modal-lg" role="document">
       
          <div class="modal-content">
            
               <!-- C A B E C E R A   M O D A L -->
               <div class="modal-header">
                 
                    <h2 class="modal-title" id="myModelLabel">Modificar Tipo de Notificación</h2>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      
                          <span aria-hidden="true">X</span>

                    </button>

               </div>


               <!--C U E R P O    M O D A L -->
               <div class="modal-body">
                 
                    <div class="container">
                         
                          

                          <div class="row">
                            
                               <div class="col-md-12">
                                 
                                    <div class="input-group mb-3">
                                      
                                         <div class="input-group-prepend">
                                           
                                              <span class="input-group-text"><i class="fas fa-bell"></i></span>

                                         </div>

                                         <input type="text" class="form-control" placeholder="Tipo de notificación"
                                         id="TipoNotificacionEdit" ng-model="TipoEdit.TipoNotificacion">

                                    </div>

                               </div>

                          </div>

                          <div class="row">
                            
                               <div class="col-md-12">
                                 
                                    <div class="input-group mb-3">
                                      
                                         <div class="input-group-prepend">
                                           
                                              <span class="input-group-text"><i class="fas fa-bell"></i></span>

                                         </div>

                                         <input type="text" class="form-control" placeholder="Descripción de la notificación"
                                         id="DescripcionEdit" ng-model="TipoEdit.Descripcion">

                                    </div>

                               </div>

                          </div>

                         

                          

                    </div>

               </div>



               <!-- P I E    M O D A L -->
               <div class="modal-footer">
                 
                    <div class="container">
                      
                         <div class="row" align="center">
                           
                              <div class="col-md-3"></div>

                              <div class="col-md-6">
                                
                                   <button type="button" class="btn btn-outline-dark" id="boton" data-dismiss="modal">Cancelar</button>

                                   <button type="button" class="btn btn-outline-dark" id="boton" ng-click="update(TipoEdit)">Guardar</button>

                              </div>

                              <div class="col-md-3"></div>

                         </div>

                    </div>

               </div>




          </div>

     </div>

</div>