<section>
  
    <div class="container" ng-init="get()">
      
         <div class="row"><!-- Inicio  Fila -->
           
              <div class="col-md-3"></div>

              <div class="col-md-3"></div>

              <div class="col-md-3"></div>

              <div class="col-md-3">
                
                   <div class="pull-rigth">
                     
                        <button class="button primary" data-toggle="modal" data-target="#add_modal">
                          
                                <i class="glyphicon glyphicon-plus-sign mr-2"></i>
                                Agregar

                        </button>

                   </div>

              </div>

         </div>

         <div class="row">
           
              <div class="col-md-12">
                
                   <h2>CHOFER</h2>

              </div>

         </div>

         <div class="row">
      
              <div class="col-md-6"></div>

              <div class="col-md-6">
          
                   <div class="input-group mb-3">                  

                        <input type="text" class="form-control" placeholder="Buscar Chofer..." ng-model="search">

                               <div class="input-group-prepend">

                                    <span class="input-group-text"><i class="fas fa-search"></i></span>

                               </div>

                   </div>

              </div>

         </div>

         <div class="table-responsive">
           
              <table class="table">
                
                     <tr align="center" style="font-size: 16px;">
                       
                          <th>Nombre</th>

                          <th>Usuario</th>

                          <th>RFC</th>

                          <th>Contacto</th>

                          <th>Dirección</th>

                          <th>NSS</th>

                          <th>Licencia</th>

                          <th>Razón Social</th>

                          <th class="text-center">Acciones</th>

                     </tr>

                     <tr id="cuerpo" ng-repeat="chofer in choferes | filter : search" align="center">
                       
                          <td>{{chofer.Nombre}}</td>

                          <td>{{chofer.Usuario}}</td>

                          <td>{{chofer.RFC}}</td>

                          <td>Cel.{{chofer.Celular}} <br> Email. {{chofer.Email }}</td>

                          <td>{{chofer.Direccion}}</td>

                          <td>{{chofer.Nss}}</td>

                          <td>No. {{chofer.NoLicencia}} <br> Vig. {{chofer.FechaVigencia_Licencia}}</td>

                          <td>{{chofer.RazonSocial}}</td>

                          <td>
                            
                              <a data-toggle="modal" data-target="#update_modal" ng-click="show(chofer)">
                                
                                 <img src="assets/img/pencil.png">

                              </a>

                              <a ng-click="destroy(chofer.nIDChofer)">
                                
                                 <img src="assets/img/delete.png">

                              </a>

                          </td>

                     </tr>

              </table>

              <h1 align="center">{{ mensaje }}</h1>

         </div>

    </div>

</section>


<!-- M O D A L    A G R E G A R -->
<div class="modal" id="add_modal" tabindex="-1" role="dialog" aria-labelledby="myModelLabel">
  
     <div class="modal-dialog modal-lg" role="document">
       
          <div class="modal-content">
            
               <!-- C A B E C E R A    M O D A L -->
               <div class="modal-header">
                 
                    <h2 class="modal-title" id="myModelLabel">Nuevo Chofer</h2>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      
                            <span aria-hidden="true">X</span>

                    </button>

               </div>

               <!-- C U E R P O     M O D A L -->
               <div class="modal-body">
                 
                    <div class="container">
                      
                         <div class="row">
                           
                              <div class="col-md-12">
                                
                                   <div class="input-group mb-3">
                                     
                                        <div class="input-group-prepend">
                                          
                                             <span class="input-group-text"><i class="fas fa-user"></i></span>

                                        </div>

                                        <input type="text" class="form-control" placeholder="Nombre completo *" id="Nombre"
                                        ng-model="chofer.Nombre">

                                   </div>

                              </div>

                         </div>

                         <div class="row">
                           
                              <div class="col-md-12">
                                
                                   <div class="input-group mb-3">
                                     
                                        <div class="input-group-prepend">
                                          
                                             <span class="input-group-text"><i class="fas fa-qrcode"></i></span>

                                        </div>

                                        <input type="text" class="form-control" placeholder="Registro Federal del Contribuyente(RFC) *"
                                        id="RFC" ng-model="chofer.RFC">

                                   </div>

                              </div>

                         </div>

                         <div class="row">
                           
                              <div class="col-md-12">
                                
                                   <div class="input-group mb-3">
                                     
                                        <div class="input-group-prepend">
                                          
                                             <span class="input-group-text">@</span>

                                        </div>

                                        <input type="text" class="form-control" placeholder="Correo electrónico *" id="Email"
                                        ng-model="chofer.Email" style="text-transform: lowercase;" onkeyup="javascript:this.value = this.value.toLowerCase();">

                                   </div>

                              </div>

                         </div>

                         <div class="row">
                           
                              <div class="col-md-6">
                                
                                   <div class="input-group mb-3">
                                     
                                        <div class="input-group-prepend">
                                          
                                             <span class="input-group-text"><i class="fas fa-user"></i></span>

                                        </div>

                                        <input type="text" class="form-control" placeholder="Nombre de usuario *" id="Usuario"
                                        ng-model="chofer.Usuario">

                                   </div>

                              </div>

                              <div class="col-md-6">
                                
                                  
                                    
                                       <div class="input-group mb-3">
                                         
                                            <div class="input-group-prepend">
                                              
                                                 <span class="input-group-text"><i class="fas fa-key"></i></span>

                                            </div>

                                            <input type="text" class="form-control" placeholder="Contraseña *" id="Password"
                                            ng-model="chofer.Password">

                                       </div>

                                  

                              </div>

                         </div>

                         <div class="row">
                           
                              <div class="col-md-6">
                                
                                   <div class="input-group mb-3">
                                     
                                        <div class="input-group-prepend">
                                          
                                            <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>

                                        </div>

                                        <input type="text" class="form-control" placeholder="Dirección" id="Direccion"
                                        ng-model="chofer.Direccion">

                                   </div> 

                              </div>

                              <div class="col-md-6">
                                
                                   <div class="input-group mb-3">
                                     
                                        <div class="input-group-prepend">
                                          
                                             <span class="input-group-text"><i class="fas fa-mobile-alt"></i></span>

                                        </div>

                                        <input type="text" class="form-control" placeholder="Número de celular *" id="Celular"
                                        ng-model="chofer.Celular" maxlength="10">

                                   </div>

                              </div>

                         </div>

                         <div class="row">
                           
                              <div class="col-md-12">
                                
                                   <div class="input-group mb-3">
                                     
                                        <div class="input-group-prepend">
                                          
                                             <span class="input-group-text"><i class="far fa-building"></i></span>

                                        </div>

                                        <select id="nIDEmpresa" class="form-control" ng-model="chofer.nIDEmpresa">
                                          
                                                <option value="" selected disabled>Selecciona la empresa aquí *...</option>

                                                <option value="{{empresa.nIDEmpresa}}" ng-repeat="empresa in empresas">
                                                  
                                                  {{ empresa.RazonSocial }}

                                                </option>

                                        </select>

                                   </div>

                              </div>

                         </div>

                         <div class="row">
                           
                              <div class="col-md-12">
                                
                                   <div class="input-group mb-3">
                                     
                                        <div class="input-group-prepend">
                                          
                                             <span class="input-group-text"><i class="fas fa-sort-numeric-up-alt"></i></span>

                                        </div>

                                        <input type="text" class="form-control" placeholder="Número de seguro social *" id="NSS"
                                        ng-model="chofer.NSS">

                                   </div>

                              </div>

                         </div>

                         <div class="row">
                           
                              <div class="col-md-6">
                                
                                   <div class="input-group mb-3">
                                     
                                        <div class="input-group-prepend">
                                          
                                             <span class="input-group-text"><i class="fas fa-id-badge"></i></span>

                                        </div>

                                        <input type="text" class="form-control" placeholder="Número de licencia *" id="NoLicencia"
                                        ng-model="chofer.NoLicencia">

                                   </div>

                              </div>

                              <div class="col-md-6">
                                
                                   <div class="input-group mb-3">
                                     
                                        <div class="input-group-prepend">
                                          
                                             <span class="input-group-text"><i class="fas fa-calendar-check"></i></span>

                                        </div>

                                        <input type="date" class="form-control" id="FechaVigencia_Licencia" 
                                        ng-model="chofer.FechaVigencia_Licencia">

                                   </div>

                              </div>

                         </div>

                         <div class="row">
                           
                              <div class="col-md-12">

                                   <div class="input-group mb-3">
                                     
                                        <div class="input-group-prepend">
                                          
                                             <span class="input-group-text"><i class="fas fa-image"></i></span>

                                        </div>

                                        <input type="file" id="Imagen" class="form-control" ng-model="chofer.Imagen">

                                   </div>                                                                   

                              </div>

                         </div> 

                         <div class="row text-center">
                           
                              <div class="col-md-12">
                                
                                   <div id="VistaImagen">
                                     
                                      <embed id="doc" src="" width="100%" height="100%"></embed>

                                   </div>

                              </div>

                         </div>

                    </div>

               </div>

               <!-- P I E    M O D A L -->
               <div class="modal-footer">
                 
                    <div class="container">
                      
                         <div class="row" align="center">

                              <div class="col-md-12">
                                
                                   <button type="button" class="btn btn-outline-dark" id="boton" ng-click="clean()">Cancelar</button>

                                   <button type="button" class="btn btn-outline-dark" id="boton" ng-click="add(chofer)">Guardar</button>

                              </div>

                         </div>

                    </div>

               </div>

          </div>

     </div>

</div>



<!-- M O D A L    A G R E G A R -->
<div class="modal" id="update_modal" tabindex="-1" role="dialog" aria-labelledby="myModelLabel">
  
     <div class="modal-dialog modal-lg" role="document">
       
          <div class="modal-content">
            
               <!-- C A B E C E R A    M O D A L -->
               <div class="modal-header">
                 
                    <h2 class="modal-title" id="myModelLabel">Modificar Chofer</h2>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      
                            <span aria-hidden="true">X</span>

                    </button>

               </div>

               <!-- C U E R P O     M O D A L -->
               <div class="modal-body">
                 
                    <div class="container">
                      
                         <div class="row">
                           
                              <div class="col-md-12">
                                
                                   <div class="input-group mb-3">
                                     
                                        <div class="input-group-prepend">
                                          
                                             <span class="input-group-text"><i class="fas fa-user"></i></span>

                                        </div>

                                        <input type="text" class="form-control" placeholder="Nombre completo" id="NombreEdit"
                                        ng-model="choferEdit.Nombre">

                                   </div>

                              </div>

                         </div>

                         <div class="row">
                           
                              <div class="col-md-12">
                                
                                   <div class="input-group mb-3">
                                     
                                        <div class="input-group-prepend">
                                          
                                             <span class="input-group-text"><i class="fas fa-qrcode"></i></span>

                                        </div>

                                        <input type="text" class="form-control" placeholder="Registro Federal del Contribuyente(RFC)"
                                        id="RFCEdit" ng-model="choferEdit.RFC">

                                   </div>

                              </div>

                         </div>

                         <div class="row">
                           
                              <div class="col-md-12">
                                
                                   <div class="input-group mb-3">
                                     
                                        <div class="input-group-prepend">
                                          
                                             <span class="input-group-text">@</span>

                                        </div>

                                        <input type="text" class="form-control" placeholder="Correo electrónico" id="EmailEdit"
                                        ng-model="choferEdit.Email" style="text-transform: lowercase;" onkeyup="javascript:this.value = this.value.toLowerCase();">

                                   </div>

                              </div>

                         </div>

                         <div class="row">
                           
                              <div class="col-md-6">
                                
                                   <div class="input-group mb-3">
                                     
                                        <div class="input-group-prepend">
                                          
                                             <span class="input-group-text"><i class="fas fa-user"></i></span>

                                        </div>

                                        <input type="text" class="form-control" placeholder="Nombre de usuario" id="UsuarioEdit"
                                        ng-model="choferEdit.Usuario">

                                   </div>

                              </div>

                              <div class="col-md-6">
                                
                                  
                                    
                                       <div class="input-group mb-3">
                                         
                                            <div class="input-group-prepend">
                                              
                                                 <span class="input-group-text"><i class="fas fa-key"></i></span>

                                            </div>

                                            <input type="text" class="form-control" placeholder="Contraseña" id="PasswordEdit"
                                            ng-model="choferEdit.Password">

                                       </div>

                                  

                              </div>

                         </div>

                         <div class="row">
                           
                              <div class="col-md-6">
                                
                                   <div class="input-group mb-3">
                                     
                                        <div class="input-group-prepend">
                                          
                                            <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>

                                        </div>

                                        <input type="text" class="form-control" placeholder="Dirección" id="DireccionEdit"
                                        ng-model="choferEdit.Direccion">

                                   </div> 

                              </div>

                              <div class="col-md-6">
                                
                                   <div class="input-group mb-3">
                                     
                                        <div class="input-group-prepend">
                                          
                                             <span class="input-group-text"><i class="fas fa-mobile-alt"></i></span>

                                        </div>

                                        <input type="text" class="form-control" placeholder="Número de celular" id="CelularEdit"
                                        ng-model="choferEdit.Celular" maxlength="10">

                                   </div>

                              </div>

                         </div>

                         <div class="row">
                           
                              <div class="col-md-12">
                                
                                   <div class="input-group mb-3">
                                     
                                        <div class="input-group-prepend">
                                          
                                             <span class="input-group-text"><i class="far fa-building"></i></span>

                                        </div>

                                        <select id="nIDEmpresaEdit" class="form-control" ng-model="choferEdit.nIDEmpresa">
                                          
                                                <option value="" selected disabled>Selecciona aquí...</option>

                                                <option value="{{empresa.nIDEmpresa}}" ng-repeat="empresa in empresas">
                                                  
                                                  {{ empresa.RazonSocial }}

                                                </option>

                                        </select>

                                   </div>

                              </div>

                         </div>

                         <div class="row">
                           
                              <div class="col-md-12">
                                
                                   <div class="input-group mb-3">
                                     
                                        <div class="input-group-prepend">
                                          
                                             <span class="input-group-text"><i class="fas fa-sort-numeric-up-alt"></i></span>

                                        </div>

                                        <input type="text" class="form-control" placeholder="Número de seguro social" id="NSSEdit"
                                        ng-model="choferEdit.NSS">

                                   </div>

                              </div>

                         </div>

                         <div class="row">
                           
                              <div class="col-md-6">
                                
                                   <div class="input-group mb-3">
                                     
                                        <div class="input-group-prepend">
                                          
                                             <span class="input-group-text"><i class="fas fa-id-badge"></i></span>

                                        </div>

                                        <input type="text" class="form-control" placeholder="Número de licencia" id="NoLicenciaEdit"
                                        ng-model="choferEdit.NoLicencia">

                                   </div>

                              </div>

                              <div class="col-md-6">
                                
                                   <div class="input-group mb-3">
                                     
                                        <div class="input-group-prepend">
                                          
                                             <span class="input-group-text"><i class="fas fa-calendar-check"></i></span>

                                        </div>

                                        <input type="date" class="form-control" id="FechaVigencia_LicenciaEdit" 
                                        ng-model="choferEdit.FechaVigencia_Licencia">

                                   </div>

                              </div>

                         </div>

                         <div class="row text-center">
                           
                              <div class="col-md-12">

                                <div class="input-group mb-3">
                                     
                                        <div class="input-group-prepend">
                                          
                                             <span class="input-group-text"><i class="fas fa-image"></i></span>

                                        </div>

                                        <input type="file" id="ImagenEdit" class="form-control" ng-model="choferEdit.Imagen">

                                   </div>                              

                              </div>

                         </div> 

                         <div class="row text-center">
                           
                              <div class="col-md-12">
                                
                                   <div id="VistaImagenEdit">
                                     
                                      <embed id="docEdit" src="" width="100%" height="100%"></embed>

                                   </div>

                              </div>

                         </div>

                    </div>

               </div>

               <!-- P I E    M O D A L -->
               <div class="modal-footer">
                 
                    <div class="container">
                      
                         <div class="row" align="center">

                              <div class="col-md-12">
                                
                                   <button type="button" class="btn btn-outline-dark" id="boton" data-dismiss="modal">Cancelar</button>

                                   <button type="button" class="btn btn-outline-dark" id="boton" ng-click="update(choferEdit)">Guardar</button>

                              </div>

                         </div>

                    </div>

               </div>

          </div>

     </div>

</div>