<section>
	
		<div class="container" ng-init="get()">
			
			 <div class="row">
			 	
			 	  <div class="col-md-3"></div>

			 	  <div class="col-md-3"></div>

			 	  <div class="col-md-3"></div>

			 	  <div class="col-md-3">
			 	  	
						<div class="pull-right">
							
							 <button class="button primary" data-toggle="modal" data-target="#add_modal">
							 	
							 		 <i class="glyphicon glyphicon-plus-sign mr-2"></i>
							 		 Agregar

							 </button>

						</div>

			 	  </div>

			 </div>

			 <div class="row">
			 	
			 	  <div class="col-md-12">
			 	  	
			 	  		<h2>DISPOSITIVOS ASIGNADOS</h2>

			 	  </div>

			 </div>

			 <div class="row">
			 	
			 	  <div class="col-md-6"></div>

			 	  <div class="col-md-6">
			 	  	
			 	  	   <div class="input-group mb-3">
			 	  	   	
			 	  	   		<input type="text" class="form-control" placeholder="Buscar Asignaciones..." ng-model="search">

			 	  	   		<div class="input-group-prepend">

			 	  	   			 <span class="input-group-text"><i class="fas fa-search"></i></span>

			 	  	   		</div>

			 	  	   </div>

			 	  </div> 

			 </div>


			 <div class="table-responsive">
			 	
			 	  <table class="table">
			 	  	
			 	  	   <tr align="center" style="font-size: 16px;">
			 	  	   	
			 	  	   	   <th>Dispositivo</th>

			 	  	   	   <th>Identificado</th>

			 	  	   	   <th>Imei</th>

			 	  	   	   <th>Lada</th>

			 	  	   	   <th>Celular</th>

			 	  	   	   <th class="text-center">Acciones</th>

			 	  	   </tr>

			 	  	   <tr id="cuerpo" align="center" ng-repeat="asignacion in asignaciones | filter : search">
			 	  	   	
			 	  	   		<td>{{ asignacion.Nombre }}</td>

			 	  	   		<td>{{ asignacion.Identificador }}</td>

			 	  	   		<td>{{ asignacion.Imei }}</td>

			 	  	   		<td>{{ asignacion.Lada }}</td>

			 	  	   		<td>{{ asignacion.Celular }}</td>

			 	  	   		<td>
			 	  	   			
			 	  	   			<a data-toggle="modal" data-target="#update_modal" ng-click="show(asignacion)">
			 	  	   				
			 	  	   				<img src="assets/img/pencil.png">

			 	  	   			</a> <label for="">      </label>

			 	  	   			<a ng-click="destroy(asignacion.nIDDispositivoAuto)" style="margin-left: 5px;">
			 	  	   				
								   <img src="assets/img/delete.png">

			 	  	   			</a> 

			 	  	   		</td>

			 	  	   </tr>

			 	  </table>

			 	  <h1 align="center">{{ mensaje }}</h1>

			 </div>

		</div>

</section>




<!-- A G R E G A R      M O D A L -->
<div class="modal" id="add_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	
	 <div class="modal-dialog modal-lg" role="document">
	 	
		  <div class="modal-content">
		  	
		  	   <!-- C A B E C E R A     M O D A L -->
		  	   <div class="modal-header">
		  	   	
		  	   		<h2 class="modal-title" id="myModalLabel">Nueva Asignación</h2>

		  	   		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		  	   			
							<span aria-hidden="true">X</span>

		  	   		</button>

		  	   </div>


		  	   <!-- C U E R P O    M O D A L -->
		  	   <div class="modal-body">
		  	   	
		  	   		<div class="container">
		  	   			
						  <div class="row">
						  	
						  	   <div class="col-md-12">
						  	   	
						  	   		<div class="input-group mb-3">
						  	   			
						  	   			 <div class="input-group-prepend">
						  	   			 	
						  	   			 	  <span class="input-group-text"><i class="fas fa-tablet-alt"></i></span>

						  	   			 </div>

						  	   			 <select id="nIDDispositivo" ng-model="asignacion.nIDDispositivo" class="form-control">
						  	   			 	
						  	   			 	     <option value="" selected disabled>Selecciona el dispositivo a asignar...</option>

						  	   			 	     <option value="{{ tipo.nIDDispositivo }}" ng-repeat="tipo in tipos">{{ tipo.Nombre }}</option>

						  	   			 </select>

						  	   		</div>

						  	   </div>

						  </div>

						  <div class="row">
						  	
						  	   <div class="col-md-12">
						  	   	
						  	   		<div class="input-group mb-3">
						  	   			
						  	   			 <div class="input-group-prepend">
						  	   			 	
						  	   			 	  <span class="input-group-text"><i class="fas fa-fingerprint"></i></span>

						  	   			 </div>

						  	   			 <select id="Identificador" ng-model="asignacion.Identificador" class="form-control">
						  	   			 	
						  	   			 	     <option value="" selected disabled>Selecciona el número de placa del vehículo...</option>

						  	   			 	     <option value="{{ vehiculo.Placas }}" ng-repeat="vehiculo in vehiculos">{{vehiculo.Placas}}</option>

						  	   			 </select>

						  	   			 <!--<input type="text" class="form-control" placeholder="Identificador" id="identificator" 
						  	   			 ng-model="asignacion.identificator">-->

						  	   		</div>

						  	   </div>

						  </div>

						  <div class="row">
						  	
						  	   <div class="col-md-12">
						  	   	
						  	   		<div class="input-group mb-3">
						  	   			
						  	   			 <div class="input-group-prepend">
						  	   			 	
						  	   			 	  <span class="input-group-text"><i class="fas fa-sort-numeric-up-alt"></i></span>

						  	   			 </div>

						  	   			 <input type="text" class="form-control" placeholder="IMEI" id="Imei" maxlength="16"
						  	   			  ng-model="asignacion.Imei" >

						  	   		</div>

						  	   </div>

						  </div>

						  <div class="row">
						  	
						  	  <div class="col-md-4">
						  	  	
						  	  	   <div class="input-group mb-3">
						  	  	   	
						  	  	   	    <div class="input-group-prepend">
						  	  	   	    	
						  	  	   	    	 <span class="input-group-text"><i class="fas fa-sort-numeric-up-alt"></i></span>

						  	  	   	    </div>

						  	  	   	    <input type="text" class="form-control" placeholder="Lada" id="Lada" ng-model="asignacion.Lada">						  	  	   	    
						  	  	   </div>

						  	  </div>


						  	  <div class="col-md-8">
						  	  	
						  	  	   <div class="input-group mb-3">
						  	  	   	
						  	  	   	    <div class="input-group-prepend">
						  	  	   	    	
						  	  	   	    	 <span class="input-group-text"><i class="fas fa-mobile-alt"></i></span>

						  	  	   	    </div>

						  	  	   	    <input type="text" class="form-control" placeholder="Número de celular" id="Celular" 
						  	  	   	    ng-model="asignacion.Celular" maxlength="10">

						  	  	   </div>

						  	  </div>

						  </div>

						  <div class="row">
						  	
						  	   <div class="col-md-12">
						  	   	
						  	   	    <div class="input-group mb-3">
						  	   	    	
						  	   	    	 <div class="input-group-prepend">
						  	   	    	 	
						  	   	    	 	  <span class="input-group-text"><i class="fas fa-key"></i></span>

						  	   	    	 </div>

						  	   	    	 <input type="text" class="form-control" placeholder="Contraseña" id="Password" 
						  	   	    	 ng-model="asignacion.Password">

						  	   	    </div>

						  	   </div>

						  </div>

						  <div class="row">
						  	
							   <div class="col-md-12">
							   	
							   	    <div class="input-group mb-3">
							   	    	
							   	    	 <div class="input-group-prepend">
							   	    	 	
							   	    	 	  <span class="input-group-text"><i class="fas fa-mobile-alt"></i></span>

							   	    	 </div>

							   	    	 <input type="text" class="form-control" placeholder="Número de persona de confianza" 
							   	    	 id="Numero_Confianza" ng-model="asignacion.Numero_Confianza">

							   	    </div>

							   </div>

						  </div>

		  	   		</div>

		  	   </div>

		  	   <!-- P I E    M O D A L -->
		  	   <div class="modal-footer">
		  	   	
		  	   	    <div class="container">
		  	   	    	
		  	   	    	 <div class="row" align="center">
		  	   	    	 	
		  	   	    	 	  <div class="col-md-12" align="center">
		  	   	    	 	  	
		  	   	    	 	  	   <button type="button" class="btn btn-outline-dark" id="boton" data-dismiss="modal">Cancelar</button>

		  	   	    	 	  	   <button type="button" class="btn btn-outline-dark" id="boton" ng-click="add(asignacion)">Guardar</button>

		  	   	    	 	  </div>

		  	   	    	 </div>

		  	   	    </div>

		  	   </div>

		  </div>

	 </div>

</div>

<!-- A G R E G A R      M O D A L -->
<div class="modal" id="update_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	
	 <div class="modal-dialog modal-lg" role="document">
	 	
		  <div class="modal-content">
		  	
		  	   <!-- C A B E C E R A     M O D A L -->
		  	   <div class="modal-header">
		  	   	
		  	   		<h2 class="modal-title" id="myModalLabel">Modificar Asignación</h2>

		  	   		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		  	   			
							<span aria-hidden="true">X</span>

		  	   		</button>

		  	   </div>


		  	   <!-- C U E R P O    M O D A L -->
		  	   <div class="modal-body">
		  	   	
		  	   		<div class="container">
		  	   			
						  <div class="row">
						  	
						  	   <div class="col-md-12">
						  	   	
						  	   		<div class="input-group mb-3">
						  	   			
						  	   			 <div class="input-group-prepend">
						  	   			 	
						  	   			 	  <span class="input-group-text"><i class="fas fa-tablet-alt"></i></span>

						  	   			 </div>

						  	   			 <select id="nIDDispositivoEdito" ng-model="asignacionEdit.nIDDispositivo" class="form-control">
						  	   			 	
						  	   			 	     <option value="" selected disabled>Selecciona el dispositivo a asignar...</option>

						  	   			 	     <option value="{{ tipo.nIDDispositivo }}" ng-repeat="tipo in tipos">{{ tipo.Nombre }}</option>

						  	   			 </select>

						  	   		</div>

						  	   </div>

						  </div>

						  <div class="row">
						  	
						  	   <div class="col-md-12">
						  	   	
						  	   		<div class="input-group mb-3">
						  	   			
						  	   			 <div class="input-group-prepend">
						  	   			 	
						  	   			 	  <span class="input-group-text"><i class="fas fa-fingerprint"></i></span>

						  	   			 </div>

						  	   			 <input type="text" class="form-control" placeholder="Identificador" id="IdentificadorEdit" 
						  	   			 ng-model="asignacionEdit.Identificador">

						  	   		</div>

						  	   </div>

						  </div>

						  <div class="row">
						  	
						  	   <div class="col-md-12">
						  	   	
						  	   		<div class="input-group mb-3">
						  	   			
						  	   			 <div class="input-group-prepend">
						  	   			 	
						  	   			 	  <span class="input-group-text"><i class="fas fa-sort-numeric-up-alt"></i></span>

						  	   			 </div>

						  	   			 <input type="text" class="form-control" placeholder="IMEI" id="ImeiEdit" ng-model="asignacionEdit.Imei" >

						  	   		</div>

						  	   </div>

						  </div>

						  <div class="row">
						  	
						  	  <div class="col-md-4">
						  	  	
						  	  	   <div class="input-group mb-3">
						  	  	   	
						  	  	   	    <div class="input-group-prepend">
						  	  	   	    	
						  	  	   	    	 <span class="input-group-text"><i class="fas fa-sort-numeric-up-alt"></i></span>

						  	  	   	    </div>

						  	  	   	    <input type="text" class="form-control" placeholder="Lada" id="LadaEdit" ng-model="asignacionEdit.Lada">						  	  	   	    
						  	  	   </div>

						  	  </div>


						  	  <div class="col-md-8">
						  	  	
						  	  	   <div class="input-group mb-3">
						  	  	   	
						  	  	   	    <div class="input-group-prepend">
						  	  	   	    	
						  	  	   	    	 <span class="input-group-text"><i class="fas fa-mobile-alt"></i></span>

						  	  	   	    </div>

						  	  	   	    <input type="text" class="form-control" placeholder="Número de celular" id="CelularEdit" 
						  	  	   	    ng-model="asignacionEdit.Celular">

						  	  	   </div>

						  	  </div>

						  </div>

						  <div class="row">
						  	
						  	   <div class="col-md-12">
						  	   	
						  	   	    <div class="input-group mb-3">
						  	   	    	
						  	   	    	 <div class="input-group-prepend">
						  	   	    	 	
						  	   	    	 	  <span class="input-group-text"><i class="fas fa-key"></i></span>

						  	   	    	 </div>

						  	   	    	 <input type="text" class="form-control" placeholder="Contraseña" id="PasswordEdit" 
						  	   	    	 ng-model="asignacionEdit.Password">

						  	   	    </div>

						  	   </div>

						  </div>

						  <div class="row">
						  	
							   <div class="col-md-12">
							   	
							   	    <div class="input-group mb-3">
							   	    	
							   	    	 <div class="input-group-prepend">
							   	    	 	
							   	    	 	  <span class="input-group-text"><i class="fas fa-mobile-alt"></i></span>

							   	    	 </div>

							   	    	 <input type="text" class="form-control" placeholder="Número de persona de confianza"
							   	    	  id="Numer_ConfianzaEdit" ng-model="asignacionEdit.Numero_Confianza">

							   	    </div>

							   </div>

						  </div>

		  	   		</div>

		  	   </div>

		  	   <!-- P I E    M O D A L -->
		  	   <div class="modal-footer">
		  	   	
		  	   	    <div class="container">
		  	   	    	
		  	   	    	 <div class="row" align="center">
		  	   	    	 	
		  	   	    	 	  <div class="col-md-12" align="center">
		  	   	    	 	  	
		  	   	    	 	  	   <button type="button" class="btn btn-outline-dark" id="boton" data-dismiss="modal">Cancelar</button>

		  	   	    	 	  	   <button type="button" class="btn btn-outline-dark" id="boton" ng-click="update(asignacionEdit)">Guardar</button>

		  	   	    	 	  </div>

		  	   	    	 </div>

		  	   	    </div>

		  	   </div>

		  </div>

	 </div>

</div>