<section>
	
		<div class="container" ng-init="get()">
			
			 <div class="row">
			 	
			 	  <div class="col-md-3"></div>

			 	  <div class="col-md-3"></div>

			 	  <div class="col-md-3"></div>

			 	  <div class="col-md-3">
			 	  	
						<div class="pull-right">
							
							 <button class="button primary" data-toggle="modal" data-target="#add_modal">
							 	
							 		 <i class="glyphicon glyphicon-plus-sign mr-2"></i>
							 		 Agregar

							 </button>

						</div>

			 	  </div>

			 </div>

			 <div class="row">
			 	
			 	  <div class="col-md-12">
			 	  	
			 	  		<h2>DISPOSITIVOS</h2>

			 	  </div>

			 </div>

			 <div class="row">
			 	
			 	  <div class="col-md-6"></div>

			 	  <div class="col-md-6">
			 	  	
			 	  	   <div class="input-group mb-3">
			 	  	   	
			 	  	   		<input type="text" class="form-control" placeholder="Buscar Dispositivos..." ng-model="search">

			 	  	   		<div class="input-group-prepend">

			 	  	   			 <span class="input-group-text"><i class="fas fa-search"></i></span>

			 	  	   		</div>

			 	  	   </div>

			 	  </div>

			 </div>


			 <div class="table-responsive">
			 	
			 	  <table class="table">
			 	  	
			 	  	   <tr align="center" style="font-size: 16px;">
			 	  	   	
			 	  	   	   <th>Modelo</th>

			 	  	   	   <th>Tipo</th>

			 	  	   	   <th class="text-center">Acciones</th>

			 	  	   </tr>

			 	  	   <tr id="cuerpo" align="center" ng-repeat="dispositivo in dispositivos | filter : search">
			 	  	   	
			 	  	   		<td>{{ dispositivo.Nombre }}</td>

			 	  	   		<td>{{ dispositivo.Tipo }}</td>

			 	  	   		<td>
			 	  	   			
			 	  	   			<a data-toggle="modal" data-target="#update_modal" ng-click="show(dispositivo)">
			 	  	   				
			 	  	   				<img src="assets/img/pencil.png">

			 	  	   			</a> <label for="">      </label>

			 	  	   			<a ng-click="destroy(dispositivo.nIDDispositivo)" style="margin-left: 5px;">
			 	  	   				
								   <img src="assets/img/delete.png">

			 	  	   			</a>  <label for="">     </label>

			 	  	   			<a style="margin-left: 5px;" ng-click="devices_comandos(dispositivo.nIDDispositivo)" data-toggle="modal"
			 	  	   			data-target="#vistaComandos">
			 	  	   				
			 	  	   				<img src="assets/img/vista.png">

			 	  	   			</a> <label for="">     </label>

			 	  	   			<a data-toggle="modal" data-target="#add_commands_modal" ng-click="comand(dispositivo.nIDDispositivo)" 
			 	  	   			style="margin-left: 5px;">
			 	  	   				
			 	  	   				<img src="assets/img/agregar2.png">

			 	  	   			</a>

			 	  	   		</td>

			 	  	   </tr>

			 	  </table>

			 	  <h1 align="center">{{ mensaje }}</h1>

			 </div>

		</div>

</section>

<!-- M O D A L   A G R E G A R -->
<div class="modal" id="add_modal" tabindex="-1" role="dialog" aria-labelledby="myModelLabel">
	
	 <div class="modal-dialog modal-lg" role="document">
	 	
	 	  <div class="modal-content">
	 	  	
	 	  		<!-- C A B E C E R A    M O D A L -->
	 	  		<div class="modal-header">
	 	  			
	 	  			 <h2 class="modal-title" id="myModalLabel">Nuevo Dispositivo</h2>

	 	  			 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	 	  			 	
	 	  			 		 <span aria-hidden="true">X</span>

	 	  			 </button>

	 	  		</div>


	 	  		<!--M O D A L   C U E R P O -->
	 	  		<div class="modal-body">
	 	  			
	 	  			 <div class="container">
	 	  			 	
	 	  			 	  <div class="row">
	 	  			 	  	
	 	  			 	  	   <div class="col-md-12">
	 	  			 	  	   	
	 	  			 	  	   		<div class="input-group mb-3">
	 	  			 	  	   			
	 	  			 	  	   			<div class="input-group-prepend">
	 	  			 	  	   				
	 	  			 	  	   				 <span class="input-group-text"><i class="fas fa-location-arrow"></i></span>

	 	  			 	  	   			</div>

	 	  			 	  	   			<input type="text" class="form-control" placeholder="Modelo de dispositivo" id="Nombre" 
	 	  			 	  	   			ng-model="dispositivo.Nombre">

	 	  			 	  	   		</div>

	 	  			 	  	   </div>

	 	  			 	  </div>

	 	  			 	  <div class="row">
	 	  			 	  	
	 	  			 	  		<div class="col-md-12">
	 	  			 	  			
	 	  			 	  			 <div class="input-group mb-3">
	 	  			 	  			 	
	 	  			 	  			 	  <div class="input-group-prepend">
	 	  			 	  			 	  	
	 	  			 	  			 	  	   <span class="input-group-text"><i class="fas fa-i-cursor"></i></span>

	 	  			 	  			 	  </div>

	 	  			 	  			 	  <input type="text" class="form-control" placeholder="Tipo de dispositivo" id="Tipo"
	 	  			 	  			 	  ng-model="dispositivo.Tipo">

	 	  			 	  			 </div>

	 	  			 	  		</div>

	 	  			 	  </div>

	 	  			 	  <div class="row" align="center">
	 	  			 	  	
	 	  			 	  		<div class="col-md-12">
	 	  			 	  			
	 	  			 	  			<div class="custom-control custom-switch">
      									 
      									 <input type="checkbox" class="custom-control-input" id="switch1" ng-model="dispositivo.Directo">
      									 
      									 <label class="custom-control-label" for="switch1" style="color: black;">Directo</label>
    								
    								</div>
	 	  			 	  	
	 	  			 	  		</div>

	 	  			 	  </div>

	 	  			 </div>

	 	  		</div>


	 	  		<!--P I E   M O D A L -->
	 	  		<div class="modal-footer">
	 	  			
	 	  			 <div class="container">
	 	  			 	
	 	  			 	  <div class="row" align="center">

	 	  			 	  	   <div class="col-md-12">
	 	  			 	  	   	
	 	  			 	  	   	    <button type="button" class="btn btn-outline-dark" id="boton" data-dismiss="modal">Cancelar</button>

	 	  			 	  	   	    <button type="button" class="btn btn-outline-dark" id="boton" ng-click="add(dispositivo)">Guardar</button>

	 	  			 	  	   </div>

	 	  			 	  </div>

	 	  			 </div>

	 	  		</div>

	 	  </div>

	 </div>

</div>


<!-- M O D A L   M O D I F I C A R -->
<div class="modal" id="update_modal" tabindex="-1" role="dialog" aria-labelledby="myModelLabel">
	
	 <div class="modal-dialog modal-lg" role="document">
	 	
	 	  <div class="modal-content">
	 	  	
	 	  		<!-- C A B E C E R A    M O D A L -->
	 	  		<div class="modal-header">
	 	  			
	 	  			 <h2 class="modal-title" id="myModalLabel">Modificar Dispositivo</h2>

	 	  			 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	 	  			 	
	 	  			 		 <span aria-hidden="true">X</span>

	 	  			 </button>

	 	  		</div>


	 	  		<!--M O D A L   C U E R P O -->
	 	  		<div class="modal-body">
	 	  			
	 	  			 <div class="container">
	 	  			 	
	 	  			 	  <div class="row">
	 	  			 	  	
	 	  			 	  	   <div class="col-md-12">
	 	  			 	  	   	
	 	  			 	  	   		<div class="input-group mb-3">
	 	  			 	  	   			
	 	  			 	  	   			<div class="input-group-prepend">
	 	  			 	  	   				
	 	  			 	  	   				 <span class="input-group-text"><i class="fas fa-location-arrow"></i></span>

	 	  			 	  	   			</div>

	 	  			 	  	   			<input type="text" class="form-control" placeholder="Modelo de dispositivo" id="NombreEdit" 
	 	  			 	  	   			ng-model="dispositivoEdit.Nombre">

	 	  			 	  	   		</div>

	 	  			 	  	   </div>

	 	  			 	  </div>

	 	  			 	  <div class="row">
	 	  			 	  	
	 	  			 	  		<div class="col-md-12">
	 	  			 	  			
	 	  			 	  			 <div class="input-group mb-3">
	 	  			 	  			 	
	 	  			 	  			 	  <div class="input-group-prepend">
	 	  			 	  			 	  	
	 	  			 	  			 	  	   <span class="input-group-text"><i class="fas fa-i-cursor"></i></span>

	 	  			 	  			 	  </div>

	 	  			 	  			 	  <input type="text" class="form-control" placeholder="Tipo de dispositivo" id="TipoEdit"
	 	  			 	  			 	  ng-model="dispositivoEdit.Tipo">

	 	  			 	  			 </div>

	 	  			 	  		</div>

	 	  			 	  </div>

	 	  			 	  <div class="row" align="center">
	 	  			 	  	
	 	  			 	  		<div class="col-md-12">
	 	  			 	  			
	 	  			 	  			<div class="custom-control custom-switch">
      									 
      									 <input type="checkbox" class="custom-control-input" id="switch1Edit" ng-model="dispositivoEdit.Directo">
      									 
      									 <label class="custom-control-label" for="switch1Edit" style="color: black;">Directo</label>
    								
    								</div>
	 	  			 	  	
	 	  			 	  		</div>

	 	  			 	  </div>


	 	  			 </div>

	 	  		</div>


	 	  		<!--P I E   M O D A L -->
	 	  		<div class="modal-footer">
	 	  			
	 	  			 <div class="container">
	 	  			 	
	 	  			 	  <div class="row" align="center">	 	  			 	  	

	 	  			 	  	   <div class="col-md-12">
	 	  			 	  	   	
	 	  			 	  	   	    <button type="button" class="btn btn-outline-dark" id="boton" data-dismiss="modal">Cancelar</button>

	 	  			 	  	   	    <button type="button" class="btn btn-outline-dark" id="boton" ng-click="update(dispositivoEdit)">Guardar</button>

	 	  			 	  	   </div>

	 	  			 	  </div>

	 	  			 </div>

	 	  		</div>

	 	  </div>

	 </div>

</div>


<!-- M O D A L   A G R E G A R    C O M A N D O S -->
<div class="modal" id="add_commands_modal" tabindex="-1" role="dialog" aria-labelledby="myModelLabel">
	
	 <div class="modal-dialog modal-lg" role="document">
	 	
	 	  <div class="modal-content">
	 	  	
	 	  		<!-- C A B E C E R A    M O D A L -->
	 	  		<div class="modal-header">
	 	  			
	 	  			 <h2 class="modal-title" id="myModalLabel">Agregar comandos</h2>

	 	  			 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	 	  			 	
	 	  			 		 <span aria-hidden="true">X</span>

	 	  			 </button>

	 	  		</div>


	 	  		<!--M O D A L   C U E R P O -->
	 	  		<div class="modal-body">
	 	  			
	 	  			 <div class="container">
	 	  			 	
	 	  			 	  <div class="row">
	 	  			 	  	
	 	  			 	  	   <div class="col-md-6">
	 	  			 	  	   	
	 	  			 	  	   		<div class="input-group mb-3">
	 	  			 	  	   			
	 	  			 	  	   			<div class="input-group-prepend">
	 	  			 	  	   				
	 	  			 	  	   				 <span class="input-group-text"> <i class="fas fa-align-justify"></i></span>

	 	  			 	  	   			</div>

	 	  			 	  	   			<input type="text" class="form-control" placeholder="Acción" id="Accion" 
	 	  			 	  	   			ng-model="comando.Accion">

	 	  			 	  	   		</div>

	 	  			 	  	   </div>
	 	  			 	  	
	 	  			 	  		<div class="col-md-6">
	 	  			 	  			
	 	  			 	  			 <div class="input-group mb-3">
	 	  			 	  			 	
	 	  			 	  			 	  <div class="input-group-prepend">
	 	  			 	  			 	  	
	 	  			 	  			 	  	   <span class="input-group-text"><i class="fas fa-terminal"></i></span>

	 	  			 	  			 	  </div>

	 	  			 	  			 	  <input type="text" class="form-control" placeholder="Comando" id="Comando"
	 	  			 	  			 	  ng-model="comando.Comando">

	 	  			 	  			 </div>

	 	  			 	  		</div>

	 	  			 	  </div>

	 	  			 	  <div class="row">
	 	  			 	  	
	 	  			 	  	   <div class="col-md-6">
	 	  			 	  			
	 	  			 	  			 <div class="input-group mb-3">
	 	  			 	  			 	
	 	  			 	  			 	  <div class="input-group-prepend">
	 	  			 	  			 	  	
	 	  			 	  			 	  	   <span class="input-group-text">_</span>

	 	  			 	  			 	  </div>

	 	  			 	  			 	  <input type="text" class="form-control" placeholder="Separador" id="Separador"
	 	  			 	  			 	  ng-model="comando.Separador">

	 	  			 	  			 </div>

	 	  			 	  		</div>

	 	  			 	  </div>

	 	  			 	  <hr style="border-color:  #044BFD;">

	 	  			 	  <div class="row">
	 	  			 	  	
	 	  			 	  	   <div class="col-md-6">
	 	  			 	  	   	
	 	  			 	  	   		<div class="input-group mb-3">
	 	  			 	  	   			
	 	  			 	  	   			 <div class="input-group-prepend">
	 	  			 	  	   			 	
	 	  			 	  	   			 	  <span class="input-group-text"><i class="fas fa-hand-point-right"></i></span>

	 	  			 	  	   			 </div>

	 	  			 	  	   			 <input type="text" class="form-control" placeholder="Parámetro 1" id="Parametro1" 
	 	  			 	  	   			 ng-model="comando.Parametro1">

	 	  			 	  	   		</div>

	 	  			 	  	   </div>

	 	  			 	  	   <div class="col-md-6">
	 	  			 	  	   	
	 	  			 	  	   		<div class="input-group mb-3">
	 	  			 	  	   			
	 	  			 	  	   			 <div class="input-group-prepend">
	 	  			 	  	   			 	
	 	  			 	  	   			 	  <span class="input-group-text"><i class="fas fa-hand-point-right"></i></span>

	 	  			 	  	   			 </div>

	 	  			 	  	   			 <input type="text" class="form-control" placeholder="Parámetro 2" id="Parametro2" 
	 	  			 	  	   			 ng-model="comando.Parametro2">

	 	  			 	  	   		</div>

	 	  			 	  	   </div>

	 	  			 	  </div>

	 	  			 	  <div class="row">
	 	  			 	  	
	 	  			 	  	   <div class="col-md-6">
	 	  			 	  	   	
	 	  			 	  	   		<div class="input-group mb-3">
	 	  			 	  	   			
	 	  			 	  	   			 <div class="input-group-prepend">
	 	  			 	  	   			 	
	 	  			 	  	   			 	  <span class="input-group-text"><i class="fas fa-hand-point-right"></i></span>

	 	  			 	  	   			 </div>

	 	  			 	  	   			 <input type="text" class="form-control" placeholder="Parámetro 3" id="Parametro3" 
	 	  			 	  	   			 ng-model="comando.Parametro3">

	 	  			 	  	   		</div>

	 	  			 	  	   </div>

	 	  			 	  	   <div class="col-md-6">
	 	  			 	  	   	
	 	  			 	  	   		<div class="input-group mb-3">
	 	  			 	  	   			
	 	  			 	  	   			 <div class="input-group-prepend">
	 	  			 	  	   			 	
	 	  			 	  	   			 	  <span class="input-group-text"><i class="fas fa-hand-point-right"></i></span>

	 	  			 	  	   			 </div>

	 	  			 	  	   			 <input type="text" class="form-control" placeholder="Parámetro 4" id="Parametro4" 
	 	  			 	  	   			 ng-model="comando.Parametro4">

	 	  			 	  	   		</div>

	 	  			 	  	   </div>

	 	  			 	  </div>

	 	  			 	  <div class="row">
	 	  			 	  	
	 	  			 	  	   <div class="col-md-6">
	 	  			 	  	   	
	 	  			 	  	   		<div class="input-group mb-3">
	 	  			 	  	   			
	 	  			 	  	   			 <div class="input-group-prepend">
	 	  			 	  	   			 	
	 	  			 	  	   			 	  <span class="input-group-text"><i class="fas fa-hand-point-right"></i></span>

	 	  			 	  	   			 </div>

	 	  			 	  	   			 <input type="text" class="form-control" placeholder="Parámetro 5" id="Parametro5" 
	 	  			 	  	   			 ng-model="comando.Parametro5">

	 	  			 	  	   		</div>

	 	  			 	  	   </div>

	 	  			 	  </div>

	 	  			 </div>

	 	  		</div>


	 	  		<!--P I E   M O D A L -->
	 	  		<div class="modal-footer">
	 	  			
	 	  			 <div class="container">
	 	  			 	
	 	  			 	  <div class="row" align="center">

	 	  			 	  	   <div class="col-md-12">
	 	  			 	  	   	
	 	  			 	  	   	    <button type="button" class="btn btn-outline-dark" id="boton" data-dismiss="modal">Cancelar</button>

	 	  			 	  	   	    <button type="button" class="btn btn-outline-dark" id="boton" ng-click="add_command(comando)">Guardar</button>

	 	  			 	  	   </div>

	 	  			 	  </div>

	 	  			 </div>

	 	  		</div>

	 	  </div>

	 </div>

</div>


<!-- M O D A L   D E    V I S T A    D E    C O M A N D O S -->
<div class="modal" id="vistaComandos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">}

	<div class="modal-dialog modal-lg" role="document">
		
		 <div class="modal-content">
		 	
		 	  <!-- C A B E C E R A    M O D A L -->
		 	  <div class="modal-header">
		 	  	
		 	  	   <h2 class="modal-title" id="myModalLabel">Comandos</h2>

		 	  	   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		 	  	   	
		 	  	   		   <span aria-hidden="true">X</span>

		 	  	   </button>

		 	  </div>


		 	  <!-- C U E R P O   M O D A L -->
		 	  <div class="modal-body">
		 	  	
		 	  	  <div class="container">
		 	  	  	
		 	  	  	   <div class="table-responsive">
		 	  	  	   	
		 	  	  	   		<table class="table">
		 	  	  	   			
		 	  	  	   			   <tr align="center" style="font-size: 16px;">
			 	  	   	
			 	  	   	   			   <th>Acción</th>

			 	  	   	   			   <th>Comando</th>

			 	  	   	   			   <th>Parámetros</th>

			 	  	   			   </tr>

			 	  	   			   <tr id="cuerpo" align="center" ng-repeat="devicecomando in devicecomandos">
			 	  	   	
			 	  	   				   <td>{{ devicecomando.Accion }}</td>

			 	  	   				   <td>{{ devicecomando.Comando }}</td>

			 	  	   				   <td>{{ devicecomando.Parametro1 }}{{devicecomando.Separador}}{{devicecomando.Comando}}{{devicecomando.Separador}}{{ devicecomando.Parametro2 }}{{devicecomando.Separador}}{{ devicecomando.Parametro3 }}{{devicecomando.Separador}}{{ devicecomando.Parametro4 }}{{devicecomando.Separador}}{{ devicecomando.Parametro5 }}</td>
			 	  	   		
			 	  	   			  </tr>

		 	  	  	   		</table>

		 	  	  	   		<h1 align="center">{{ mensajeD }}</h1>

		 	  	  	   </div>

		 	  	  </div>

		 	  </div>

		 	  <!-- P I E     M O D A L -->
		 	  <div class="modal-footer">
		 	  	
		 	  	   <div class="container">
		 	  	   	
						<div class="row" align="center">

							 <div class="col-md-12">
							 	
							 	  <button type="button" class="btn btn-outline-dark" id="boton" data-dismiss="modal">Cerrar</button>

							 </div>

						</div>

		 	  	   </div>

		 	  </div>

		 </div>

	</div>	

</div>