<section id="main"><!--Inicio de seccion-->


    <div class="container"><!--Inicio container-->
    

      <div class="row flex-md-row-reverse  margin-login" >

        <div class="col-md-6 col-xs-12">
          
             <img src="assets/img/ABG PASSPORT.png" alt="Logo"  id="logo_login"  >

        </div>

        <div class="col-md-6 col-xs-12">

             <div class="login-float">

                  <div class="barra-login"></div>

                  <div class="login-card" >
            
                       <div class="groupregistro">

                            <input ng-model="logear.email" id="email" type="text" style="width: 100%" required >

                            <span class="bar" style="width: 100%"></span>

                            <label >Correo electrónico</label>

                            <input ng-model="logear.password" id="password" type="password" style="width: 100%" required >

                            <span class="bar" style="width: 100%"></span>

                            <label >Password</label>

                            <button class="button primary" ng-click="entrar(logear)">Acceder</button>

                       </div>
            
                  </div>          

             </div>
          
        </div>

        




        
      </div>
  
    </div><!--Fin Container-->

  
</section><!--Fin de seccion-->

 
