<section>
  
    <div class="container" ng-init="get()">
      
        <div class="row">
          
             <div class="col-md-3"></div>

             <div class="col-md-3"></div>

             <div class="col-md-3"></div>

             <div class="col-md-3">
               
                  <div class="pull-rigth">
                    
                       <button class="button primary" data-toggle="modal" data-target="#add_modal">
                         
                              <i class="glyphicon glyphicon-plus-sign mr-2"></i>
                              Agregar

                       </button>

                  </div>

             </div>

        </div>

        <div class="row">
          
             <div class="col-md-6">
               
                  <h2>Contenido</h2>

             </div>

        </div>

        <div class="row">
          
             <div class="table-responsive">
               
                  <table class="table">
                    
                         <tr align="center" style="font-size: 16px;">
                           
                             <th>Nombre</th>

                             <th>Tipo de documento</th>

                             <th class="text-center">Acciones</th>

                         </tr>

                         <tr id="cuerpo" ng-repeat="documento in documentos" align="center">
                              
                              <td>{{documento.Nombre}}</td>

                              <td>{{documento.TipoDocumento}}</td>

                              <td>
                                
                                  <a href="{{documento.Documento}}" target="_blank">
                                    
                                     <i class="fas fa-eye"></i>

                                  </a>

                                  

                              </td>
                         </tr>

                  </table>

                          <h1 align="center"><img ng-src="{{ icono }}">{{ mensaje }}</h1>                          

             </div>

        </div>

    </div>

</section><!--https://www.appsaudi.com.mx/Catalogos/FichasTecnicas2020/Audi_A3_Sedan_2020.pdf-->



<!-- M O D A L    A G R E G A R -->
<div class="modal" id="add_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  
     <div class="modal-dialog modal-lg" role="document">
       
          <div class="modal-content">
            
               <!-- C A B E C E R A    M O D A L -->
               <div class="modal-header">
                 
                    <h2 class="modal-title" id="myModalLabel">Nueva Ficha Técnica</h2>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      
                            <span aria-hidden="true">X</span>

                    </button>

               </div>


               <!-- C U E R P O    M O D A L-->
               <div class="modal-body">
                 
                    <div class="container">
                      
                         <div class="row">
                           
                              <div class="col-md-12">
                                
                                   <div class="input-group mb-3">
                                     
                                        <div class="input-group-prepend">
                                             
                                             <span class="input-group-text"><i class="far fa-file-alt"></i></span>

                                        </div>

                                        <input type="text" class="form-control" placeholder="Nombre documento" id="Nombre" 
                                        ng-model="documento.Nombre">

                                   </div>

                              </div>

                         </div>

                         <div class="row">
                           
                              <div class="col-md-12">
                                
                                   <div class="input-group mb-3">
                                     
                                        <div class="input-group-prepend">
                                             
                                             <span class="input-group-text"><i class="fas fa-folder-open"></i></span>

                                        </div>

                                        <input type="text" class="form-control" placeholder="documento" id="Documento" 
                                        ng-model="documento.Documento">

                                   </div>

                              </div>

                         </div>


                         <div class="row">
                           
                              <div class="col-md-12">
                                
                                  <div class="input-group mb-3">
                                    
                                       <div class="input-group-prepend">
                                         
                                            <span class="input-group-text"><i class="fas fa-text-height"></i></span>

                                       </div>

                                       <select id="nIDTipoDocumento" ng-model="documento.nIDTipoDocumento" class="form-control">
                                          
                                                <option value="" selected disabled>Selecciona Tipo de documento...</option>

                                                <option value="{{tipo.nIDTipoDocumento}}" 
                                                ng-repeat="tipo in tipos">{{tipo.TipoDocumento}}</option>

                                        </select>

                                  </div>

                              </div>

                         </div>

                    </div>

               </div>


               <!-- P I E    M O D A L -->
               <div class="modal-footer">
                 
                    <div class="container">
                      
                         <div class="row" align="center">
                           
                              <div class="col-md-3"></div>

                              <div class="col-md-6">
                                
                                   <button type="button" class="btn btn-outline-dark" id="boton" data-dismiss="modal">Cancelar</button>

                                   <button type="button" class="btn btn-outline-dark" id="boton" ng-click="add(documento)">Guardar</button>

                              </div>

                              <div class="col-md-3"></div>

                         </div>

                    </div>

               </div>


               

          </div>

     </div>

</div>


