<section>
  
    <div class="container" ng-init="get()">
      
         <div class="row">

             <div class="col-md-3"></div>

             <div class="col-md-3"></div>

             <div class="col-md-3"></div>
           
              <div class="col-md-3">
                   
                   <div class="pull-rigth">
                      
                        <button class="button primary" data-toggle="modal" data-target="#add_modal">
                          
                                <i class="glyphicon glyphicon-plus-sign mr-2"></i>
                                Agregar
 
                        </button>

                   </div>

              </div>

         </div>

         <div class="row">
           
              <div class="col-md-12">
                
                   <H2>AUTOMÓVIL</H2>

              </div>

         </div>

         <div class="row">
      
              <div class="col-md-6"></div>

              <div class="col-md-6">
          
                   <div class="input-group mb-3">                  

                        <input type="text" class="form-control" placeholder="Buscar Automovil..." ng-model="search">

                               <div class="input-group-prepend">

                                    <span class="input-group-text"><i class="fas fa-search"></i></span>

                               </div>

                   </div>

              </div>

          </div>

         <div class="table-responsive">
           
              <table class="table">
                
                     <tr align="center" style="font-size: 16px;">
                       
                         <th>Marca</th>

                         <th>Submarca</th>

                         <th>Modelo</th>

                         <th>Versión</th>

                         <th>Año</th>

                         <th>Color</th>

                         <th>No.Placa</th>

                         <th>No. Serie</th>

                         <th>No. Motor</th>

                         <th>No. Puertas</th>

                         <th>Estado</th>

                         <th class="text-center">Acciones</th>

                     </tr>


                     <tr id="cuerpo" ng-repeat="inventario in inventarios | filter : search">
                       
                         <td>{{ inventario.Marca}}</td>

                         <td>{{ inventario.Linea_Submarca}}</td>

                         <td>{{ inventario.Modelo }}</td>

                         <td>{{ inventario.Version }}</td>

                         <td>{{ inventario.Year }}</td>

                         <td>Color 1. {{ inventario.Color1}} <br>Color 2. {{ inventario.Color2}} </td>

                         <td>{{ inventario.Placas }}</td>

                         <td>{{ inventario.NoSerie }}</td>

                         <td>{{ inventario.NoMotor }}</td>

                         <td>{{ inventario.NumeroPuertas }}</td>

                         <td>{{ inventario.Estatus }}</td>

                         <td>
                           
                            <a data-toggle= "modal" data-target="#update_modal" ng-click="show(inventario)">
                              
                                <img src="assets/img/pencil.png">

                            </a>

                            <a ng-click="destroy(inventario.nIDAutomovil)">
                              
                               <img src="assets/img/delete.png">

                            </a>

                            <a data-toggle="modal" data-target="#ficha_modal" ng-click="Ficha(inventario.nIDAutomovil,inventario.Marca,inventario.Modelo,inventario.Placas)">
                                
                               <img src="assets/img/book.png">

                            </a>

                         </td>

                     </tr>

              </table>

                <h1 align="center">{{ mensaje }}</h1>

         </div>

    </div>

</section>

<!-- M O D A L   A G R E G A R -->
<div class="modal" id="add_modal" tabindex="-1" role="dialog" aria-labelledby="myModelLabel">
    
     <div class="modal-dialog modal-lg" role="document">
         
          <div class="modal-content">
              
               <!-- C A B E C E R A   M O D A L -->
               <div class="modal-header">
                   
                    <h2 class="modal-tittle" id="myModelLabel">Nuevo Automóvil</h2>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        
                            <span aria-hidden="true">X</span>

                    </button>

               </div>


               <!-- C U E R P O   M O D A L -->
               <div class="modal-body">
                   
                    <div class="container">
                        
                         <div class="row">
                             
                              <div class="col-md-12">
                                  
                                   <div class="input-group mb-3">
                                       
                                        <div class="input-group-prepend">
                                            
                                             <span class="input-group-text"><i class="fas fa-car"></i></span>

                                        </div>

                                        <input type="text" class="form-control" placeholder="Marca *" id="Marca" 
                                        ng-model="inventario.Marca">

                                   </div>

                              </div>

                         </div>

                         <div class="row">
                             
                              <div class="col-md-12">
                                  
                                   <div class="input-group mb-3">
                                       
                                        <div class="input-group-prepend">
                                            
                                             <span class="input-group-text"><i class="fas fa-car"></i></span>

                                        </div>

                                        <input type="text" class="form-control" placeholder="Submarca *" id="Submarca"
                                        ng-model="inventario.Submarca">

                                   </div>

                              </div>

                         </div>

                         <div class="row">
                             
                              <div class="col-md-12">
                                  
                                   <div class="input-group mb-3">
                                       
                                        <div class="input-group-prepend">
                                            
                                             <span class="input-group-text"><i class="fas fa-car"></i></span>

                                        </div>

                                        <input type="text" class="form-control" placeholder="Modelo *" id="Modelo"
                                        ng-model="inventario.Modelo">

                                   </div>

                              </div>

                         </div>

                         <div class="row">
                             
                              <div class="col-md-6">
                                  
                                   <div class="input-group mb-3">
                                       
                                        <div class="input-group-prepend">
                                            
                                             <span class="input-group-text"><i class="fab fa-bandcamp"></i></span>

                                        </div>

                                        <input type="text" class="form-control" placeholder="Versión *" id="Version"
                                        ng-model="inventario.Version">

                                   </div>

                              </div>

                              <div class="col-md-6">
                                
                                   <div class="input-group mb-3">
                                     
                                        <div class="input-group-prepend">
                                          
                                             <span class="input-group-text"><i class="fas fa-vote-yea"></i></span>

                                        </div>

                                        <input type="text" class="form-control" placeholder="Año *" id="Year"
                                        ng-model="inventario.Year">

                                   </div>

                              </div>

                         </div>


                         <div class="row">
                             
                              <div class="col-md-6">
                                  
                                   <div class="input-group mb-3">
                                       
                                        <div class="input-group-prepend">
                                            
                                             <span class="input-group-text"><i class="fas fa-palette"></i></span>

                                        </div>

                                        <input type="text" class="form-control" placeholder="Color 1 *" id="Color1"
                                        ng-model="inventario.Color1">

                                   </div>

                              </div>

                              <div class="col-md-6">
                                  
                                   <div class="input-group mb-3">
                                       
                                        <div class="input-group-prepend">
                                            
                                             <span class="input-group-text"><i class="fas fa-palette"></i></span>

                                        </div>

                                        <input type="text" class="form-control" placeholder="Color 2" id="Color2"
                                        ng-model="inventario.Color2">

                                   </div>

                              </div>

                         </div>

                         <div class="row">
                             
                              <div class="col-md-6">
                                  
                                   <div class="input-group mb-3">
                                       
                                        <div class="input-group-prepend">
                                            
                                             <span class="input-group-text"><i class="fas fa-id-card-alt"></i></span>

                                        </div>

                                        <input type="text" class="form-control" placeholder="Número de placa *" id="Placas"
                                        ng-model="inventario.Placas">

                                   </div>

                              </div>

                              <div class="col-md-6">
                                  
                                   <div class="input-group mb-3">
                                       
                                        <div class="input-group-prepend">
                                            
                                             <div class="input-group-text"><i class="fas fa-sort-numeric-up-alt"></i></div>

                                        </div>

                                        <input type="text" class="form-control" placeholder="Número de serie *" maxlength="17" id="NoSerie"
                                        ng-model="inventario.NoSerie">

                                   </div>

                              </div>

                         </div>

                         <div class="row">
                             
                              <div class="col-md-6">
                                  
                                   <div class="input-group mb-3">
                                       
                                        <div class="input-group-prepend">
                                            
                                             <span class="input-group-text"><i class="fas fa-sort-numeric-up-alt"></i></span>

                                        </div>

                                        <input type="text" class="form-control" placeholder="Número de motor *" id="NoMotor"
                                        ng-model="inventario.NoMotor">

                                   </div>

                              </div>

                              <div class="col-md-6">
                                  
                                   <div class="input-group mb-3">
                                       
                                        <div class="input-group-prepend">
                                            
                                             <span class="input-group-text"><i class="fas fa-sort-numeric-up-alt"></i></span>

                                        </div>

                                        <input type="text" class="form-control" placeholder="Número de puertas *" id="NumeroPuertas"
                                        ng-model="inventario.NumeroPuertas">

                                   </div>

                              </div>

                         </div>

                         <div class="row">

                            <div class="col-md-6">
                             
                             <div class="input-group mb-3">
                                 
                                  <div class="input-group-prepend">
                                      
                                      <span class="input-group-text"><i class="fas fa-toggle-on"></i></span>

                                  </div>

                                  <select id="Estatus" ng-model="inventario.Estatus" class="form-control">
                                          
                                          <option value="" selected disabled>Seleccione estatus *...</option>
                                          <option value="DISPONIBLE">Disponible</option>
                                          <option value="OCUPADO">Ocupado</option>
                                          <option value="MANTENIMIENTO">Mantenimiento</option>

                                  </select>

                             </div>

                         </div>

                         <div class="col-md-6">
                                 
                                    <div class="input-group mb-3">
                                      
                                         <div class="input-group-prepend">
                                           
                                              <span class="input-group-text"><i class="fas fa-image"></i></span>

                                         </div>

                                         <input type="file" id="Imagen" placeholder="Selecciona una imagen *" class="form-control" ng-model="inventario.Imagen">

                                    </div>

                               </div>

                         </div>

                         <div class="row">
                           <div class="col-md-6">
                             <div class="input-group mb-3">
                               <div class="input-group-prepend">
                                 <span class="input-group-text"><i class="FAS fa-image"></i></span>
                               </div>
                               <input type="text" id="diasRenta" name="diasRenta" placeholder="Renta de auto (Días)." class="form-control" ng-model="inventario.MaxDiasRenta">
                             </div>
                           </div>
                         </div>

                         <div class="row">
                            
                               <div class="col-md-12">
                                 
                                    <div id="VistaImagen">
                                      
                                         <embed id="doc" src="" width="100%" height="100%"></embed>

                                    </div>

                               </div>

                          </div>

                    </div>

               </div>


               <!-- P I E    M O D A L -->
               <div class="modal-footer">
                   
                    <div class="container">
                        
                         <div class="row" align="center">

                              <div class="col-md-12">
                                  
                                   <button type="button" class="btn btn-outline-dark" id="boton" data-dismiss="modal">Cancelar</button>

                                   <button type="button" class="btn btn-outline-dark" id="boton"ng-click="add(inventario)">Guardar</button>

                              </div>

                         </div>

                    </div>

               </div>

          </div>

     </div>

</div> 


<!-- M O D A L   M O D I F I C A R  -->
<div class="modal" id="update_modal" tabindex="-1" role="dialog" aria-labelledby="myModelLabel">
    
     <div class="modal-dialog modal-lg" role="document">
         
          <div class="modal-content">
              
               <!-- C A B E C E R A   M O D A L -->
               <div class="modal-header">
                   
                    <h2 class="modal-tittle" id="myModelLabel">Actualizar Automóvil</h2>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        
                            <span aria-hidden="true">X</span>

                    </button>

               </div>


               <!-- C U E R P O   M O D A L -->
               <div class="modal-body">
                   
                    <div class="container">
                        
                         <div class="row">
                             
                              <div class="col-md-12">
                                  
                                   <div class="input-group mb-3">
                                       
                                        <div class="input-group-prepend">
                                            
                                             <span class="input-group-text"><i class="fas fa-car"></i></span>

                                        </div>

                                        <input type="text" class="form-control" placeholder="Marca" id="MarcaEdit" 
                                        ng-model="inventarioEdit.Marca">

                                   </div>

                              </div>

                         </div>

                         <div class="row">
                             
                              <div class="col-md-12">
                                  
                                   <div class="input-group mb-3">
                                       
                                        <div class="input-group-prepend">
                                            
                                             <span class="input-group-text"><i class="fas fa-car"></i></span>

                                        </div>

                                        <input type="text" class="form-control" placeholder="Submarca" id="SubmarcaEdit"
                                        ng-model="inventarioEdit.Submarca">

                                   </div>

                              </div>

                         </div>

                         <div class="row">
                             
                              <div class="col-md-12">
                                  
                                   <div class="input-group mb-3">
                                       
                                        <div class="input-group-prepend">
                                            
                                             <span class="input-group-text"><i class="fas fa-car"></i></span>

                                        </div>

                                        <input type="text" class="form-control" placeholder="Modelo" id="ModeloEdit"
                                        ng-model="inventarioEdit.Modelo">

                                   </div>

                              </div>

                         </div>

                         <div class="row">
                             
                              <div class="col-md-6">
                                  
                                   <div class="input-group mb-3">
                                       
                                        <div class="input-group-prepend">
                                            
                                             <span class="input-group-text"><i class="fab fa-bandcamp"></i></span>

                                        </div>

                                        <input type="text" class="form-control" placeholder="Versión" id="VersionEdit"
                                        ng-model="inventarioEdit.Version">

                                   </div>

                              </div>

                              <div class="col-md-6">
                                
                                   <div class="input-group mb-3">
                                     
                                        <div class="input-group-prepend">
                                          
                                             <span class="input-group-text"><i class="fas fa-vote-yea"></i></span>

                                        </div>

                                        <input type="text" class="form-control" placeholder="Año" id="Year"
                                        ng-model="inventarioEdit.Year">

                                   </div>

                              </div>

                         </div>


                         <div class="row">
                             
                              <div class="col-md-6">
                                  
                                   <div class="input-group mb-3">
                                       
                                        <div class="input-group-prepend">
                                            
                                             <span class="input-group-text"><i class="fas fa-palette"></i></span>

                                        </div>

                                        <input type="text" class="form-control" placeholder="Color 1" id="Color1Edit"
                                        ng-model="inventarioEdit.Color1">

                                   </div>

                              </div>

                              <div class="col-md-6">
                                  
                                   <div class="input-group mb-3">
                                       
                                        <div class="input-group-prepend">
                                            
                                             <span class="input-group-text"><i class="fas fa-palette"></i></span>

                                        </div>

                                        <input type="text" class="form-control" placeholder="Color 2" id="Color2Edit"
                                        ng-model="inventarioEdit.Color2">

                                   </div>

                              </div>

                         </div>

                         <div class="row">
                             
                              <div class="col-md-6">
                                  
                                   <div class="input-group mb-3">
                                       
                                        <div class="input-group-prepend">
                                            
                                             <span class="input-group-text"><i class="fas fa-id-card-alt"></i></span>

                                        </div>

                                        <input type="text" class="form-control" placeholder="Número de placa" id="PlacasEdit"
                                        ng-model="inventarioEdit.Placas">

                                   </div>

                              </div>

                              <div class="col-md-6">
                                  
                                   <div class="input-group mb-3">
                                       
                                        <div class="input-group-prepend">
                                            
                                             <div class="input-group-text"><i class="fas fa-sort-numeric-up-alt"></i></div>

                                        </div>

                                        <input type="text" class="form-control" placeholder="Número de serie" id="NoSerieEdit"
                                        ng-model="inventarioEdit.NoSerie">

                                   </div>

                              </div>

                         </div>

                         <div class="row">
                             
                              <div class="col-md-6">
                                  
                                   <div class="input-group mb-3">
                                       
                                        <div class="input-group-prepend">
                                            
                                             <span class="input-group-text"><i class="fas fa-sort-numeric-up-alt"></i></span>

                                        </div>

                                        <input type="text" class="form-control" placeholder="Número de motor" id="NoMotorEdit"
                                        ng-model="inventarioEdit.NoMotor">

                                   </div>

                              </div>

                              <div class="col-md-6">
                                  
                                   <div class="input-group mb-3">
                                       
                                        <div class="input-group-prepend">
                                            
                                             <span class="input-group-text"><i class="fas fa-sort-numeric-up-alt"></i></span>

                                        </div>

                                        <input type="text" class="form-control" placeholder="Número de puertas" id="NumeroPuertasEdit"
                                        ng-model="inventarioEdit.NumeroPuertas">

                                   </div>

                              </div>

                         </div>

                         <div class="row">

                            <div class="col-md-6">
                             
                             <div class="input-group mb-3">
                                 
                                  <div class="input-group-prepend">
                                      
                                      <span class="input-group-text"><i class="fas fa-toggle-on"></i></span>

                                  </div>

                                  <select id="EstatusEdit" ng-model="inventarioEdit.Estatus" class="form-control">
                                          
                                          <option value="" selected disabled>Seleccione estatus...</option>
                                          <option value="DISPONIBLE">Disponible</option>
                                          <option value="OCUPADO">Ocupado</option>
                                          <option value="MANTENIMIENTO">Mantenimiento</option>

                                  </select>

                             </div>

                         </div>

                          <div class="col-md-6">
                                 
                                    <div class="input-group mb-3">
                                      
                                         <div class="input-group-prepend">
                                           
                                              <span class="input-group-text"><i class="fas fa-image"></i></span>

                                         </div>

                                         <input type="file" id="ImagenEdit" class="form-control" ng-model="inventarioEdit.Imagen">

                                    </div>

                               </div>


                         </div>

                         <div class="row">
                           <div class="col-md-6">
                             <div class="input-group mb-3">
                               <div class="input-group-prepend">
                                 <span class="input-group-text"><i class="FAS fa-image"></i></span>
                               </div>
                               <input type="text" id="diasRenta" name="diasRenta" placeholder="Renta de auto (Días)." class="form-control" ng-model="inventarioEdit.MaxDiasRenta">
                             </div>
                           </div>
                         </div>

                         <div class="row">
                            
                               <div class="col-md-12">
                                 
                                    <div id="VistaImagenEdit">
                                      
                                         <embed id="docEdit" src="" width="100%" height="100%"></embed>

                                    </div>

                               </div>

                          </div>

                    </div>

               </div>


               <!-- P I E    M O D A L -->
               <div class="modal-footer">
                   
                    <div class="container">
                        
                         <div class="row" align="center">

                              <div class="col-md-12">
                                  
                                   <button type="button" class="btn btn-outline-dark" id="boton" data-dismiss="modal">Cancelar</button>

                                   <button type="button" class="btn btn-outline-dark" id="boton"ng-click="update(inventarioEdit)">Guardar</button>

                              </div>

                         </div>

                    </div>

               </div>

          </div>

     </div>

</div> 


<!--D E T A L L E S     M O D A L -->
<div class="modal" id="ficha_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  
     <div class="modal-dialog modal-xl" role="document">
       
          <div class="modal-content">


               <!-- M O D A L    H E A D E R -->
               <div class="modal-header">
                 
                    <h2 class="modal-title" id="myModalLabel">Detalle de {{Marca}} {{Modelo}} / {{ Placas }}</h2>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      
                            <span aria-hidden="true">X</span>

                    </button>

               </div>

               <!-- M O D A L    B O D Y -->
               <div class="modal-body">

                  <div class="container">

                       <div class="row">  

                            <div class="col-md-12">   

                                      <ul class="nav nav-tabs" role="tablist"> 

                                          <li class="nav-item">

                                            <a class="nav-link active" data-target="#bitacora" aria-controls="seccion1" data-toggle="tab">Historial</a>

                                          </li>
                                          
                                          <li class="nav-item">

                                            <a class="nav-link" data-target="#ficha_mantenimiento" aria-controls="seccion2" data-toggle="tab">Fichas de mantenimiento</a>

                                          </li>
                                          
                                          <li class="nav-item">

                                            <a class="nav-link" data-target="#Gps" aria-controls="seccion3" data-toggle="tab">GPS</a>

                                          </li>

                                          <li class="nav-item">
                                            
                                              <a class="nav-link" data-target="#misviajes" aria-controls="seccion4" data-toggle="tab">Mis viajes</a>

                                          </li>

                                      </ul>

                                      <div class="tab-content"> 

                                           <div class="container tab-pane active" id="bitacora">
                                             
                                                <div class="row">
                                                  
                                                     <div class="col-md-12">
                                                       
                                                          <h3>Historial {{Marca}} {{Modelo}} / {{ Placas }}</h3>

                                                     </div>

                                                </div><br>

                                                <div class="row">
                                                  
                                                     <div class="col-md-6"></div>

                                                     <div class="col-md-6"> 

                                                          <div class="input-group mb-3">                  

                                                              <input type="text" class="form-control" placeholder="Buscar..." ng-model="search">

                                                                    <div class="input-group-prepend">

                                                                        <span class="input-group-text"><i class="fas fa-search"></i></span>

                                                                    </div>

                                                          </div>

                                                     </div>

                                                </div>

                                                <div class="row">
                                                  
                                                     <div class="table-responsive" id="TablaContactos">
                                                       
                                                          <table class="table">
                                                            
                                                                <tr align="center" style="font-size: 16px;">
                                                                  
                                                                    <th>Nombre Cliente</th>

                                                                    <th>Domicilio recepción</th>

                                                                    <th>Fecha y Hora Inicio</th>

                                                                    <th>Kilometraje Inicio</th>

                                                                    <th>Fecha y Hora Fin</th>

                                                                    <th>Kilometraje Fin</th>

                                                                    <th>Estado</th>

                                                                </tr>

                                                                <tr id="cuerpo" ng-repeat="historial in historiales | filter: search" align="center"> 
                                                                  
                                                                    <td>{{historial.Nombre}}</td>

                                                                    <td>{{historial.Calle}} {{ historial.NoExterior}}</td>

                                                                    <td>{{historial.FechaHora}}</td>

                                                                    <td>{{historial.KilometrajeInicio}}</td>

                                                                    <td>{{historial.FechaFin}}</td>

                                                                    <td>{{historial.KilometrajeFin}}</td>

                                                                    <td>{{historial.Estatus}}</td>

                                                                </tr>

                                                          </table>

                                                          <h1 align="center">{{mensajeH}}</h1>

                                                     </div>

                                                </div> 

                                           </div>

                                           <div class="container tab-pane" id="ficha_mantenimiento">
                                                <div class="row">
                                                  
                                                     <div class="col-md-6">
                                                       
                                                          <h3>FICHAS DE MANTENIMIENTO</h3>

                                                     </div>

                                                     <div class="col-md-6" align="right">
                                                       
                                                          <button class="btn btn-outline-primary" ng-click="mostrar()"><i class="fas fa-plus-circle mr-3"></i>Nueva Ficha</button>

                                                     </div>

                                                </div><br>

                                                <div class="row">
                                                  
                                                     <div class="col-md-6"></div>

                                                     <div class="col-md-6"> 

                                                          <div class="input-group mb-3">                  

                                                              <input type="text" class="form-control" placeholder="Buscar Ficha..." ng-model="search">

                                                                    <div class="input-group-prepend">

                                                                        <span class="input-group-text"><i class="fas fa-search"></i></span>

                                                                    </div>

                                                          </div>

                                                     </div>

                                                </div>
                                                
                                                <div id="Visible">

                                                     <div class="row" align="center">
                                                  
                                                          <div class="col-md-12">
                                                       
                                                               <label>Datos de la ficha</label>

                                                          </div>

                                                     </div>

                                                     <div class="row">
                                                       
                                                          <div class="col-md-6"></div>
                                                          <div class="col-md-6">
                                                            
                                                               <div class="input-group mb-3">
                                                                 
                                                                    <div class="input-group-prepend">
                                                                      
                                                                         <span class="input-group-text"><i class="fas fa-calendar-check"></i></span>

                                                                    </div>

                                                                    <input type="date" class="form-control" id="Fecha" ng-model="ficha.Fecha">

                                                               </div>

                                                          </div>

                                                     </div>

                                                     <div class="row">
                                                       
                                                          <div class="col-md-12">
                                                            
                                                               <div class="input-group mb-3">
                                                                 
                                                                    <div class="input-group-prepend">
                                                                      
                                                                         <span class="input-group-text"><i class="fas fa-user"></i></span>

                                                                    </div>

                                                                    <input type="text" class="form-control" id="Nombre" placeholder="Nombre mecanico" ng-model="ficha.Nombre">

                                                               </div>

                                                          </div>

                                                     </div>


                                                     <div class="row">
                                                       
                                                          <div class="col-md-12">
                                  
                                                                <div class="input-group mb-3">
                                       
                                                                      <div class="input-group-prepend">
                                            
                                                                           <span class="input-group-text"><i class="fas fa-text-height"></i></span>

                                                                      </div>

                                                                      <input type="text" class="form-control" placeholder="Trabajo ó servicio" id="Trabajo" ng-model="ficha.Trabajo">

                                                                </div>

                                                          </div>

                                                     </div>

                                                     <div class="row">
                             
                                                          <div class="col-md-6">
                                      
                                                               <div class="input-group mb-3">
                                       
                                                                    <div class="input-group-prepend">
                                            
                                                                         <span class="input-group-text"><i class="fas fa-tachometer-alt"></i></span>

                                                                    </div>

                                                                    <input type="text" class="form-control" placeholder="Kilometraje" id="Kilometraje" ng-model="ficha.Kilometraje">

                                                              </div>

                                                          </div>

                                                          <div class="col-md-6">
                                  
                                                               <div class="input-group mb-3">
                                       
                                                                    <div class="input-group-prepend">
                                            
                                                                         <span class="input-group-text"><i class="fas fa-money-check-alt"></i></span>

                                                                    </div>

                                                                    <input type="text" class="form-control" placeholder="Costo" id="Costo" ng-model="ficha.Costo">

                                                              </div>

                                                          </div>

                                                      </div>

                                                      <div class="row">
                             
                                                           <div class="col-md-12">
                                  
                                                                <div class="input-group mb-3">
                                       
                                                                     <div class="input-group-prepend">
                                            
                                                                          <span class="input-group-text"><i class="fas fa-sticky-note"></i></span>

                                                                    </div>

                                                                    <textarea class="form-control" rows="3" placeholder="Notas" id="Nota" ng-model="ficha.Notas"></textarea>

                                                                </div>

                                                          </div>

                                                      </div>

                                                      <div class="row">
                           
                                                          <div class="col-md-12" align="right"> 

                                                               <button type="button" class="btn-outline-dark" id="boton" ng-click="addFicha(ficha)">Guardar</button>

                                                               <button type="button" class="btn-outline-dark" id="boton" ng-click="cleanFicha(ficha.nIDAutomovil)">Cancelar</button>

                                                          </div>

                                                      </div>

                                                      <hr style="border-color: #044BFD; ">

                                                </div>

                                                <div id="VisibleModificar">

                                                     <div class="row" align="center">
                                 
                                                          <div class="col-md-12">
                                      
                                                               <label>Modificar ficha</label>

                                                          </div>

                                                     </div>
                        
                                                     <div class="row">

                                                         <div class="col-md-6"></div>
                             
                                                         <div class="col-md-6">
                                  
                                                              <div class="input-group mb-3">
                                       
                                                                   <div class="input-group-prepend">
                                            
                                                                        <span class="input-group-text"><i class="fas fa-calendar-check"></i></span>

                                                                   </div>

                                                                   <input type="date" class="form-control" id="FechaEdit" ng-model="fichaEdit.Fecha">

                                                              </div>

                                                         </div>

                                                    </div>

                                                    <div class="row">
                             
                                                         <div class="col-md-12">
                                  
                                                              <div class="input-group mb-3">
                                       
                                                                   <div class="input-group-prepend">
                                            
                                                                        <span class="input-group-text"><i class="fas fa-user"></i></span>

                                                                   </div>

                                                                   <input type="text" class="form-control" placeholder="Nombre mecanico" id="NombreEdit" ng-model="fichaEdit.Nombre">

                                                              </div>

                                                        </div>

                                                    </div>                         

                                                    <div class="row">
                             
                                                         <div class="col-md-12">
                                  
                                                              <div class="input-group mb-3">
                                       
                                                                   <div class="input-group-prepend">
                                            
                                                                        <span class="input-group-text"><i class="fas fa-text-height"></i></span>

                                                                   </div>

                                                                  <input type="text" class="form-control" placeholder="Trabajo ó servicio" id="TrabajoEdit" ng-model="fichaEdit.Trabajo">

                                                              </div>

                                                         </div>

                                                    </div>

                                                    <div class="row">
                             
                                                         <div class="col-md-6">
                                  
                                                              <div class="input-group mb-3">
                                       
                                                                   <div class="input-group-prepend">
                                            
                                                                        <span class="input-group-text"><i class="fas fa-tachometer-alt"></i></span>

                                                                   </div>

                                                                    <input type="text" class="form-control" placeholder="Kilometraje" id="KilometrajeEdit" ng-model="fichaEdit.Kilometraje">

                                                              </div>

                                                         </div>

                                                         <div class="col-md-6">
                                  
                                                              <div class="input-group mb-3">
                                       
                                                                   <div class="input-group-prepend">
                                            
                                                                        <span class="input-group-text"><i class="fas fa-money-check-alt"></i></span>

                                                                   </div>

                                                                   <input type="text" class="form-control" placeholder="Costo" id="CostoEdit" ng-model="fichaEdit.Costo">

                                                              </div>

                                                         </div>

                                                    </div>

                                                    <div class="row">
                             
                                                         <div class="col-md-12">
                                  
                                                              <div class="input-group mb-3">
                                       
                                                                   <div class="input-group-prepend">
                                            
                                                                        <span class="input-group-text"><i class="fas fa-sticky-note"></i></span>

                                                                   </div>

                                                                   <textarea class="form-control" rows="3" placeholder="Notas" id="NotaEdit" ng-model="fichaEdit.Notas"></textarea>

                                                              </div>

                                                         </div>

                                                    </div>

                                                    <div class="row">
                           
                                                         <div class="col-md-12" align="right"> 

                                                              <button type="button" class="btn-outline-dark" id="boton" ng-click="updateFicha(fichaEdit)">Modificar</button>

                                                              <button type="button" class="btn-outline-dark" id="boton" ng-click="cleanEditFicha(fichaEdit.nIDAutomovil)">Cancelar</button>

                                                         </div>

                                                    </div>

                                                    <hr style="border-color: #044BFD; ">

                                                </div>

                                                <div class="row">
                          
                                                    <div class="table-responsive" id="TablaContactos">
                               
                                                        <table class="table">
                                    
                                                              <tr align="center" style="font-size: 16px;">
                                           
                                                                  <th>Mecanico</th>

                                                                  <th>Trabajo</th>

                                                                  <th>Kilometraje</th>

                                                                  <th>Costo</th>

                                                                  <th>Notas</th>

                                                                  <th>Acciones</th>

                                                              </tr>

                                                              <tr id="cuerpo" ng-repeat="ficha in fichas | filter : search" align="center">
                                           
                                                                  <td>{{ficha.Nombre}}</td>

                                                                  <td>{{ficha.Trabajo_Servicio}}</td>

                                                                  <td>{{ficha.Kilometraje}}</td>

                                                                  <td>{{ficha.Costo}}</td>

                                                                  <td>{{ficha.Nota}}</td>

                                                                  <td>
                                               
                                                                      <a ng-click="showFicha(ficha)">
                                                   
                                                                        <img src="assets/img/pencil.png">

                                                                      </a>

                                                                      <a ng-click="destroyFicha(ficha.nIDFichaMantenimiento,ficha.nIDAutomovil)">
                                                   
                                                                        <img src="assets/img/delete.png">

                                                                      </a>

                                                                  </td>

                                                              </tr>

                                                        </table>

                                                            <h1 align="center">{{mensajeF}}</h1>

                                                </div>

                                              </div>

                                           </div>

                                           <div class="container tab-pane" id="Gps">
                                             
                                                <div class="row">
                                                  
                                                     <div class="col-md-12">
                                                       
                                                          <h3>GPS ASIGNADO</h3>

                                                     </div>

                                                </div>

                                                <div class="row">
                                                  
                                                     <div class="col-md-4" align="right">
                                                       
                                                          <h4>Modelo : </h4> 

                                                     </div>
                                                     <div class="col-md-8">
                                                       
                                                          <h4>{{ Nombre }}</h4>

                                                     </div>

                                                </div>
                                                
                                                <div class="row">
                                                  
                                                     <div class="col-md-4" align="right">
                                                       
                                                          <h4>Placas : </h4> 

                                                     </div>
                                                     <div class="col-md-8">
                                                       
                                                          <h4>{{ placas }}</h4>

                                                     </div>

                                                </div>

                                                <div class="row">
                                                  
                                                     <div class="col-md-4" align="right">
                                                       
                                                          <h4>IMEI : </h4> 

                                                     </div>
                                                     <div class="col-md-8">
                                                       
                                                          <h4>{{ Imei }}</h4>

                                                     </div>

                                                </div>

                                                <div class="row">
                                                  
                                                     <div class="col-md-4" align="right">
                                                       
                                                          <h4>Número celular : </h4> 

                                                     </div>
                                                     <div class="col-md-8">
                                                       
                                                          <h4>{{ Lada }} {{Celular}}</h4>

                                                     </div>

                                                </div>

                                                <div class="row">
                                                  
                                                     <div class="col-md-4" align="right">
                                                       
                                                       <h4>Número de confianza : </h4> 

                                                     </div>
                                                     <div class="col-md-8">
                                                       
                                                          <h4>{{ Numero_Confianza }}</h4>

                                                     </div>

                                                </div>

                                                <div class="row">
                                                  
                                                     <div class="col-md-4" align="right">
                                                       
                                                          <h4>Fecha y hora de asignación: </h4> 

                                                     </div>
                                                     <div class="col-md-8">
                                                       
                                                          <h4>{{FechaCreacion}}</h4>

                                                     </div>

                                                </div>

                                           </div>

                                           <div class="container tab-pane" id="misviajes">
                                             
                                               <div class="row">
                                                 
                                                    <div class="col-md-6">
                                                      
                                                         <h3>Mis viajes</h3>

                                                    </div>

                                                    <div class="col-md-6">
                                                      
                                                

                                                    </div>

                                               </div><br>

                                               <div class="row">
                                                 
                                                    <div class="table-responsive" id="TablaContactos">
                                                      
                                                         <table class="table">
                                                           
                                                                <tr align="center" style="font-size: 16px;">
                                                                  
                                                                    <th>Fecha y Hora</th>

                                                                    <th>Acción</th>

                                                                </tr>

                                                                <tr id="cuerpo" ng-repeat="vista in vistas" align="center">
                                                                  
                                                                    <th>{{ vista.Fecha  }}</th>

                                                                    <th>
                                                                      
                                                                      <button ng-click="mapas(vista.Identificador,vista.Fecha)" class="btn btn-outline-primary"   data-toggle= "modal" data-target="#mapa_modal">  

                                                                        <i class="fas fa-map-marker-alt"></i>

                                                                          Ubicaciones

                                                                      </button>

                                                                    </th>

                                                                </tr>

                                                         </table>

                                                    </div>

                                               </div>

                                           </div>

                                      </div>
            
                            </div>

                       </div>
                  
                  </div>

               </div>              

               <!-- M O D A L   F O O T E R -->
               <div class="modal-footer">
                 
                    <div class="container">
                      
                         <div class="row" align="center">
                           
                              <div class="col-md-12">
                                
                                   <button class="button primary" data-dismiss="modal">Cerrar</button>

                              </div>

                         </div>

                    </div>

               </div>

          </div>

     </div>

</div>


<!-- M O D A L   A G R E G A R -->
<div class="modal" id="mapa_modal" tabindex="-1" role="dialog" aria-labelledby="myModelLabel">
    
     <div class="modal-dialog modal-lg" role="document">
         
          <div class="modal-content">
              
               <!-- C A B E C E R A   M O D A L -->
               <div class="modal-header">
                   
                    <h2 class="modal-tittle" id="myModelLabel">Ubicaciones</h2>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        
                            <span aria-hidden="true">X</span>

                    </button>

               </div>


               <!-- C U E R P O   M O D A L -->
               <div class="modal-body">
                   
                    <div class="container">
                                
                                  <div id="mapa"></div>


                    </div>

               </div>


               <!-- P I E    M O D A L -->
               <div class="modal-footer">
                   
                    <div class="container">
                        
                         <div class="row" align="center">

                              <div class="col-md-12">
                                  
                                   <button type="button" class="btn btn-outline-dark" id="boton" data-dismiss="modal">Cerrar</button>

                              </div>

                         </div>

                    </div>

               </div>

          </div>

     </div>

</div> 


