<section>
  
      <div class="container" ng-init = "get()">
        
           <div class="row">
             
                <div class="col-md-6">
                  
                     <h2>SOLICITUDES POR ENTREGAR</h2>

                </div>

           </div>

           <div class="row">
             
                <div class="table-responsive">
                  
                     <table class="table">
                       
                            <tr align="center" style="font-size: 16px;">
                              
                                <th>Solicitante</th>

                                <th>Automovil</th>

                                <th>Chofer</th>

                                <th>Domicilio</th>

                                <th>Fecha y Hora</th>

                                <th>Notas</th>

                                <th>Acción</th>

                            </tr>

                            <tr id="cuerpo" ng-repeat="solicitud in solicitudes"  align="center">
                              
                                <td>{{solicitud.Nombre}} <br> {{solicitud.Celular}}</td>

                                <td>{{solicitud.Marca}} {{solicitud.Modelo}} <br>No.Placa {{solicitud.Placas}}</td>

                                <td>{{solicitud.NombreChofer}} <br> {{solicitud.Celular}}</td>

                                <td>{{solicitud.Calle}} {{solicitud.NoExterior}}</td>

                                <td>{{solicitud.FechaHora}}</td>

                                <td>{{solicitud.Notas}}</td>

                                <td>
                                  
                                    <button class="btn btn-outline-primary" class="boton" ng-click = "Estado(solicitud.nIDSolicitud,solicitud.nIDCliente)"><i class="fas fa-check mr-2"></i>EN RUTA</button>


                                </td>

                            </tr>

                     </table>

                     <br><h1 class="text-center">{{Titulo}}</h1>

                </div>

           </div>

      </div>

</section>