<section>
  
      <div class="container" ng-init="get()">
        
           <div class="row">
             
                <div class="col-md-6">
                  
                     <h2>ESTADO DE LOS VEHICULOS SOLICITADOS</h2>

                </div>

           </div>

           <div class="row">
      
              <div class="col-md-6"></div>

              <div class="col-md-6">
          
                   <div class="input-group mb-3">                  

                        <input type="text" class="form-control" placeholder="Buscar..." ng-model="search">

                                <div class="input-group-prepend">

                                     <span class="input-group-text"><i class="fas fa-search"></i></span>

                                </div>

                   </div>

              </div>

         </div>

           <div class="row">
             
                <div class="table-responsive">
                  
                     <table class="table">
                       
                            <tr align="center" style="font-size: 16px;">
                              
                                <th>Solicitante</th>

                                <th>Automovil</th>

                                <th>Chofer</th>

                                <th>Domicilio</th>

                                <th>Fecha y Hora</th>

                                <th>Notas</th>

                                <th>Estado</th>

                            </tr>

                            <tr id="cuerpo" ng-repeat="solicitud in solicitudes | filter : search"  align="center"
                            data-toggle="modal" data-target="#modalImagenes" ng-click="imagenes(solicitud.nIDSolicitud)">
                              
                                <td>{{solicitud.Nombre}} <br> {{solicitud.Celular}}</td>

                                <td>{{solicitud.Marca}} {{solicitud.Modelo}} <br>No.Placa {{solicitud.Placas}}</td>

                                <td>{{solicitud.NombreChofer}} <br>{{solicitud.CelularChofer}}</td>

                                <td>{{solicitud.Calle}} {{solicitud.NoExterior}}</td>

                                <td>{{solicitud.FechaHora}}</td>

                                <td>{{solicitud.Notas}}</td>

                                <td>{{solicitud.Estatus}}</td>

                            </tr>

                     </table>

                     <br><h1 class="text-center">{{Titulo}}</h1>

                </div>

           </div>

      </div>

</section>

<div class="modal" id="modalImagenes" tabindex="-1" role="dialog" aria-labelledby="modalImagenesLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalImagenesLabel">Imagenes de entrega</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" >
          <div id="carousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carousel" data-slide-to="0" class="active"></li>
              <li data-target="#carousel" data-slide-to="1"></li>
              <li data-target="#carousel" data-slide-to="2"></li>
              <li data-target="#carousel" data-slide-to="3"></li>
              <li data-target="#carousel" data-slide-to="4"></li>
              <li data-target="#carousel" data-slide-to="5"></li>
              <li data-target="#carousel" data-slide-to="6"></li>
              <li data-target="#carousel" data-slide-to="7"></li>
            </ol>

            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="APIMovil{{Imgs}}/imgFrente.jpeg" class="d-block w-100" alt="imagen Frontal" height="400px">
                <div class="carousel-caption d-none d-md-block" ></div>
                  <div class="contenido"><h4 style="color: white;text-align: center;">Imagen frontal del vehículo</h4></div>
                
              </div>
            
              <div class="carousel-item">
                <img src="APIMovil{{Imgs}}/imgAtras.jpeg" class="d-block w-100" alt="imagen Trasera" height="400px">
                <div class="carousel-caption d-none d-md-block"></div>
                  <div class="contenido"><h4 style="color: white;text-align: center;">Imagen trasera del vehículo</h4></div>
                
              </div>
              <div class="carousel-item">
                <img src="APIMovil{{Imgs}}/imgDerecha.jpeg" class="d-block w-100" alt="imagen lateral Derecho" height="400px">
                <div class="carousel-caption d-none d-md-block" ></div>
                  <div class="contenido"><h4 style="color: white;text-align: center;">Imagen lateral derecho del vehículo</h4></div>
                
              </div>
              <div class="carousel-item">
                <img src="APIMovil{{Imgs}}/imgIzquierda.jpeg" class="d-block w-100" alt="imagen lateral Izquierdo" height="400px">
                <div class="carousel-caption d-none d-md-block" ></div>
                  <div class="contenido"><h4 style="color: white;text-align: center;">Imagen lateral izquierdo del vehículo</h4></div>
                
              </div>
              <div class="carousel-item">
                <img src="APIMovil{{Imgs}}/imgInteriorAdelante.jpeg" class="d-block w-100" alt="imagen Interior frontal" height="400px">
                <div class="carousel-caption d-none d-md-block" ></div>
                  <div class="contenido"><h4 style="color: white;text-align: center;">Imagen interior frontal del vehículo</h4></div>
                
              </div>
              <div class="carousel-item">
                <img src="APIMovil{{Imgs}}/imgInteriorAtras.jpeg" class="d-block w-100" alt="imagen Interior Trasera" height="400px">
                <div class="carousel-caption d-none d-md-block" ></div>
                <div class="contenido"><h4 style="color: white;text-align: center;">Imagen interior trasera del vehículo</h4></div>
              </div>
              <div class="carousel-item">
                <img src="APIMovil{{Imgs}}/imgTablero.jpeg" class="d-block w-100" alt="imagen Tablero" height="400px">
                <div class="carousel-caption d-none d-md-block" ></div>
                  <div class="contenido"><h4 style="color: white;text-align: center;">Imagen tablero del vehículo</h4></div>
              </div>
              <div class="carousel-item">
                <img src="APIMovil{{Imgs}}/imgSuperior.jpeg" class="d-block w-100" alt="imagen Superior" height="400px">
                <div class="carousel-caption d-none d-md-block" ></div>
                  <div class="contenido"><h4 style="color: white;text-align: center;">Imagen Superior del vehículo</h4></div>
              </div>
              <div class="carousel-item">
                <img src="APIMovil{{Imgs}}/imgCajuela.jpeg" class="d-block w-100" alt="imagen Cajuela" height="400px">
                <div class="carousel-caption d-none d-md-block" ></div>
                  <div class="contenido"><h4 style="color: white;text-align: center;">Imagen de la cajuela</h4></div>
              </div>
              <div class="carousel-item">
                <img src="APIMovil{{Imgs}}/imgHerramientas.jpeg" class="d-block w-100" alt="imagen de herramientas" height="400px">
                <div class="carousel-caption d-none d-md-block" ></div>
                  <div class="contenido"><h4 style="color: white;text-align: center;">Imagen de herramientas</h4></div>
              </div>
            </div>


          <a class="carousel-control-prev" data-target="#carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" data-target="#carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>  
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

