<section>
  
      <div class="container" ng-init="get()">
        
           <div class="row">
             
                <div class="col-md-6">
                  
                     <h2>SOLICITADOS</h2>

                </div>

           </div>

           <div class="row">
             
                <div class="table-responsive">
                  
                     <table class="table">
                       
                            <tr align="center" style="font-size: 16px;">
                              
                                <th>Solicitante</th>

                                <th>Automovil</th>

                                <th>Domicilio</th>

                                <th>Fecha y Hora</th>

                                <th>Notas</th>

                                <th>Asignar chofer</th>

                            </tr>

                            <tr id="cuerpo" ng-repeat="solicitud in solicitudes"  align="center">
                              
                                <td>{{solicitud.Nombre}} <br> {{solicitud.Celular}}</td>

                                <td>{{solicitud.Marca}} {{solicitud.Modelo}} <br>No.Placa {{solicitud.Placas}}</td>

                                <td>{{solicitud.Calle}} {{solicitud.NoExterior}}</td>

                                <td>{{solicitud.FechaHora}}</td>

                                <td>{{solicitud.Notas}}</td>

                                <td>
                                  
                                    <a data-toggle="modal" data-target="#add_modal" ng-click="asignar(solicitud)">
                                      
                                      <i class="fa fa-sort-desc"></i>

                                    </a>

                                </td>

                            </tr>

                     </table>

                     <br><h1 class="text-center">{{Titulo}}</h1>

                </div>

           </div>

      </div>

</section>




<!-- Asignación de choferes -->
<div class="modal" id="add_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  
     <div class="modal-dialog modal-lg" role="document">
       
          <div class="modal-content">
            
              <!-- Cabecera del modal-->
              <div class="modal-header">
                
                   <h2 class="modal-title" id="myModalLabel">Asignar chofer</h2>

                   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     
                           <span aria-hidden="true">X</span>

                   </button>

              </div>


              <!-- Cuerpo del modal-->
              <div class="modal-body">
                
                   <div class="container">
                     
                        <div class="row">
                          
                             <div class="col-md-12">
                                 
                                    <div class="input-group mb-3">
                                      
                                         <div class="input-group-prepend">
                                           
                                              <span class="input-group-text"><i class="fas fa-user"></i></span>

                                         </div>

                                         <select class="form-control" id="nIDChofer" ng-model="solicitud.nIDChofer">
                                           
                                                <option value = "" selected disabled>Selecciona el chofer...</option>

                                                <option value = "{{chofer.nIDChofer}}" ng-repeat="chofer in choferes">{{chofer.Nombre}}</option>

                                         </select>

                                    </div>

                               </div>

                        </div>

                   </div>

              </div>

              <!-- pie del modal-->
              <div class="modal-footer">
                
                   <div class="container">
                     
                        <div class="row" align="center">

                             <div class="col-md-12">
                               
                                  <button type="button" class="btn btn-outline-dark" id="boton" data-dismiss="modal">Cancelar</button>

                                  <button type="button" class="btn btn-outline-dark" id="boton" ng-click="traerChofer(solicitud.nIDChofer,solicitud)">Guardar </button>

                             </div>

                        </div>

                   </div>

              </div>

          </div>

     </div>

</div>