<section>
  
      <div class="container">
        
           <div class="row">
             
                <div class="col-md-6">
                  
                     <h2>ASIGNACIÓN DE CHOFER</h2>

                </div>

           </div>

           <div class="row">
             
                <div class="table-responsive">
                  
                     <table class="table">
                       
                            <tr align="center" style="font-size: 16px;">
                              
                                <th>Solicitante</th>

                                <th>Automovil</th>

                                <th>Domicilio</th>

                                <th>Fecha y Hora</th>

                                <th>Notas</th>

                                <th>Asignación</th>

                            </tr>

                            <tr id="cuerpo" align="center">
                              
                                <td>Briana Frias De Robles</td>

                                <td>Audi A30 <br>No.Placas rgt-87-45</td>

                                <td>Av. Royal Country Int.1902</td>

                                <td>18-03-2020 13:30:00</td>

                                <td></td>

                                <td>
                                  
                                    <a data-toggle="modal" data-target="#add_modal">
                                      
                                      <i class="fa fa-sort-desc"></i>

                                    </a>

                                </td>

                            </tr>

                     </table>

                </div>

           </div>

      </div>

</section>




<!-- Asignación de choferes -->
<div class="modal" id="add_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  
     <div class="modal-dialog modal-lg" role="document">
       
          <div class="modal-content">
            
              <!-- Cabecera del modal-->
              <div class="modal-header">
                
                   <h2 class="modal-title" id="myModalLabel">Asignar chofer</h2>

                   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     
                           <span aria-hidden="true">X</span>

                   </button>

              </div>


              <!-- Cuerpo del modal-->
              <div class="modal-body">
                
                   <div class="container">
                     
                        <div class="row">
                          
                             <div class="col-md-12">
                                 
                                    <div class="input-group mb-3">
                                      
                                         <div class="input-group-prepend">
                                           
                                              <span class="input-group-text"><i class="fas fa-user"></i></span>

                                         </div>

                                         <select class="form-control" id="nIDCliente" ng-model="solicitud.nIDCliente">
                                           
                                                <option value = "" selected disabled>Selecciona el chofer...</option>

                                                <option value = "1">Briana Frias</option>

                                                <option value = "2">Estephanie</option>

                                         </select>

                                    </div>

                               </div>

                        </div>

                   </div>

              </div>

              <!-- pie del modal-->
              <div class="modal-footer">
                
                   <div class="container">
                     
                        <div class="row">
                          
                             <div class="col-md-3"></div>

                             <div class="col-md-6">
                               
                                  <button type="button" class="btn btn-outline-dark" id="boton" data-dismiss="modal">Cancelar</button>

                                  <button type="button" class="btn btn-outline-dark" id="boton" ng-click="update(solicitud)">Guardar</button>

                             </div>

                             <div class="col-md-3"></div>

                        </div>

                   </div>

              </div>

          </div>

     </div>

</div>