
<section>
  
    <div class="container" ng-init="get()">
      
         <div class="row"><!-- Inicio fila -->
           
              <div class="col-md-3"></div>

              <div class="col-md-3"></div>

              <div class="col-md-3"></div>

              <div class="col-md-3">
                
                   <div class="pull-rigth">
                     
                        <button class="button primary" data-toggle="modal" data-target="#add_modal">
                          
                                <i class="glyphicon glyphicon-plus-sign mr-2"></i>
                                Agregar
                        </button>

                   </div>

              </div>

         </div><!-- Fin fila del botón-->

         <div class="row"><!--Fila de usuarioa-->
           
              <div class="col-md-6">
                
                   <h2>CLIENTES</h2>

              </div>

         </div><!--Fin de la fila de usuarios->-->

         <div class="row">
      
              <div class="col-md-6"></div>

              <div class="col-md-6">
          
                    <div class="input-group mb-3">                  

                         <input type="text" class="form-control" placeholder="Buscar Cliente..." ng-model="search">

                                <div class="input-group-prepend">

                                      <span class="input-group-text"><i class="fas fa-search"></i></span>

                                </div>

                    </div>

              </div>

         </div>

         <div class="row">
           
              <div class="table-responsive">
                
                   <table class="table">
                     
                         <tr align="center" style="font-size: 16px;">
                           
                              <th>Nombre</th>

                              <th>Usuario</th>

                              <th>Contacto</th>

                              <th>Direccion</th>

                              <th>Licencia</th>

                              <th>Nss</th>

                              <th class="text-center">Acciones</th>

                         </tr>

                         <tr id="cuerpo" ng-repeat="cliente in clientes | filter : search" align="center">

                              <td>{{cliente.Nombre}}</td>

                              <td>{{cliente.Usuario}}</td>

                              <td>Cel. {{cliente.Celular}} <br> Email. {{cliente.Email}}</td>

                              <td id="domicilio">{{ cliente.Calle }} {{ cliente.NoExterior}} Int.{{ cliente.NoInterior}}, {{ cliente.Colonia }}, CP {{cliente.Cp}}</td>

                              <td>No. {{ cliente.NoLicencia}} <br> Vigencia. {{cliente.FechaVigencia_Licencia}}</td>

                              <td>{{cliente.NSS}}</td>

                              <td>
                                
                                    <a data-toggle="modal" data-target="#update_modal" ng-click="show(cliente)" class="iconos">
                                      
                                       <img src="assets/img/pencil.png">

                                    </a>

                                    <a ng-click="destroy(cliente.nIDCliente)" class="iconos">
                                      
                                        <img src="assets/img/delete.png">

                                    </a>

                                    <a  data-toggle="modal" data-target="#contactos_modal" ng-click="lista(cliente.nIDCliente)" class="iconos">

                                        <img src="assets/img/book.png">

                                    </a>

                              </td>
                        </tr>  

                   </table>

                    <h1 align="center"><img ng-src="{{ icono }}">{{ mensaje }}</h1>

              </div>

         </div>

    </div>

</section>


<!-- M O D A L   A G R E G A R -->
<div class="modal" id="add_modal" tabindex="-1" role="dialog" aria-labelledby="myModelLabel">
  
     <div class="modal-dialog modal-lg" role="document">
       
          <div class="modal-content">
            
               <!-- C A B E C E R A   M O D A L -->
               <div class="modal-header">
                 
                    <h2 class="modal-title" id="myModelLabel">Nuevo Cliente</h2>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      
                          <span aria-hidden="true">X</span>

                    </button>

               </div>


               <!--C U E R P O    M O D A L -->
               <div class="modal-body">
                 
                    <div class="container">
                         
                          <div class="row">
                            
                               <div class="col-md-12">
                                 
                                    <div class="input-group mb-3">
                                      
                                         <div class="input-group-prepend">
                                           
                                              <span class="input-group-text"><i class="fas fa-user"></i></span>

                                         </div>

                                         <input type="text" class="form-control" placeholder="Nombre completo *" id="Nombre" 
                                         ng-model="cliente.Nombre">

                                    </div>

                               </div>

                          </div>

                          <div class="row">
                            
                               <div class="col-md-12">
                                 
                                    <div class="input-group mb-3">
                                      
                                         <div class="input-group-prepend">
                                           
                                              <span class="input-group-text"><i class="fas fa-qrcode"></i></span>

                                         </div>

                                         <input type="text" class="form-control" placeholder="Registro Federal del Contribuyente(RFC)*"
                                         id="RFC" ng-model="cliente.RFC">

                                    </div>

                               </div>

                          </div>

                          <div class="row">
                            
                              <div class="col-md-6">
                                
                                   <div class="input-group mb-3">
                                     
                                        <div class="input-group-prepend">
                                          
                                             <span class="input-group-text"><i class="fas fa-user"></i></span>

                                        </div>

                                        <input type="text" class="form-control" placeholder="Nombre de usuario *" id="Usuario"
                                        ng-model="cliente.Usuario">

                                   </div>

                              </div>

                              <div class="col-md-6">
                                
                                   <div class="input-group mb-3">
                                     
                                        <div class="input-group-prepend">
                                          
                                             <span class="input-group-text"><i class="fas fa-key"></i></span>

                                        </div>

                                        <input type="password" class="form-control" placeholder="Password *" id="Password" 
                                        ng-model="cliente.Password">

                                   </div>

                              </div>

                          </div>

                          <div class="row">
                            
                               

                               <div class="col-md-6">
                                 
                                    <div class="input-group mb-3">
                                      
                                         <div class="input-group-prepend">
                                           
                                              <span class="input-group-text"><i class="fas fa-mobile-alt"></i></span>

                                         </div>

                                         <input type="text" class="form-control" placeholder="Número de celular *" id="Celular"
                                         ng-model="cliente.Celular" maxlength="10">

                                    </div>

                               </div>

                               <div class="col-md-6">
                                 
                                    <div class="input-group mb-3">
                                      
                                         <div class="input-group-prepend">
                                           
                                            <span class="input-group-text">@</span>

                                         </div>

                                         <input type="text" class="form-control" placeholder="Email *" id="Email"
                                         ng-model="cliente.Email" style="text-transform: lowercase;" onkeyup="javascript:this.value = this.value.toLowerCase();">

                                    </div>

                               </div>

                          </div>

                          <div class="row">
                            
                               <div class="col-md-6">
                                 
                                    <div class="input-group mb-3">
                                      
                                         <div class="input-group-prepend">
                                           
                                              <span class="input-group-text"><i class="fas fa-code"></i></span>

                                         </div>

                                         <input type="text" class="form-control" placeholder="Calle *" id="Calle" 
                                         ng-model="cliente.Calle">

                                    </div>

                               </div>

                               <div class="col-md-3">
                                 
                                    <div class="input-group mb-3">
                                      
                                         <div class="input-group-prepend">
                                           
                                              <span class="input-group-text"><i class="fas fa-sort-numeric-up"></i></span>

                                         </div>

                                         <input type="text" class="form-control" placeholder="No. Ext *" id="NoExterior" 
                                         ng-model="cliente.NoExterior">

                                    </div>

                               </div>

                               <div class="col-md-3">
                                 
                                    <div class="input-group mb-3">
                                      
                                         <div class="input-group-prepend">
                                           
                                              <span class="input-group-text"><i class="fas fa-sort-numeric-down"></i></span>

                                         </div>

                                         <input type="text" class="form-control" placeholder="No. Int" id="NoInterior"
                                         ng-model="cliente.NoInterior">

                                    </div>

                               </div>

                          </div>

                          <div class="row">
                            
                               <div class="col-md-6">
                                 
                                    <div class="input-group mb-3">
                                      
                                         <div class="input-group-prepend">
                                           
                                              <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>

                                         </div>

                                         <input type="text" class="form-control" placeholder="Colonia" id="Colonia" 
                                         ng-model="cliente.Colonia">

                                    </div>

                               </div>

                               <div class="col-md-6">
                                 
                                    <div class="input-group mb-3">
                                         
                                         <div class="input-group-prepend">
                                              
                                              <span class="input-group-text"><i class="fas fa-code"></i></span>  
                                         
                                         </div>

                                         <input type="text" class="form-control" placeholder="Código postal *" id="Cp"
                                         ng-model="cliente.Cp">

                                    </div>

                               </div>

                          </div>

                          <div class="row">

                               <div class="col-md-12">
                                 
                                    <div class="input-group mb-3">
                                      
                                        <div class="input-group-prepend">
                                          
                                             <span class="input-group-text"><i class="fas fa-sort-numeric-up-alt"></i></span>

                                        </div>

                                      <input type="text" class="form-control" placeholder="Número de seguro social *" id="NSS"
                                      ng-model="cliente.NSS">

                                    </div>

                               </div>                                                                                        

                          </div>

                          <div class="row">                                                         

                               <div class="col-md-6">
                                 
                                    <div class="input-group mb-3">
                                      
                                        <div class="input-group-prepend">
                                          
                                             <span class="input-group-text"><i class="fas fa-id-badge"></i></span>

                                        </div>

                                        <input type="text" class="form-control" placeholder="Número de licencia *" id="NoLicencia"
                                        ng-model="cliente.NoLicencia">

                                    </div>

                               </div>

                               <div class="col-md-6">
                                 
                                    <div class="input-group mb-3">
                                      
                                        <div class="input-group-prepend">
                                          
                                             <span class="input-group-text"><i class="fas fa-calendar-check"></i></span>

                                        </div>

                                        <input type="date" class="form-control" id="FechaVigencia_Licencia" placeholder="Vigencia de licencia" 
                                        ng-model="cliente.FechaVigencia_Licencia">

                                    </div>

                               </div>

                          </div>

                          <div class="row">
                            
                               <div class="col-md-6">
                                 
                                    <div class="input-group mb-3">
                                      
                                         <div class="input-group-prepend">
                                           
                                              <span class="input-group-text"><i class="far fa-credit-card"></i></span>

                                         </div>

                                         <input type="text" class="form-control" placeholder="Número de tarjeta" id="NoTarjeta"
                                         ng-model="cliente.NoTarjeta">

                                    </div>

                               </div>

                               <div class="col-md-6">
                                 
                                    <div class="input-group mb-3">
                                      
                                         <div class="input-group-prepend">
                                           
                                              <span class="input-group-text"><i class="fas fa-calendar-check"></i></span>

                                         </div>

                                         <input type="date" class="form-control" id="FechaVigencia_Tarjeta" placeholder="Vigencia de tarjeta" 
                                         ng-model="cliente.FechaVigencia_Tarjeta">

                                    </div>

                               </div>

                          </div>

                          <div class="row">                                                          

                                <div class="col-md-6">
                                  
                                     <div class="input-group mb-3">
                                       
                                          <div class="input-group-prepend">
                                            
                                               <span class="input-group-text"><i class="fas fa-user"></i></span>

                                          </div>

                                          <input type="text" class="form-control" placeholder="Nombre Titular" id="NombreTitular"
                                          ng-model="cliente.NombreTitular">

                                     </div>

                                </div>

                                <div class="col-md-6">
                                  
                                     <div class="input-group mb-3">
                                       
                                          <div class="input-group-prepend">
                                            
                                               <span class="input-group-text"><i class="fas fa-user"></i></span>

                                          </div>

                                          <select class="form-control" id="nIDUsuario" ng-model="cliente.nIDUsuario">
                                            
                                                  <option value="" selected disabled> Selecciona el usuario admninistrador...</option>

                                                  <option value="{{usuario.nIDUsuario}}" ng-repeat="usuario in usuarios">{{usuario.Nombre}}</option>

                                                  

                                          </select>

                                     </div>

                                </div>

                          </div>

                          <div class="row">
                            
                               <div class="col-md-12">
                                 
                                    <div class="input-group mb-3">
                                      
                                         <div class="input-group-prepend">
                                           
                                              <span class="input-group-text"><i class="fas fa-image"></i></span>

                                         </div>

                                         <input type="file" id="Foto" class="form-control" ng-model="cliente.Foto">

                                    </div>

                               </div>

                          </div>

                          <div class="row">
                            
                               <div class="col-md-12">
                                 
                                    <div id="VistaImagen">
                                      
                                         <embed id="doc" src="" width="100%" height="100%"></embed>

                                    </div>

                               </div>

                          </div>

                    </div>

               </div>



               <!-- P I E    M O D A L -->
               <div class="modal-footer">
                 
                    <div class="container">
                      
                         <div class="row" align="center">

                              <div class="col-md-12">
                                
                                   <button type="button" class="btn btn-outline-dark" id="boton" data-dismiss="modal">Cancelar</button>

                                   <button type="button" class="btn btn-outline-dark" id="boton" ng-click="add(cliente)">Guardar</button>

                              </div>

                         </div>

                    </div>

               </div>




          </div>

     </div>

</div>

<!-- M O D A L   M O D I F I C A R -->
<div class="modal" id="update_modal" tabindex="-1" role="dialog" aria-labelledby="myModelLabel">
  
     <div class="modal-dialog modal-lg" role="document">
       
          <div class="modal-content">
            
               <!-- C A B E C E R A   M O D A L -->
               <div class="modal-header">
                 
                    <h2 class="modal-title" id="myModelLabel">Modificar Cliente</h2>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      
                          <span aria-hidden="true">X</span>

                    </button>

               </div>


               <!--C U E R P O    M O D A L -->
               <div class="modal-body">
                 
                    <div class="container">
                         
                          <div class="row">
                            
                               <div class="col-md-12">
                                 
                                    <div class="input-group mb-3">
                                      
                                         <div class="input-group-prepend">
                                           
                                              <span class="input-group-text"><i class="fas fa-user"></i></span>

                                         </div>

                                         <input type="text" class="form-control" placeholder="Nombre completo" id="NombreEdit" 
                                         ng-model="clienteEdit.Nombre">

                                    </div>

                               </div>

                          </div>

                          <div class="row">
                            
                               <div class="col-md-12">
                                 
                                    <div class="input-group mb-3">
                                      
                                         <div class="input-group-prepend">
                                           
                                              <span class="input-group-text"><i class="fas fa-qrcode"></i></span>

                                         </div>

                                         <input type="text" class="form-control" placeholder="Registro Federal del Contribuyente(RFC)"
                                         id="RFCEdit" ng-model="clienteEdit.RFC">

                                    </div>

                               </div>

                          </div>

                          <div class="row">
                            
                              <div class="col-md-6">
                                
                                   <div class="input-group mb-3">
                                     
                                        <div class="input-group-prepend">
                                          
                                             <span class="input-group-text"><i class="fas fa-user"></i></span>

                                        </div>

                                        <input type="text" class="form-control" placeholder="Nombre de usuario" id="UsuarioEdit"
                                        ng-model="clienteEdit.Usuario">

                                   </div>

                              </div>

                              <div class="col-md-6">
                                
                                   <div class="input-group mb-3">
                                     
                                        <div class="input-group-prepend">
                                          
                                             <span class="input-group-text"><i class="fas fa-key"></i></span>

                                        </div>

                                        <input type="text" class="form-control" placeholder="Password" id="PasswordEdit" 
                                        ng-model="clienteEdit.Password">

                                   </div>

                              </div>

                          </div>

                          <div class="row">
                            
                               

                               <div class="col-md-6">
                                 
                                    <div class="input-group mb-3">
                                      
                                         <div class="input-group-prepend">
                                           
                                              <span class="input-group-text"><i class="fas fa-mobile-alt"></i></span>

                                         </div>

                                         <input type="text" class="form-control" placeholder="Número de celular" id="CelularEdit"
                                         ng-model="clienteEdit.Celular" maxlength="10">

                                    </div>

                               </div>

                               <div class="col-md-6">
                                 
                                    <div class="input-group mb-3">
                                      
                                         <div class="input-group-prepend">
                                           
                                            <span class="input-group-text">@</span>

                                         </div>

                                         <input type="text" class="form-control" placeholder="Email" id="EmailEdit"
                                         ng-model="clienteEdit.Email" style="text-transform: lowercase;" onkeyup="javascript:this.value = this.value.toLowerCase();">

                                    </div>

                               </div>

                          </div>

                          <div class="row">
                            
                               <div class="col-md-6">
                                 
                                    <div class="input-group mb-3">
                                      
                                         <div class="input-group-prepend">
                                           
                                              <span class="input-group-text"><i class="fas fa-code"></i></span>

                                         </div>

                                         <input type="text" class="form-control" placeholder="Calle" id="CalleEdit" 
                                         ng-model="clienteEdit.Calle">

                                    </div>

                               </div>

                               <div class="col-md-3">
                                 
                                    <div class="input-group mb-3">
                                      
                                         <div class="input-group-prepend">
                                           
                                              <span class="input-group-text"><i class="fas fa-sort-numeric-up"></i></span>

                                         </div>

                                         <input type="text" class="form-control" placeholder="No. Ext" id="NoExteriorEdit" 
                                         ng-model="clienteEdit.NoExterior">

                                    </div>

                               </div>

                               <div class="col-md-3">
                                 
                                    <div class="input-group mb-3">
                                      
                                         <div class="input-group-prepend">
                                           
                                              <span class="input-group-text"><i class="fas fa-sort-numeric-down"></i></span>

                                         </div>

                                         <input type="text" class="form-control" placeholder="No. Int" id="NoInteriorEdit"
                                         ng-model="clienteEdit.NoInterior">

                                    </div>

                               </div>

                          </div>

                          <div class="row">
                            
                               <div class="col-md-6">
                                 
                                    <div class="input-group mb-3">
                                      
                                         <div class="input-group-prepend">
                                           
                                              <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>

                                         </div>

                                         <input type="text" class="form-control" placeholder="Colonia" id="ColoniaEdit" 
                                         ng-model="clienteEdit.Colonia">

                                    </div>

                               </div>

                               <div class="col-md-6">
                                 
                                    <div class="input-group mb-3">
                                         
                                         <div class="input-group-prepend">
                                              
                                              <span class="input-group-text"><i class="fas fa-code"></i></span>  
                                         
                                         </div>

                                         <input type="text" class="form-control" placeholder="Código postal" id="CpEdit"
                                         ng-model="clienteEdit.Cp">

                                    </div>

                               </div>

                          </div>

                          <div class="row">

                               <div class="col-md-12">
                                 
                                    <div class="input-group mb-3">
                                      
                                        <div class="input-group-prepend">
                                          
                                             <span class="input-group-text"><i class="fas fa-sort-numeric-up-alt"></i></span>

                                        </div>

                                      <input type="text" class="form-control" placeholder="Número de seguro social" id="NSSEdit"
                                      ng-model="clienteEdit.NSS">

                                    </div>

                               </div>                                                                                        

                          </div>

                          <div class="row">                                                         

                               <div class="col-md-6">
                                 
                                    <div class="input-group mb-3">
                                      
                                        <div class="input-group-prepend">
                                          
                                             <span class="input-group-text"><i class="fas fa-id-badge"></i></span>

                                        </div>

                                        <input type="text" class="form-control" placeholder="Número de licencia" id="NoLicenciaEdit"
                                        ng-model="clienteEdit.NoLicencia">

                                    </div>

                               </div>

                               <div class="col-md-6">
                                 
                                    <div class="input-group mb-3">
                                      
                                        <div class="input-group-prepend">
                                          
                                             <span class="input-group-text"><i class="fas fa-calendar-check"></i></span>

                                        </div>

                                        <input type="date" class="form-control" id="FechaVigencia_LicenciaEdit"
                                        ng-model="clienteEdit.FechaVigencia_Licencia">

                                    </div>

                               </div>

                          </div>

                          <div class="row">
                            
                               <div class="col-md-6">
                                 
                                    <div class="input-group mb-3">
                                      
                                         <div class="input-group-prepend">
                                           
                                              <span class="input-group-text"><i class="far fa-credit-card"></i></span>

                                         </div>

                                         <input type="text" class="form-control" placeholder="Número de tarjeta" id="NoTarjetaEdit"
                                         ng-model="clienteEdit.NoTarjeta">

                                    </div>

                               </div>

                               <div class="col-md-6">
                                 
                                    <div class="input-group mb-3">
                                      
                                         <div class="input-group-prepend">
                                           
                                              <span class="input-group-text"><i class="fas fa-calendar-check"></i></span>

                                         </div>

                                         <input type="date" class="form-control" id="FechaVigencia_TarjetaEdit"
                                         ng-model="clienteEdit.FechaVigencia_Tarjeta">

                                    </div>

                               </div>

                          </div>

                          <div class="row">

                                <div class="col-md-6">
                                  
                                     <div class="input-group mb-3">
                                       
                                          <div class="input-group-prepend">
                                            
                                               <span class="input-group-text"><i class="fas fa-user"></i></span>

                                          </div>

                                          <input type="text" class="form-control" placeholder="Nombre Titular" id="NombreTitularEdit"
                                          ng-model="clienteEdit.NombreTitular">

                                     </div>

                                </div>

                                <div class="col-md-6">
                                  
                                     <div class="input-group mb-3">
                                       
                                          <div class="input-group-prepend">
                                            
                                               <span class="input-group-text"><i class="fas fa-user"></i></span>

                                          </div>

                                          <select class="form-control" id="nIDUsuarioEdit" ng-model="clienteEdit.nIDUsuario">
                                            
                                                  <option value="" selected disabled>Selecciona el usuario administrador</option>

                                                  <option value="{{usuario.nIDUsuario}}" ng-repeat="usuario in usuarios">{{usuario.Nombre}}</option>

                                          </select>

                                     </div>

                                </div>

                          </div>

                          <div class="row">
                            
                               <div class="col-md-12">
                                 
                                    <div class="input-group mb-3">
                                      
                                         <div class="input-group-prepend">
                                           
                                              <span class="input-group-text"><i class="fas fa-image"></i></span>

                                         </div>

                                         <input type="file" id="FotoEdit" class="form-control" ng-model="clienteEdit.Foto">

                                    </div>

                               </div>

                          </div>

                          <div class="row">
                            
                               <div class="col-md-12">
                                 
                                    <div id="VistaImagenEdit">
                                      
                                         <embed id="docEdit" src="" width="100%" height="100%"></embed>

                                    </div>

                               </div>

                          </div>

                    </div>

               </div>



               <!-- P I E    M O D A L -->
               <div class="modal-footer">
                 
                    <div class="container">
                      
                         <div class="row" align="center">

                              <div class="col-md-12">
                                
                                   <button type="button" class="btn btn-outline-dark" id="boton" data-dismiss="modal">Cancelar</button>

                                   <button type="button" class="btn btn-outline-dark" id="boton" ng-click="update(clienteEdit)">Guardar</button>

                              </div>

                         </div>

                    </div>

               </div>




          </div>

     </div>

</div>

<!-- M O D A L   D E    C O N T A C T O S     D EL C L I E N T E -->
<div class="modal" id="contactos_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  
     <div class="modal-dialog modal-lg" role="document">
       
          <div class="modal-content">
            

               <!-- M O D A L   H E A D E R -->
               <div class="modal-header">
                 
                    <h4 class="modal-title" id="myModalLabel">Lista de contactos</h4>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        
                            <span aria-hidden="true">X</span>

                    </button>

               </div>




               <!-- M O D A L    B O D Y -->
               <div class="modal-body">     

                                  
                 
                    <div class="container"> 

                      <div class="row" align="right">

                         <div class="col-md-12">
                           
                              <button class="btn btn-outline-primary" ng-click="mostrar()"><i class="fas fa-plus mr-2"></i>Nuevo contacto</button>

                         </div>

                      </div><br>
                                                                                                 

                         <div id="Visible">

                         <div class="row" align="center">
                           
                              <div class="col-md-12">
                                    
                                    <label>Datos del contacto</label>

                              </div>

                         </div>

                         <div class="row">
                           
                              <div class="col-md-12">
                                
                                    <div class="input-group mb-3">
                                      
                                         <div class="input-group-prepend">
                                           
                                              <span class="input-group-text"><i class="fas fa-user"></i></span>

                                         </div>

                                         <input type="text" class="form-control" placeholder="Nombre" id="Nombre" 
                                         ng-model="contacto.Nombre">

                                    </div>

                              </div>

                         </div>

                         <div class="row">
                           
                              <div class="col-md-12">
                                   
                                   <div class="input-group mb-3"> 

                                       <div class="input-group-prepend">  

                                            <span class="input-group-text"><i class="fas fa-phone"></i></span>

                                       </div>

                                       <input type="text" class="form-control" placeholder="Teléfono" id="Telefono" 
                                       ng-model="contacto.Telefono" maxlength="10">
                                       
                                  </div>

                              </div>

                         </div>

                         <div class="row">
                           
                              <div class="col-md-6">
                                   
                                   <div class="input-group mb-3"> 

                                       <div class="input-group-prepend">  

                                            <span class="input-group-text"><i class="fas fa-code"></i></span>

                                       </div>

                                       <input type="text" class="form-control" placeholder="Domicilio" id="Calle" 
                                       ng-model="contacto.Calle">
                                       
                                  </div>

                              </div>

                              <div class="col-md-3">
                                
                                   <div class="input-group mb-3">
                                     
                                        <div class="input-group-prepend">
                                          
                                             <span class="input-group-text"><i class="fas fa-sort-numeric-up"></i></span>

                                        </div>

                                        <input type="text" class="form-control" placeholder="No. Ext." id="NoExterior"
                                        ng-model="contacto.NoExterior">

                                   </div>

                              </div>

                              <div class="col-md-3">
                                
                                   <div class="input-group mb-3">
                                     
                                        <div class="input-group-prepend">
                                          
                                             <span class="input-group-text"><i class="fas fa-sort-numeric-down"></i></span>

                                        </div>

                                        <input type="text" class="form-control" placeholder="No. Int." id="NoInterior"
                                        ng-model="contacto.NoInterior">

                                   </div>

                              </div>

                         </div>

                         <div class="row">
                           
                              <div class="col-md-12">
                                
                                   <div class="input-group mb-3">
                                     
                                        <div class="input-group-prepend">
                                          
                                             <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>

                                        </div>

                                        <input type="text" class="form-control" placeholder="Colonia" id="Colonia"
                                        ng-model="contacto.Colonia">

                                   </div>

                              </div>

                         </div>

                         <div class="row" align="right">
                           
                              <div class="col-md-12"> 

                                   <button type="button" class="btn btn-outline-dark" ng-click="cerrarAdd()">Cerrar</button>

                                   <button type="button" class="btn btn-outline-dark" id="boton" ng-click="addContacto(contacto)">Guardar</button>

                              </div>

                         </div>

                         <hr style="border-color: #044BFD; "> 

                         </div>

                         <div id="VisibleModificar">

                         <div class="row" align="center">
                           
                              <div class="col-md-12">
                                    
                                    <label>Modificar contacto</label>

                              </div>

                         </div>

                         <div class="row">
                           
                              <div class="col-md-12">
                                
                                    <div class="input-group mb-3">
                                      
                                         <div class="input-group-prepend">
                                           
                                              <span class="input-group-text"><i class="fas fa-user"></i></span>

                                         </div>

                                         <input type="text" class="form-control" placeholder="Nombre" id="NombreEdit" 
                                         ng-model="contactoEdit.Nombre">

                                    </div>

                              </div>

                         </div>

                         <div class="row">
                           
                              <div class="col-md-12">
                                   
                                   <div class="input-group mb-3"> 

                                       <div class="input-group-prepend">  

                                            <span class="input-group-text"><i class="fas fa-phone"></i></span>

                                       </div>

                                       <input type="text" class="form-control" placeholder="Teléfono" id="TelefonoEdit" 
                                       ng-model="contactoEdit.Telefono" maxlength="10">
                                       
                                  </div>

                              </div>

                         </div>

                         <div class="row">
                           
                              <div class="col-md-6">
                                   
                                   <div class="input-group mb-3"> 

                                       <div class="input-group-prepend">  

                                            <span class="input-group-text"><i class="fas fa-code"></i></span>

                                       </div>

                                       <input type="text" class="form-control" placeholder="Domicilio" id="CalleEdit" 
                                       ng-model="contactoEdit.Calle">
                                       
                                  </div>

                              </div>

                              <div class="col-md-3">
                                
                                   <div class="input-group mb-3">
                                     
                                        <div class="input-group-prepend">
                                          
                                             <span class="input-group-text"><i class="fas fa-sort-numeric-up"></i></span>

                                        </div>

                                        <input type="text" class="form-control" placeholder="No. Ext." id="NoExteriorEdit"
                                        ng-model="contactoEdit.NoExterior">

                                   </div>

                              </div>

                              <div class="col-md-3">
                                
                                   <div class="input-group mb-3">
                                     
                                        <div class="input-group-prepend">
                                          
                                             <span class="input-group-text"><i class="fas fa-sort-numeric-down"></i></span>

                                        </div>

                                        <input type="text" class="form-control" placeholder="No. Int." id="NoInteriorEdit"
                                        ng-model="contactoEdit.NoInterior">

                                   </div>

                              </div>

                         </div>

                         <div class="row">
                           
                              <div class="col-md-12">
                                
                                   <div class="input-group mb-3">
                                     
                                        <div class="input-group-prepend">
                                          
                                             <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>

                                        </div>

                                        <input type="text" class="form-control" placeholder="Colonia" id="ColoniaEdit"
                                        ng-model="contactoEdit.Colonia">

                                   </div>

                              </div>

                         </div>

                         <div class="row">
                           
                              <div class="col-md-12" align="right">

                                   <button type="button" class="btn btn-outline-dark" ng-click="cerrarMod()">Cerrar</button> 

                                   <button type="button" class="btn btn-outline-dark" id="boton" ng-click="updateContacto(contactoEdit)">Modificar</button>

                              </div>

                         </div>

                         <hr style="border-color: #044BFD; "> 

                         </div>


                         <div class="row">  

                              <div class="table-responsive" id="TablaContactos">
           
                                   <table class="table">
                
                                          <tr align="center" style="font-size: 16px;">
                       
                                              <th>Nombre</th>

                                              <th>Teléfono</th>

                                              <th>Domicilio</th>

                                              <th class="text-center">Acciones</th>

                                          </tr>

                                          <tr id="cuerpo" ng-repeat="contacto in contactos" align="center">
                       
                                              <td>{{ contacto.Nombre }}</td>

                                              <td>{{ contacto.Telefono}}</td>

                                              <td>{{ contacto.Calle }} {{ contacto.NoExterior }} Int. {{ contacto.NoInterior}}
                                              Col. {{ contacto.Colonia }}</td>

                                              <td>

                                                  <a data-toggle="modal" data-target="#update_contacto" 
                                                  ng-click="showContacto(contacto)">
                                                  
                                                    <img src="assets/img/pencil.png">

                                                  </a>

                                                  <a ng-click="destroyContacto(contacto.nIDContactoEmergencia,contacto.nIDCliente)">

                                                     <img src="assets/img/delete.png">

                                                  </a>

                                              </td>

                                          </tr>

                                   </table>

                                          <h1 align="center">{{ mensajeC }}</h1>

                                   </div>

                         </div>



                    </div>

               </div>



               <!-- M O D A L   F O O T E R -->
               <div class="modal-footer">
                 
                    <button type="button" class="button primary"  data-dismiss="modal">Cerrar</button>

               </div> 

          </div>

     </div>

</div>