<section>
	
	<div class="container" ng-init="get()">
		
		 <div class="row">
		 	
		 	  <div class="col-md-12">
		 	  	
		 	  	   <h2>ESTADO CUENTA</h2>

		 	  </div>

		 </div>

		 <div class="row">
		 	
		 	  <div class="col-md-6"></div>

		 	  <div class="col-md-6">
		 	  	
		 	  	   <div class="input-group mb-3">
		 	  	   	
		 	  	   	    <input type="text" class="form-control" placeholder="Buscar..." ng-model="search">

		 	  	   	    <div class="input-group-prepend">
		 	  	   	    	
		 	  	   	    	 <span class="input-group-text"><i class="fas fa-search"></i></span>

		 	  	   	    </div>

		 	  	   </div>

		 	  </div>

		 </div>

		 <div class="row">
		 	
		 	  <div class="table-responsive">
		 	  	
		 	  	   <table class="table">
		 	  	   	
		 	  	   	      <tr align="center" style="font-size: 16px;">
		 	  	   	      	
		 	  	   	      	  <th>Nombre</th>

		 	  	   	      	  <th>Email</th>

		 	  	   	      	  <th>Celular</th>

		 	  	   	      	  <th>Acciones</th>

		 	  	   	      </tr>

		 	  	   	      <tr id="cuerpo" ng-repeat="cliente in clientes | filter : search" align="center">
		 	  	   	      	
		 	  	   	      	  <td>{{ cliente.Nombre }}</td>

		 	  	   	      	  <td>{{ cliente.Email }}</td>

		 	  	   	      	  <td>{{ cliente.Celular }}</td>

		 	  	   	      	  <td>
		 	  	   	      	  	
		 	  	   	      	  	 <button class="btn btn-outline-primary" data-toggle="modal" data-target="#estado_cuenta" ng-click="estado(cliente.nIDCliente)"> <i class="far fa-eye"></i>
		 	  	   	      	  	 	Ver Estado
		 	  	   	      	  	 </button>

		 	  	   	      	  </td>

		 	  	   	      </tr>

		 	  	   </table>

		 	  </div>

		 </div>

	</div>

</section>

<!-- M O D A L   V I S T A    D E L   E S T A D O    D E    C U E N T A -->
<div class="modal" id="estado_cuenta" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">	

	 <div class="modal-dialog modal-lg" role="document">
	 
	 	  <div class="modal-content">
	 	  	
	 	  	   <!-- C A B E C E R A    M O D A L -->
	 	  	   <div class="modal-header">
	 	  	   	
	 	  	   	    <h2 class="modal-title" id="myModalLabel">Estado de cuenta</h2>

	 	  	   	    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	 	  	   	    	
	 	  	   	    	    <span aria-hidden="true">X</span>

	 	  	   	    </button>

	 	  	   </div>

	 	  	   <!--C U E R P O    M O D A L -->
	 	  	   <div class="modal-body">
	 	  	   	
	 	  	   	    <div class="container">

	 	  	   	    	<div class="row mb-3" align="right">
	 	  	   	    		 
	 	  	   	    		 <div class="col-md-12">
	 	  	   	    		 	
	 	  	   	    		 	  <button class="btn btn-outline-success" ng-click="cambiar()"><i class="fas fa-coins"></i> Liberar Pago</button>

	 	  	   	    		 </div>

	 	  	   	    	</div>

						 <div class="row">
						 	
						 	  <div class="table-responsive" id="TablaContactos">
						 	  	
						 	  	   <table class="table">
						 	  	   	
						 	  	   	      <tr align="center" style="font-size: 16px;">
						 	  	   	      	
						 	  	   	      	  <th>Detalle</th>

						 	  	   	      	  <th>Automóvil</th>

						 	  	   	      	  <th>Fecha</th>

						 	  	   	      	  <th>Costo</th>

						 	  	   	      </tr>

						 	  	   	      <tr id="cuerpo" ng-repeat="cuenta in cuentas" align="center">

						 	  	   	      	  <td>{{ cuenta.Detalle }} - {{ cuenta.Cantidad }} </td>
						 	  	   	      	
											  <td>{{ cuenta.Marca }} {{ cuenta.Modelo }} <br> No.Placa {{ cuenta.Placas }}</td>

											  <td>{{ cuenta.FechaCreacion }}</td>

											  <td> $ {{ cuenta.Costo }}</td>

						 	  	   	      </tr>

						 	  	   </table>

									<h2 align="right"> Total : $ {{ Total }}</h2>
								
						 	  	   <h2 align="center">{{ mensaje }}</h2>

						 	  </div>

						 </div>

	 	  	   	    </div>

	 	  	   </div>


	 	  	   <!--P I E   M O D A L -->
	 	  	   <div class="modal-footer">
	 	  	   	
	 	  	   	    <div class="container">
	 	  	   	    	
	 	  	   	    	 <div class="row" align="center">
	 	  	   	    	 	  
	 	  	   	    	 	  <div class="col-md-12">
	 	  	   	    	 	  	
	 	  	   	    	 	  	   <button class="button primary" data-dismiss="modal">Cerrar</button>

	 	  	   	    	 	  </div>

	 	  	   	    	 </div>

	 	  	   	    </div>

	 	  	   </div>

	 	  </div>	

	 </div>

</div>