<section>
  
    <div class="container" ng-init="get()">
      
         <div class="row">
           
              <div class="col-md-12">
                
                   <h2>ENTREGAS</h2>

              </div>

         </div>

         <div class="row">
         	
         	  <div class="col-md-6"></div>

         	  <div class="col-md-6">
         	  	
         	  	   <div class="input-group mb-3">
         	  	   	
         	  	   	    <input type="text" class="form-control" placeholder="Buscar..." ng-model="search">

         	  	   	    <div class="input-group-prepend">
         	  	   	    	
         	  	   	    	 <span class="input-group-text"><i class="fas fa-search"></i></span>

         	  	   	    </div>

         	  	   </div>

         	  </div>

         </div>

         <div class="row">
           
              <div class="table-responsive">
                
                   <table class="table">
                     
                          <tr align="center" style="font-size: 16px;">
                            
                              <th>Cliente</th>

                              <th>Automovil</th>

                              <th>Estado</th>

                              <th>Fecha y Hora</th>

                              <th>Acción</th>

                          </tr>

                          <tr id="cuerpo" ng-repeat="estado in estados | filter : search " align="center">
                            
                              <td>{{ estado.Nombre }} <br> Cel. {{ estado.Celular }} <br> Email. {{ estado.Email }}</td>

                              <td>{{ estado.Marca }} {{ estado.Modelo }} <br> No.Placa {{ estado.Placas }} </td>

                              <td>{{ estado.Estatus }}</td>

                              <td>{{ estado.FechaFin }}</td>                              

                              <td>
                                
                                  <button class="btn btn-outline-primary" data-toggle="modal" data-target="#nuevo_modal" ng-click=detalles(estado.nIDSolicitud,estado.nIDCliente)>
                                    
                                          Agregar detalle

                                  </button>

                              </td>

                          </tr>

                   </table>

              </div>

         </div>

    </div>

</section>



<!-- M O D A L    A G R E G A R    U N    D E T A L L E   A    L A    E N T R E G A -->
<div class="modal" id="nuevo_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  
     <div class="modal-dialog modal-lg" role="document">
       
          <div class="modal-content">
            
               <!-- M O D A L   H E A D E R -->
               <div class="modal-header">
                 
                    <h2 class="modal-title" id="myModalLabel">Detalles</h2>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      
                            <span aria-hidden="true">X</span>

                    </button>

               </div>


               <!-- M O D A L  B O D Y -->
               <div class="modal-body">
                 
                    <div class="container">

                        <div class="Visible">
                      
                         <div class="row">
                            
                               <div class="col-md-12">
                                 
                                    <div class="input-group mb-3">
                                      
                                         <div class="input-group-prepend">
                                           
                                              <span class="input-group-text"><i class="fas fa-list-ul"></i></span>

                                         </div>

                                         <input type="text" class="form-control" placeholder="Detalle de la entrega" 
                                         id="Detalle" ng-model="Estado.Detalle">

                                    </div>

                               </div>                               

                          </div>

                         <div class="row">
                              
                              <div class="col-md-6">
                                 
                                    <div class="input-group mb-3">
                                      
                                         <div class="input-group-prepend">
                                           
                                              <span class="input-group-text"><i class="fas fa-sort-numeric-up-alt"></i></span>

                                         </div>

                                         <input type="text" class="form-control" placeholder="Cantidad" 
                                         id="Cantidad" ng-model="Estado.Cantidad">

                                    </div>

                               </div> 

                               <div class="col-md-6">
                                 
                                    <div class="input-group mb-3">
                                      
                                         <div class="input-group-prepend">
                                           
                                              <span class="input-group-text"><i class="fas fa-money-check-alt"></i></span>

                                         </div>

                                         <input type="text" class="form-control" placeholder="Costo" 
                                         id="Costo" ng-model="Estado.Costo">

                                    </div>

                               </div>
                              

                         </div>

                         <div class="row">
                           
                              <div class="col-md-12">
                                
                                   <div class="input-group mb-3">
                                     
                                        <div class="input-group-prepend">
                                          
                                             <span class="input-group-text">...</span>

                                        </div>

                                        <textarea  id="Descripcion" rows="3" class="form-control" placeholder="Descripción del detalle..." ng-model="Estado.Descripcion"></textarea>

                                   </div>

                              </div>

                         </div>

                         <div class="row" align="right">
                           
                              <div class="col-md-12"> 

                                   <button type="button" class="btn btn-outline-dark" id="boton" ng-click="add(Estado)">Guardar</button>

                              </div>

                         </div>

                         <hr style="border-color: #044BFD; ">

                      </div>


                      <div class="row">
                        
                           <div class="table-responsive" id="TablaContactos">
                             
                                <table class="table">
                                  
                                      <tr align="center" style="font-size: 16px;">
                                        
                                          <th>Detalle</th>

                                          <th>Estado</th>

                                          <th>Costo</th>

                                      </tr>

                                      <tr id="cuerpo" ng-repeat="cuenta in cuentas">
                                        
                                          <td>{{ cuenta.Detalle }} - {{ cuenta.Cantidad }}</td>

                                          <td align="center">{{ cuenta.Estatus }}</td>

                                          <td align="center"> $ {{ cuenta.Costo }}</td>


                                      </tr>

                                </table>
                                  <h2 align="center">{{mensajeE}}</h2>
          
                                <h2 align="right">Total : ${{ Total }}</h2>

                           </div>

                      </div>






                    </div>

                  </div>

               


               <!-- M O D A L    F O O T E R -->
               <div class="modal-footer">
                 
                    <div class="container">
                      
                         <div class="row" align="center">
                           
                              <div class="col-md-12">
                                
                                   <button class="button primary" data-dismiss="modal">Cerrar</button>

                              </div>

                         </div>

                    </div>

               </div>

          </div>

     </div>

</div>