#chat-container{
	
	display: grid;
	grid: 
	'search-container chat-title' 71px
	'conversation-list chat-message-list' 1fr
	'new-message-container chat-form' 78px
	/340px 1fr;
	min-width: 800px;
	max-width: 100%;
	height: : 100vh;
	width: 100%;
	height: 100vh;
	background: #fff;
	border-radius: 10px;
}

#search-container,
#conversation-list,
#new-message-container{

	background: #212529;/*Color Azul*/
}

#search-container{
	display: grid;
	align-items: center;
	padding: 0 20px;
	grid-area: search-container;
	border-radius: 10px 0 0 0;
	box-shadow: 0 1px 3px -1px rgba(0,0,0,0.75); /*Color negro*/
	z-index: 1;
}

#search-container input{
	color: #eee;
	outline: none;
	font-weight: bold;
	border-radius: 2px;
	height: 30px;
	border: 0; 
	padding-left: 48px;
	padding-right: 20px;
	font-size: 1.4em;
	background: url('../img/busqueda.svg') no-repeat rgba(255,255,255,0.25);
	background-position: 15px center;
	background-size: 20px 20px;
}

#search-container input::placeholder{
	color: #ddd;
	font-weight: bold;
}

#conversation-list{

	grid-area: conversation-list;
	overflow-y: scroll;
}

.conversation{

	display: grid;
	grid-template-columns: 40px 1fr max-content;
	grid-gap: 10px;
	color: #ddd;
	font-size: 1.3rem;
	border-bottom: 1px solid #212529;
	padding: 20px 20px 20px 15px;
}

.conversation.active,
.conversation:hover{
	background: #002C88;

}

.conversation:hover{

	cursor: pointer;
}

.conversation > img{
	grid-row: span 2;
	height: 40px;
	width: 40px;
	border-radius: 100%;

}

.title-text{

	font-weight: bold;
	color: #eee;
	padding-left: 5px;
	white-space: nowrap;
	overflow-x: hidden;
	text-overflow: ellipsis;

}

.created-date{

	color: #ddd;
	font-size: 1rem;
}

.conversation-message{
	
	grid-column: span 2;
	padding-left: 5px;
	white-space: nowrap;
	overflow-x:hidden;
	text-overflow: ellipsis; 
}

#new-message-container{
	
	display: grid;
	grid: 40px / 40px;
	align-content: center;
	grid-area: new-message-container;
	border-top: 1px solid rgba(0,0,0,0.25); /*Negro*/
	border-radius: 0 0 0 10px;
	padding: 0 15px;
}

#new-message-container a {
	
	display: grid;
	place-content: center center;
	background: #eee;
	border-radius: 100%;
	color: #212529;
	text-decoration: none;
	font-size: 3.6rem;
}

#chat-title,
#chat-form{
	background: #eee;
}

#chat-title{
	display: grid;
	grid: 36px / 1fr 36px;
	align-items: center;
	align-content: center;
	grid-area: chat-title;
	color: #212529;
	font-weight: bold;
	font-size: 2.0rem;
	border-radius: 0 10px 0 0;
	box-shadow: 0 1px 3px -1px rgba(0,0,0,0.75);
	padding: 0 20px;

}

#chat-title >img{

		cursor:pointer;
}

#chat-message-list{
	grid-area: chat-message-list;
	display: flex;
	flex-direction: column-reverse;
	padding: 0 20px;
	overflow-y: scroll;
}

.message-row{
	
	grid-template-columns: 70%;
	margin-bottom: 20px;
}

.message-content{

	display: grid;
}


.you-message{

	justify-content: end;
	
	
}

.you-message{
	display: grid;
    justify-items: end;

}

.other-message{
	display: grid;
	justify-items: start;
}

.other-message .message-content{

	grid-template-columns: 48px 1fr;
	grid-column-gap: 15px;

}

.message-row img{
	border-radius: 100%;
	width: 40px;
	height: 40px;
	grid-row: span 2;
}

.message-text{

	padding: 9px 14px;
	font-size: 1.6rem;
	margin-bottom: 5px;
}

.message-time{

	font-size: 1.3rem;
	color: #777;

}

.you-message .message-text{
	background:#212529;
	color: #eee; 
	border: 1px solid #212529;
	border-radius: 14px 14px 0 14px;
}

.other-message .message-text{
	background: #eee;
	color: #111;
	border: 1px solid #ddd;
	border-radius: 14px 14px 14px 0;
}

#chat-form{
	display: block;
	grid:51px / 32px 1fr;
	align-content: center;
	align-items: center;
	grid-gap: 15px; 
	grid-area: chat-form;
	border-radius: 0 0 10px 0;
	border-top: 1px solid rgba(0,0,0,0.25);
	padding-left: 42px;
	padding-right: 22px;

}

#chat-form input{

	outline: none;
	padding: 15px;
	border:2px solid #ddd;
	color: #330;
	border-radius: 6px;
	font-size: 1.4em;
	width: 85%;
	float: left;
	margin-top: 7px;
}

#chat-form > img{

	float: right;
	width: 60px;
	margin-top: 10px;
}


::-webkit-scrollbar{

	display: none;
}