  @charset "UTF-8";
/* CSS Document */
/*html {
  height: 100vh !important;
  width: 100vw !important;
  font-size: 14px;
}*/

.table{
background-color: rgba(255,255,255,.6);
}
body {
  margin: 0px;
 /*  height: 100%;
  width: 100%;*/
  font-family: "Ubuntu";
  background:url('../img/fondo.png');
background-size: 400px 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: grid;
  

}

.navbar-expand .navbar-nav .dropdown-menu {
    position: absolute;
    width: 300px;
    top: 69px;
}

.dropdown-menu.show{

      width: 300px;
}


.mapboxgl-ctrl-bottom-right{

  visibility: hidden;
}

.marker{
      background-image: url('../img/Vehiculova.png');
      background-size: cover;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      cursor: pointer;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}


.mapboxgl-ctrl-top-right {
    top: 0;
    left: 0;
}

#mapa-mapbox > div > canvas {
   
    width: 100% !important;
}

.table-responsive{
overflow-y: scroll !important;
height: 60vh !important;
overflow-x: auto;
}


section{

    height: 100% !important;
width:100%;
    display: block;
    position: absolute;
    box-sizing: border-box;
  /*width: 100vw;*/
  /*height: 100vh;*/
   
 /* padding-top: 4%;
  margin-left:3.5%;
  margin-right:3.5%;*/
}

.mapas{
	margin-top :3%;
	margin-left:7%;
}

legend {
  padding-bottom: 8px;
}


a:hover {
  text-decoration: none;
}


#logo1{

  height: 79px;
  margin: 10px 30px;
}



.full {
  margin: 0px;
    
}


/*Botones /////////////////////////////*/


.button {
  min-width: 180px;
  border: none;
  border-radius: 12px;
  
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  display: block;
  text-transform: uppercase;
  margin: 24px auto;
  cursor: pointer;
  
  -webkit-transition: all 0.2s; /* For Safari 3.1 to 6.0 */
  transition: all 0.2s;
  
}

.button.primary {
  box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.3);
  background-color: #000000;
  color: white;
}

.button.primary:hover {
  box-shadow: 0px 4px 10px 4px rgba(0,0,0,0.2);
  background-color: #044BFD;

  
}

.button:focus {outline:0;}




/*Form //////////////*/

form {color: #4d4d4d;}

legend{
  padding-top: 36px;
}
label.material {
  position: absolute;
  padding: 8px 0px 0px 8px;
} 


input         {
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
  background-color: rgba(255,255,255,0.3)
}
input:focus     { outline:none; }

/* LABEL ======================================= */
.group label         {
  color:#444; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:100px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}



/* active state */
input:focus ~ label, input:valid ~ label    {
  top:-20px;
  font-size:14px;
  color:#C8102E;
}




/* BOTTOM BARS ================================= */
.bar  { position:relative; display:block; width:300px; }
.bar:before, .bar:after   {
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#C8102E; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from { background:#5264AE; }
  to  { width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
  from { background:#5264AE; }
  to  { width:0; background:transparent; }
}
@keyframes inputHighlighter {
  from { background:#5264AE; }
  to  { width:0; background:transparent; }
}

label.material:focus {
  padding: 1px 0px 0px 8px;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  background-color: #ffffff;
  border: 2px solid #dddddd;
  -webkit-transition: 0.2s;
    transition: 0.2s;
  display: block;
  position: relative;
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin-right: 24px;
}
input[type="checkbox"]:hover {
  border-color: #9d28b4;
}
input[type="checkbox"]:active,  input[type="checkbox"]:checked:active {
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
input[type="checkbox"]:checked {
  background-color: #9d28b4;
  border: 2px solid #ffffff;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
  color: #99a1a7;
}
input[type="checkbox"]:checked:after {
  content: '\2714';
  font-size: 18px;
  position: absolute;
  top: 0px;
  left: 3px;
  color: #ffffff;
}

.centered-form {
  margin: 0px auto;
  display: block;
  max-width: 300px;
}




/*LOGIN/////////////////////////////*/


#isologo {
	display: block;
	width: 48px;
	margin: 20px auto;
}

/*.login-float {
	float: right;
	
}*/

.margin-login {
		margin-top: 150px;
	}




.barra-login {
    width: 100%;
    max-width: 400px;
    height: 20px;
    background-image: url("../img/barrra.png");
    background-size: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.login-card {
	max-width: 400px;
	background-color: white;
	border-bottom-left-radius: 12px;
    	border-bottom-right-radius: 12px;
	padding: 40px;
	box-shadow: 4px 0px 10px 2px rgba(0,0,0,0.2);
	
}
#logo_login {
	width: 100%;
	 
}

.top-registro {
  text-align: center;
  max-width: 400px;
  margin: auto;
  color: #4d4d4d;
}

.top-registro img {
  max-width: 80px;
  margin-bottom: 16px
}



#terminos span {
  color: #9d28b4;
}

.numero-cliente {
  margin: 200px 0px;
  color: white;
}

.numero-cliente img {
  width: 90px;
  margin-bottom: 20px
}

.half-gradient {
  background: linear-gradient(-45deg, #001b71, #ef2ac1); height: 100vh; 
  text-align: center;
}

.bienvenido {
  max-width: 400px; 
  margin: 250px auto; 
  text-align: center;
  color: #4d4d4d;
}

.iso {
  display: none;
}


@media only screen and (max-width : 991.98px){
  nav li {
  padding: 15px 10px;
  display: block
  }
  nav span {
  font-size: 14px;
  }
  #logo1{

  height: 65px;
  margin: 15px 15px;
  }
  
@media only screen and (max-width : 768px){
  #logo1{
    display:none;
  }
  
  .iso {
    display: inline;
    width: 40px;
    height: 40px;
    margin: 20px 15px 0px;
  }
  .timer{
    padding: 10px 5px;
  }
  .timer b {
  font-size: 30px
  }
  
  nav li {
  padding: 15px 8px;
  display: block;
  }
  
  
  #login-slogan {
    
    display: none;
    
  }

  .margin-login {
    margin-top: 0px
  }
  
  .half-gradient {
    height: 250px !important;
  }
  
  .half-gradient .numero-cliente,  .bienvenido {
    margin: 40px auto;
  }
  
  .half-gradient .numero-cliente h1, .bienvenido h1{
    font-size: 20px;
  }
  .bienvenido p {
    font-size: 13px;
  }

}
