.modal-body .row div label{

    font-size: 14px;
}

.modal-body .container{
  padding-top: 20px; 
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}

.modal-footer .container{
  padding-top: 20px; 
  padding-bottom: 20px;

}
#boton{

      width: 100px;
}

#boton:hover{

  background-color: #044BFD
}

.modal-header{

      border-color:  #044BFD;
}

div .input-group:hover{

      border-color: #044BFD;
      box-shadow: 2px 2px 2px 2px rgba(4,75,253,0.5);
}

div #NuevoContacto{

      border-color: #FFFFFF;
      box-shadow: 2px 2px 2px 2px rgba(4,75,253,0.5);
}

.carousel-caption{
  left: 0 !important;
  right: 0 !important;
  z-index: 1 !important;
  background: #000000d9;
  height: 20% !important;
  -webkit-filter: blur(5px) !important;
  -moz-filter: blur(5px) !important;
  -o-filter: blur(5px) !important;
  -ms-filter: blur(5px) !important;
  filter: blur(5px) !important;
}

.contenido {
  position: absolute !important;
  z-index: 9999;
  margin-left: 20px;
  margin-right: 20px;
margin-top:-80px;
margin-right:25%;
margin-left:25%;
}
