.table-responsive table tr th{

  font-size: 14px;

}

#cuerpo:hover{

  color: black;
  background: rgba(4,75,253,0.1);
}

.row h1{

  color: #333333;
}

#domicilio{

      word-wrap: break-word;
      max-height: 100px;
      width: 250px;
}

.iconos : hover {
	
transform: scale(1.5,1.5);
transition-timing-function: ease-out;
transition-duration: 100ms;
    

}