<section>
  
    <div class="container" ng-init="get()">
      
         <div class="row">
           
              <div class="col-md-6">
                
                   <h2>DOCUMENTOS DEL AUTOMÓVIL</h2>

              </div>

         </div><br><br>

         <div class="row">
      
              <div class="col-md-6"></div>

              <div class="col-md-6">
          
                   <div class="input-group mb-3">                  

                        <input type="text" class="form-control" placeholder="Buscar Automóviles..." ng-model="search">

                                <div class="input-group-prepend">

                                     <span class="input-group-text"><i class="fas fa-search"></i></span>

                                </div>

                   </div>

              </div>

          </div>

         <div class="row">
           
              <div class="table-responsive">
                
                   <table class="table">
                     
                          <tr align="center" style="font-size: 16px;">
                            
                              <th>Marca</th>

                              <th>Modelo</th>

                              <th>Año</th>

                              <th>Placa</th>

                              <th class="text-center">Acciones</th>

                          </tr>

                          <tr id="cuerpo" ng-repeat="auto in autos | filter : search" align="center">
                            
                              <td>{{ auto.Marca }}</td>

                              <td>{{ auto.Modelo }}</td>

                              <td>{{ auto.Year }}</td>

                              <td>{{ auto.Placas }}</td>

                              <td>
                                
                                <a data-toggle="modal" data-target="#archivos_modal" ng-click="getArchivos(auto.nIDAutomovil)">

                                    <button type="button" class="btn btn-outline-primary"><i class="fas fa-eye mr-2"></i>Ver archivos</button>

                                </a>

                                <a data-toggle="modal" data-target="#subir_modal" ng-click="obtener(auto.nIDAutomovil)">
                                  
                                  <button type="button" class="btn btn-outline-success"><i class="fas fa-plus mr-2"></i>
                                  Nuevo archivo</button>

                                </a>

                              </td>

                          </tr>

                   </table>

              </div>

         </div>

    </div>

</section>


<!-- V E R     A R C H I V O S -->
<div class="modal" id="archivos_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  
     <div class="modal-dialog modal-lg" role="document">
       
          <div class="modal-content">
               
               <!-- M O D A L    H E A D E R -->
               <div class="modal-header">
                 
                    <h2 class="modal-title" id="myModalLabel">Archivos del auto {{ Marca }} {{Modelo}} </h2>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      
                            <span aria-hidden = "true">X</span>

                    </button>

               </div>


               <!-- C U E R P O    M O D A L -->
               <div class="modal-body">                
                 
                    <div class="container">

                         <div class="row text-center">
                           
                              <div class="col-md-12">
                                
                                   <div id="VistaImagen">
                                     
                                        <embed id="doc" src="" width="100%" height="500"></embed>

                                   </div>

                              </div>

                         </div>
                      
                         <div class="row">
                           
                              <div class="table-responsive">
                                
                                   <table class="table">
                                     
                                          <tr align="center" style="font-size: 16px;">
                                            
                                              <th>Tipo de documento</th>

                                              <th>Nombre</th>

                                              <th>Ver archivo</th>

                                              <th>Acciones</th>

                                          </tr>

                                          <tr id="cuerpo" ng-repeat="documentoAutomovil in documentoAutomoviles" align="center">
                                              
                                              <td>{{ documentoAutomovil.TipoDocumento }}</td>

                                              <td>{{ documentoAutomovil.Nombre }}</td>

                                              <td>
                                                <a ng-click="Ver(documentoAutomovil.Documento,documentoAutomovil.nIDAutomovil)">
                                                  <img src="https://img.icons8.com/cute-clipart/64/000000/pdf.png">
                                                </a>
                                              </td>

                                              <td>
                                                
                                                <a data-toggle="modal" data-target="#update_modal" ng-click="show(documentoAutomovil)"  class="iconos">
                                      
                                                    <img src="assets/img/pencil.png">

                                                </a>

                                                <a class="iconos" ng-click="destroy(documentoAutomovil.nIDDocumento,documentoAutomovil.nIDDocumentoAutomovil,documentoAutomovil.nIDAutomovil)">
                                      
                                                   <img src="assets/img/delete.png">

                                                </a>

                                              </td>

                                          </tr>

                                   </table>

                                   <h2 style="text-align: center">{{ Titulo }}</h2>

                              </div>

                         </div>

                    </div>

               </div>



               <!-- P I E    M O D A L -->
               <div class="modal-footer">
                 
                    <div class="container">
                      
                         <div class="row" align="center">
                           
                              <div class="col-md-12">
                                
                                   <button type="button" class="btn btn-outline-dark" id="boton" data-dismiss="modal">Cancelar
                                   </button>

                              </div>

                         </div>

                    </div>

               </div>

          </div>

     </div>

</div>




<!-- N U E V O     A R C H I V O  -->
<div class="modal" id="subir_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  
     <div class="modal-dialog modal-lg" role="document">
       
          <div class="modal-content">
               
               <!-- M O D A L    H E A D E R -->
               <div class="modal-header">
                 
                    <h2 class="modal-title" id="myModalLabel">Nuevo archivos</h2>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      
                            <span aria-hidden = "true">X</span>

                    </button>

               </div>


               <!-- C U E R P O    M O D A L -->
               <div class="modal-body">                
                 
                    <div class="container">

                         <div class="row">
                           
                              <div class="col-md-12">
                                
                                   <div class="input-group mb-3">
                                     
                                        <div class="input-group-prepend">
                                          
                                             <span class="input-group-text"><i class="fas fa-file"></i></span>

                                        </div>

                                        <input type="text" class="form-control" placeholder="Nombre" id="Nombre"
                                        ng-model="documento.Nombre">

                                   </div>

                              </div>

                         </div>

                         <div class="row">
                           
                              <div class="col-md-12">
                                
                                   <div class="input-group mb-3">
                                     
                                        <div class="input-group-prepend">
                                          
                                             <span class="input-group-text"><i class="fas fa-file"></i></span>

                                        </div>

                                        <select id="nIDTipoDocumento" ng-model="documento.nIDTipoDocumento" class="form-control">
                                          
                                                <option value="" selected disabled>Selecciona tipo de documento...</option>

                                                <option value="{{tipo.nIDTipoDocumento}}" 
                                                ng-repeat="tipo in tipos">{{tipo.TipoDocumento}}</option>

                                        </select>

                                   </div>

                              </div>

                         </div>

                         <div class="row">
                           
                              <div class="col-md-12">

                                   <div class="input-group mb-3">
                                     
                                        <div class="input-group-prepend">
                                          
                                             <span class="input-group-text"><i class="fas fa-file-upload"></i></span>

                                        </div>

                                        <input type="file" id="Documento" class="form-control" ng-model="documento.Documento">

                                   </div>
                                
                                   

                              </div>

                         </div> 

                    </div>

               </div>



               <!-- P I E    M O D A L -->
               <div class="modal-footer">
                 
                    <div class="container">
                      
                         <div class="row" align="center">
                           
                              <div class="col-md-12">
                                
                                   <button type="button" class="btn btn-outline-dark" id="boton" ng-click="clean()">Cancelar
                                   </button>

                                   <button type="button" class="btn btn-outline-dark" id="boton" ng-click="add(documento)">Guardar</button>

                              </div>

                         </div>

                    </div>

               </div>

          </div>

     </div>

</div>



<!-- N U E V O     A R C H I V O  -->
<div class="modal" id="update_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  
     <div class="modal-dialog modal-lg" role="document">
       
          <div class="modal-content">
               
               <!-- M O D A L    H E A D E R -->
               <div class="modal-header">
                 
                    <h2 class="modal-title" id="myModalLabel">Modificar archivos</h2>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      
                            <span aria-hidden = "true">X</span>

                    </button>

               </div>


               <!-- C U E R P O    M O D A L -->
               <div class="modal-body">                
                 
                    <div class="container">

                         <div class="row">
                           
                              <div class="col-md-12">
                                
                                   <div class="input-group mb-3">
                                     
                                        <div class="input-group-prepend">
                                          
                                             <span class="input-group-text"><i class="fas fa-file"></i></span>

                                        </div>

                                        <input type="text" class="form-control" placeholder="Nombre" id="NombreEdit"
                                        ng-model="documentoEdit.Nombre">

                                   </div>

                              </div>

                         </div>

                         <div class="row">
                           
                              <div class="col-md-12">
                                
                                   <div class="input-group mb-3">
                                     
                                        <div class="input-group-prepend">
                                          
                                             <span class="input-group-text"><i class="fas fa-file"></i></span>

                                        </div>

                                        <select id="nIDTipoDocumentoEdit" ng-model="documentoEdit.nIDTipoDocumento" class="form-control">
                                          
                                                <option value="" selected disabled>Selecciona tipo de documento...</option>

                                                <option value="{{tipo.nIDTipoDocumento}}" 
                                                ng-repeat="tipo in tipos">{{tipo.TipoDocumento}}</option>

                                        </select>

                                   </div>

                              </div>

                         </div>

                         <div class="row">
                           
                              <div class="col-md-12">

                                   <div class="input-group mb-3">
                                     
                                        <div class="input-group-prepend">
                                          
                                             <span class="input-group-text"><i class="fas fa-file-upload"></i></span>

                                        </div>

                                        <input type="file" id="DocumentoEdit" class="form-control" ng-model="documentoEdit.Documento">

                                   </div>
                                
                                   

                              </div>

                         </div> 

                    </div>

               </div>



               <!-- P I E    M O D A L -->
               <div class="modal-footer">
                 
                    <div class="container">
                      
                         <div class="row" align="center">
                           
                              <div class="col-md-12">
                                
                                   <button type="button" class="btn btn-outline-dark" id="boton" ng-click="clean()">Cancelar
                                   </button>

                                   <button type="button" class="btn btn-outline-dark" id="boton" ng-click="update(documentoEdit)">Guardar</button>

                              </div>

                         </div>

                    </div>

               </div>

          </div>

     </div>

</div>