<section>
  
    <div class="container" ng-init="get()">

         <div class="row"><!-- Inicio fila -->
           
              <div class="col-md-3"></div>

              <div class="col-md-3"></div>

              <div class="col-md-3"></div>

              <div class="col-md-3">
                
                   <div class="pull-rigth">
                     
                        <button class="button primary" data-toggle="modal" data-target="#add_modal">
                          
                                <i class="glyphicon glyphicon-plus-sign mr-2"></i>
                                Agregar
                        </button>

                   </div>

              </div>

         </div><!-- Fin fila del botón-->
      
         <div class="row">
           
              <div class="col-md-6">
                
                   <h2>TIPO DE DOCUMENTOS</h2>

              </div>

         </div><br><br>

         <div class="row">
      
              <div class="col-md-6"></div>

              <div class="col-md-6">
          
                   <div class="input-group mb-3">                  

                        <input type="text" class="form-control" placeholder="Buscar..." ng-model="search">

                                <div class="input-group-prepend">

                                     <span class="input-group-text"><i class="fas fa-search"></i></span>

                                </div>

                   </div>

              </div>

         </div>

         <div class="row">
         	
         	  <div class="col-md-12">
         	  	
         	  	   <ul class="nav nav-tabs" role="tablist">
         	  	   	
         	  	   	   <li class="nav-item">
         	  	   	   	
         	  	   	   	   <a class="nav-link active" data-target="#Clientes" aria-controls="seccion1" data-toggle="tab">Clientes</a>

         	  	   	   </li>

         	  	   	   <li class="nav-item">
         	  	   	   	
         	  	   	   	   <a class="nav-link" data-target="#Automoviles" aria-controls="seccion2" data-toggle="tab">Automóviles</a>

         	  	   	   </li>

         	  	   </ul>

         	  	   <div class="tab-content">
         	  	   	
         	  	   	    <div class="container tab-pane active" id="Clientes">
         	  	   	    	
         	  	   	    	 <div class="row">
           
              					  <div class="table-responsive">
                
                   					   <table class="table">
                     
                          					  <tr align="center" style="font-size: 16px;">
                            
                              					  <th>Tipo de documento</th>

                              					  <th>Descripción</th>

                              					  <th class="text-center">Acciones</th>

                          					  </tr>

                          					  <tr id="cuerpo" ng-repeat="type in types | filter : search" align="center">
                            
                              					  <td>{{ type.TipoDocumento }}</td>

                              					  <td>{{ type.Descripcion }}</td>

                              					  <td>
                                
						                                <a data-toggle="modal" data-target="#update_modal" ng-click="show(type)" class="iconos">
                                      
                        					                <img src="assets/img/pencil.png">

                                						</a>

                                						<a ng-click="destroy(type.nIDTipoDocumento)" class="iconos">
                                      
                                        				  <img src="assets/img/delete.png">

                                						</a>
                              					 
                              					 </td>

                          					 </tr>

                   					 </table>

              					 </div>

         					 </div>


         	  	   	    </div>

         	  	   	    <div class="container tab-pane" id="Automoviles">
         	  	   	    	
							 <div class="row">
           
              					  <div class="table-responsive">
                
                   					   <table class="table">
                     
                          					  <tr align="center" style="font-size: 16px;">
                            
                              					  <th>Tipo de documento</th>

                              					  <th>Descripción</th>

                              					  <th class="text-center">Acciones</th>

                          					  </tr>

                          					  <tr id="cuerpo" ng-repeat="typeA in typeAs | filter : search" align="center">
                            
                              					  <td>{{ typeA.TipoDocumento }}</td>

                              					  <td>{{ typeA.Descripcion }}</td>

                              					  <td>
                                
						                                <a data-toggle="modal" data-target="#update_modal" ng-click="showA(typeA)" class="iconos">
                                      
                        					                <img src="assets/img/pencil.png">

                                						</a>

                                						<a ng-click="destroy(typeA.nIDTipoDocumento)" class="iconos">
                                      
                                        				  <img src="assets/img/delete.png">

                                						</a>
                              					 
                              					 </td>

                          					 </tr>

                   					 </table>

              					 </div>

         					 </div>
         	  	   	    </div>

         	  	   </div>

         	  </div>

         </div>
         

    </div>

</section> 


<!-- V E R     A R C H I V O S -->
<div class="modal" id="add_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  
     <div class="modal-dialog modal-lg" role="document">
       
          <div class="modal-content">
               
               <!-- M O D A L    H E A D E R -->
               <div class="modal-header">
                 
                    <h2 class="modal-title" id="myModalLabel">Nuevo tipo de documento</h2>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      
                            <span aria-hidden = "true">X</span>

                    </button>

               </div>


               <!-- C U E R P O    M O D A L -->
               <div class="modal-body">                
                 
                    <div class="container">

                         <div class="row">
                            
                               <div class="col-md-12">
                                 
                                    <div class="input-group mb-3">
                                      
                                         <div class="input-group-prepend">
                                           
                                              <span class="input-group-text"><i class="fas fa-file"></i></span>

                                         </div>

                                         <input type="text" class="form-control" placeholder="Tipo de documento" 
                                         id="TipoDocumento" ng-model="tipodoc.TipoDocumento">

                                    </div>

                               </div>                               

                          </div>


                          <div class="row">
                            
                               <div class="col-md-12">
                                 
                                    <div class="input-group mb-3">
                                      
                                         <div class="input-group-prepend">
                                           
                                            <span class="input-group-text"><i class="fas fa-text-height"></i></span>

                                         </div>

                                         <input type="text" class="form-control" placeholder="Descripción" id="Descripcion"
                                         ng-model="tipodoc.Descripcion">

                                    </div>

                               </div>

                          </div>


                          <div class="row">
                          	
                          	   <div class="col-md-12">

                          	        <div class="input-group mb-3">

                          	        	<div class="input-group-prepend">
                          	        		
                          	        		 <span class="input-group-text">...</span>

                          	        	</div>
                          	        	
                          	        	 <select id="Tipo" ng-model="tipodoc.Tipo" class="form-control">
								    	
								    	    	<option value="" selected disabled>Selecciona pertenencia del documento...</option>

								    	    	<option value="0">Cliente</option>

								    	    	<option value="1">Automóvil</option>

								    	</select>


                          	        </div>                          	   	
								    
                          	   </div>

                          </div>
                         
                    </div>

               </div>



               <!-- P I E    M O D A L -->
               <div class="modal-footer">
                 
                    <div class="container">
                      
                         <div class="row" align="center">

                              <div class="col-md-12">
                                
                                   <button type="button" class="btn btn-outline-dark" id="boton" data-dismiss="modal">Cancelar</button>

                                   <button type="button" class="btn btn-outline-dark" id="boton" ng-click="add(tipodoc)">Guardar</button>

                              </div>

                         </div>

                    </div>

               </div>

          </div>

     </div>

</div>

<!-- M O D I F I C A R    T I P O    D O C U M E N T O  -->
<div class="modal" id="update_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  
     <div class="modal-dialog modal-lg" role="document">
       
          <div class="modal-content">
               
               <!-- M O D A L    H E A D E R -->
               <div class="modal-header">
                 
                    <h2 class="modal-title" id="myModalLabel">Modificar tipo de documento</h2>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      
                            <span aria-hidden = "true">X</span>

                    </button>

               </div>


               <!-- C U E R P O    M O D A L -->
               <div class="modal-body">                
                 
                    <div class="container">

                         <div class="row">
                            
                               <div class="col-md-12">
                                 
                                    <div class="input-group mb-3">
                                      
                                         <div class="input-group-prepend">
                                           
                                              <span class="input-group-text"><i class="fas fa-file"></i></span>

                                         </div>

                                         <input type="text" class="form-control" placeholder="Tipo de documento" 
                                         id="TipoDocumentoEdit" ng-model="tipodocEdit.TipoDocumento">

                                    </div>

                               </div>                               

                          </div>


                          <div class="row">
                            
                               <div class="col-md-12">
                                 
                                    <div class="input-group mb-3">
                                      
                                         <div class="input-group-prepend">
                                           
                                            <span class="input-group-text"><i class="fas fa-text-height"></i></span>

                                         </div>

                                         <input type="text" class="form-control" placeholder="Descripción" id="DescripcionEdit"
                                         ng-model="tipodocEdit.Descripcion">

                                    </div>

                               </div>

                          </div>


                          <div class="row">
                          	
                          	   <div class="col-md-12">

                          	        <div class="input-group mb-3">

                          	        	<div class="input-group-prepend">
                          	        		
                          	        		 <span class="input-group-text">...</span>

                          	        	</div>
                          	        	
                          	        	 <select id="Tipo" ng-model="tipodocEdit.Tipo" class="form-control">
								    	
								    	    	<option value="" selected disabled>Selecciona pertenencia del documento...</option>

								    	    	<option value="0">Cliente</option>

								    	    	<option value="1">Automóvil</option>

								    	</select>


                          	        </div>                          	   	
								    
                          	   </div>

                          </div>

                         
                    </div>

               </div>



               <!-- P I E    M O D A L -->
               <div class="modal-footer">
                 
                    <div class="container">
                      
                         <div class="row" align="center">

                              <div class="col-md-12">
                                
                                   <button type="button" class="btn btn-outline-dark" id="boton" data-dismiss="modal">Cancelar</button>

                                   <button type="button" class="btn btn-outline-dark" id="boton" ng-click="update(tipodocEdit)">Guardar</button>

                              </div>

                         </div>

                    </div>

               </div>

          </div>

     </div>

</div>


