<section>
  <div class="container" ng-init="get()">
    <div class="row">
        
        <div class="col-md-3"></div>

        <div class="col-md-3"></div>

        <div class="col-md-3"></div>

        <div class="col-md-3">
              
              <div class="pull-rigth">
                
                <button  class="button primary" data-toggle="modal" data-target="#add_modal"><i class="glyphicon glyphicon-plus-sign mr-2"></i>Agregar</button>
                
              </div>  

        </div>

    </div>

    <div class="row">
      
        <div class="col-md-6">
          
             <h2>AGENCIAS</h2>

        </div>

    </div><br>

    <div class="row">
      
        <div class="col-md-6"></div>

        <div class="col-md-6">
          
             <div class="input-group mb-3">                  

                  <input type="text" class="form-control" placeholder="Buscar Agencia..." ng-model="search">

                          <div class="input-group-prepend">

                               <span class="input-group-text"><i class="fas fa-search"></i></span>

                          </div>

             </div>

        </div>

    </div>

    <div class="row">


         <div class="table-responsive">
           
              <table class="table">
                
                     <tr align="center" style="font-size: 16px;">
                       
                         <th>Agencia</th>

                          <th>Domicilio</th>

                          <th>RFC</th>

                          <th>Teléfono</th>

                          <th>Email</th>

                          <th class="text-center">Acciones</th>

                     </tr>



                     <tr id="cuerpo" ng-repeat="agencia in agencias | filter:search" align="center">
                       
                         <td>{{ agencia.RazonSocial }}</td>

                         <td id="domicilio">{{ agencia.Calle }} {{ agencia.NoExterior}} Int.{{ agencia.NoInterior}}, {{ agencia.Colonia }}, CP 
                         {{agencia.Cp}}, {{ agencia.Ciudad }},{{ agencia.Estado }}.</td>

                         <td>{{ agencia.RFC }}</td>

                         <td>{{ agencia.Telefono }}</td>

                         <td>{{ agencia.Email }}</td>

                         <td>

                          <a data-toggle="modal" data-target="#update_modal" ng-click="show(agencia)">

                             <img src="assets/img/pencil.png">

                          </a>

                          <a  ng-click="destroy(agencia.nIDEmpresa)">

                              <img src="assets/img/delete.png">

                          </a>

                          <a  data-toggle="modal" data-target="#contactos_modal" ng-click="lista(agencia.nIDEmpresa)">

                              <img src="assets/img/book.png">

                          </a>

                         </td>

                     </tr>



              </table>

              <h1 align="center"><img ng-src="{{ icono }}">{{ mensaje }}</h1>

         </div>          

    </div>

  </div>

</section>



<!-- M O D A L    A G R E G A R -->
<div class="modal" id="add_modal" tabindex="-1" role="dialog" aria-labelledbye="myModalLabel">
  
     <div class="modal-dialog modal-lg" role="document">
       
          <div class="modal-content">
            

               <!-- C A B E C E R A   M O D A L -->
               <div class="modal-header">
                 
                    <h2 class="modal-title" id="myModalLabel"> Nueva Agencia </h2>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      
                            <span aria-hidden="true">X</span>

                    </button>

               </div>

               <!-- C U E R P O   M O D A L -->
               <div class="modal-body">

                    <div class="container">

                        <div class="row"> 

                             <div class="col-md-12">

                                  <div class="input-group mb-3">

                                       <div class="input-group-prepend">

                                            <span class="input-group-text"><i class="far fa-building"></i></span>

                                      </div>

                                      <input type="text" class="form-control" placeholder="Nombre de la agencia" id="agencia" ng-model="agencia.RazonSocial">

                                  </div>

                             </div>
                        
                        </div>

                        <div class="row"> 

                             <div class="col-md-12">

                                  <div class="input-group mb-3">

                                       <div class="input-group-prepend">

                                            <span class="input-group-text"><i class="fas fa-qrcode"></i></span>

                                      </div>

                                      <input type="text" class="form-control" placeholder="Registro Federal de Contribuyentes" id="RFC" ng-model="agencia.RFC">

                                  </div>

                             </div>
                        
                        </div>

                        <div class="row"> 

                             <div class="col-md-6">

                                  <div class="input-group mb-3">

                                       <div class="input-group-prepend">

                                            <span class="input-group-text"><i class="fas fa-phone"></i></span>

                                      </div>

                                      <input type="text" class="form-control" placeholder="Teléfono de la agencia" id="Telefono" ng-model="agencia.Telefono" maxlength="10">

                                  </div>

                             </div>

                             <div class="col-md-6">

                                  <div class="input-group mb-3">

                                       <div class="input-group-prepend">

                                            <span class="input-group-text"><i class="fas fa-at"></i></span>

                                      </div>

                                      <input type="text" class="form-control" placeholder="Email de la agencia" id="Email" ng-model="agencia.Email"
                                      style="text-transform: lowercase;" onkeyup="javascript:this.value = this.value.toLowerCase();">

                                  </div>

                             </div>
                        
                        </div>


                        <!--DOMICILIO-->

                        <div class="row">
                          
                             <div class="col-md-6">
                                  
                                  <div class="input-group mb-3"> 

                                       <div class="input-group-prepend">  

                                            <span class="input-group-text"><i class="fas fa-code"></i></span>

                                       </div>

                                       <input type="text" class="form-control" placeholder="Domicilio de la agencia" id="Calle" ng-model="agencia.Calle">

                                  </div>

                             </div>

                             <div class="col-md-3">
                                  
                                  <div class="input-group mb-3"> 

                                       <div class="input-group-prepend">  

                                            <span class="input-group-text"><i class="fas fa-sort-numeric-up"></i></span>

                                       </div>

                                       <input type="text" class="form-control" placeholder="No.Ext." id="NoExterior" ng-model="agencia.NoExterior">

                                  </div>

                             </div>

                             <div class="col-md-3">  

                                  <div class="input-group mb-3"> 

                                       <div class="input-group-prepend">  

                                            <span class="input-group-text"><i class="fas fa-sort-numeric-down"></i></span>

                                       </div>

                                       <input type="text" class="form-control" placeholder="No.Int." id="NoInterior" ng-model="agencia.NoInterior">
                                       
                                  </div>

                             </div>

                        </div>


                        <div class="row"> 

                             <div class="col-md-6">  

                                  <div class="input-group mb-3"> 

                                       <div class="input-group-prepend">  

                                            <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>

                                       </div>

                                       <input type="text" class="form-control" placeholder="Colonia" id="Colonia" ng-model="agencia.Colonia">
                                       
                                  </div>

                             </div>

                             <div class="col-md-6">  

                                  <div class="input-group mb-3"> 

                                       <div class="input-group-prepend">  

                                            <span class="input-group-text"><i class="fas fa-code"></i></span>

                                       </div>

                                       <input type="text" class="form-control" placeholder="Código Postal" id="Cp" ng-model="agencia.Cp">
                                       
                                  </div>

                             </div>

                        </div>

                        <div class="row"> 

                             <div class="col-md-6">  

                                  <div class="input-group mb-3"> 

                                       <div class="input-group-prepend">  

                                            <span class="input-group-text"><i class="fas fa-location-arrow"></i></span>

                                       </div>

                                       <input type="text" class="form-control" placeholder="Ciudad" id="Ciudad" ng-model="agencia.Ciudad">
                                       
                                  </div>

                             </div>

                             <div class="col-md-6">  

                                  <div class="input-group mb-3"> 

                                       <div class="input-group-prepend">  

                                            <span class="input-group-text"><i class="fas fa-map-pin"></i></span>

                                       </div>

                                       <input type="text" class="form-control" placeholder="Estado" id="Cp" ng-model="agencia.Estado">
                                       
                                  </div>

                             </div>

                        </div>

                        <!--FIN DOMICILIO-->

                    </div>

               </div>


               <!-- P I E    M O D A L -->
               <div class="modal-footer">
                 
                    <div class="container"> 

                         <div class="row" align="center">                              

                              <div class="col-md-12"> 

                                   <button type="button" class="btn btn-outline-dark" id="boton" data-dismiss="modal">Cancelar</button>

                                   <button type="button" class="btn btn-outline-dark" id="boton" ng-click="add(agencia)">Guardar</button>

                              </div>                              

                         </div>

                    </div>

               </div>



          </div>

     </div>

</div>

<!-- M O D A L    M O D I F I C A R -->
<div class="modal" id="update_modal" tabindex="-1" role="dialog" aria-labelledbye="myModalLabel">
  
     <div class="modal-dialog modal-lg" role="document">
       
          <div class="modal-content">
            

               <!-- C A B E C E R A   M O D A L -->
               <div class="modal-header">
                 
                    <h2 class="modal-title" id="myModalLabel"> Actualizar Agencia </h2>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      
                            <span aria-hidden="true">X</span>

                    </button>

               </div>

               <!-- C U E R P O   M O D A L -->
               <div class="modal-body">

                    <div class="container">

                        <div class="row"> 

                             <div class="col-md-12">

                                  <div class="input-group mb-3">

                                       <div class="input-group-prepend">

                                            <span class="input-group-text"><i class="far fa-building"></i></span>

                                      </div>

                                      <input type="text" class="form-control" placeholder="Nombre de la agencia" id="agenciaEdit" 
                                      ng-model="agenciaEdit.RazonSocialEdit">

                                  </div>

                             </div>
                        
                        </div>

                        <div class="row"> 

                             <div class="col-md-12">

                                  <div class="input-group mb-3">

                                       <div class="input-group-prepend">

                                            <span class="input-group-text"><i class="fas fa-qrcode"></i></span>

                                      </div>

                                      <input type="text" class="form-control" placeholder="Registro Federal de Contribuyentes" id="RFCEdit" 
                                      ng-model="agenciaEdit.RFCEdit">

                                  </div>

                             </div>
                        
                        </div>

                        <div class="row"> 

                             <div class="col-md-6">

                                  <div class="input-group mb-3">

                                       <div class="input-group-prepend">

                                            <span class="input-group-text"><i class="fas fa-phone"></i></span>

                                      </div>

                                      <input type="text" class="form-control" placeholder="Teléfono de la agencia" id="TelefonoEdit" 
                                      ng-model="agenciaEdit.TelefonoEdit" maxlength="10">

                                  </div>

                             </div>

                             <div class="col-md-6">

                                  <div class="input-group mb-3">

                                       <div class="input-group-prepend">

                                            <span class="input-group-text"><i class="fas fa-at"></i></span>

                                      </div>

                                      <input type="text" class="form-control" placeholder="Email de la agencia" id="EmailEdit"
                                      ng-model="agenciaEdit.EmailEdit" style="text-transform: lowercase;" onkeyup="javascript:this.value = this.value.toLowerCase();">

                                  </div>

                             </div>
                        
                        </div>


                        <!--DOMICILIO-->

                        <div class="row">
                          
                             <div class="col-md-6">
                                  
                                  <div class="input-group mb-3"> 

                                       <div class="input-group-prepend">  

                                            <span class="input-group-text"><i class="fas fa-code"></i></span>

                                       </div>

                                       <input type="text" class="form-control" placeholder="Domicilio de la agencia" id="CalleEdit" 
                                       ng-model="agenciaEdit.CalleEdit">

                                  </div>

                             </div>

                             <div class="col-md-3">
                                  
                                  <div class="input-group mb-3"> 

                                       <div class="input-group-prepend">  

                                            <span class="input-group-text"><i class="fas fa-sort-numeric-up"></i></span>

                                       </div>

                                       <input type="text" class="form-control" placeholder="No.Ext." id="NoExteriorEdit" 
                                       ng-model="agenciaEdit.NoExteriorEdit">

                                  </div>

                             </div>

                             <div class="col-md-3">  

                                  <div class="input-group mb-3"> 

                                       <div class="input-group-prepend">  

                                            <span class="input-group-text"><i class="fas fa-sort-numeric-down"></i></span>

                                       </div>

                                       <input type="text" class="form-control" placeholder="No.Int." id="NoInteriorEdit" 
                                       ng-model="agenciaEdit.NoInteriorEdit">
                                       
                                  </div>

                             </div>

                        </div>


                        <div class="row"> 

                             <div class="col-md-6">  

                                  <div class="input-group mb-3"> 

                                       <div class="input-group-prepend">  

                                            <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>

                                       </div>

                                       <input type="text" class="form-control" placeholder="Colonia" id="ColoniaEdit" 
                                       ng-model="agenciaEdit.ColoniaEdit">
                                       
                                  </div>

                             </div>

                             <div class="col-md-6">  

                                  <div class="input-group mb-3"> 

                                       <div class="input-group-prepend">  

                                            <span class="input-group-text"><i class="fas fa-code"></i></span>

                                       </div>

                                       <input type="text" class="form-control" placeholder="Código Postal" id="CpEdit" ng-model="agenciaEdit.CpEdit"
                                       maxlength="5">
                                       
                                  </div>

                             </div>

                        </div>

                        <div class="row"> 

                             <div class="col-md-6">  

                                  <div class="input-group mb-3"> 

                                       <div class="input-group-prepend">  

                                            <span class="input-group-text"><i class="fas fa-location-arrow"></i></span>

                                       </div>

                                       <input type="text" class="form-control" placeholder="Ciudad" id="CiudadEdit" ng-model="agenciaEdit.CiudadEdit">
                                       
                                  </div>

                             </div>

                             <div class="col-md-6">  

                                  <div class="input-group mb-3"> 

                                       <div class="input-group-prepend">  

                                            <span class="input-group-text"><i class="fas fa-map-pin"></i></span>

                                       </div>

                                       <input type="text" class="form-control" placeholder="Estado" id="CpEdit" ng-model="agenciaEdit.EstadoEdit">
                                       
                                  </div>

                             </div>

                        </div>

                        <!--FIN DOMICILIO-->

                    </div>

               </div>


               <!-- P I E    M O D A L -->
               <div class="modal-footer">
                 
                    <div class="container"> 

                         <div class="row" align="center">

                              <div class="col-md-12"> 

                                   <button type="button" class="btn btn-outline-dark" id="boton" data-dismiss="modal">Cancelar</button>

                                   <button type="button" class="btn btn-outline-dark" id="boton" ng-click="update(agenciaEdit)">Modificar</button>

                              </div>

                         </div>

                    </div>

               </div>



          </div>

     </div>

</div>





<!-- M O D A L   D E    C O N T A C T O S     D E   L A   E M P R E S A -->
<div class="modal" id="contactos_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  
     <div class="modal-dialog modal-lg" role="document">
       
          <div class="modal-content">
            

               <!-- M O D A L   H E A D E R -->
               <div class="modal-header">
                 
                    <h4 class="modal-title" id="myModalLabel">Lista de contactos</h4>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        
                            <span aria-hidden="true">X</span>

                    </button>

               </div>




               <!-- M O D A L    B O D Y -->
               <div class="modal-body">     

                                  
                 
                    <div class="container"> 

                         <div class="row" align="right">

                              <div class="col-md-12">
                                
                                   <button class="btn btn-outline-primary" ng-click="mostrar()"><i class="fas fa-plus mr-2"></i>Nuevo contacto</button>

                              </div>

                         </div><br>
                                                                                                 

                         <div id="Visible">

                         <div class="row" align="center">
                           
                              <div class="col-md-12">
                                    
                                    <label>Datos del contacto</label>

                              </div>

                         </div>

                         <div class="row">
                           
                              <div class="col-md-12">
                                
                                    <div class="input-group mb-3">
                                      
                                         <div class="input-group-prepend">
                                           
                                              <span class="input-group-text"><i class="fas fa-user"></i></span>

                                         </div>

                                         <input type="text" class="form-control" placeholder="Nombre" id="Nombre" ng-model="contacto.Nombre">

                                    </div>

                              </div>

                         </div>

                         <div class="row">
                           
                              <div class="col-md-6">
                                   
                                   <div class="input-group mb-3"> 

                                       <div class="input-group-prepend">  

                                            <span class="input-group-text"><i class="fas fa-phone"></i></span>

                                       </div>

                                       <input type="text" class="form-control" placeholder="Teléfono" id="Telefono" ng-model="contacto.Telefono">
                                       
                                  </div>

                              </div>

                              <div class="col-md-6">
                                
                                   <div class="input-group mb-3">
                                     
                                        <div class="input-group-prepend">
                                          
                                            <span class="input-group-text"><i class="fas fa-at"></i></span>

                                        </div>

                                        <input type="text" class="form-control" placeholder="Email" id="Email" ng-model="contacto.Email">

                                   </div>

                              </div>

                         </div>

                         <div class="row" align="right">
                           
                              <div class="col-md-12"> 

                                   <button type="button" class="btn btn-outline-dark" id="boton" ng-click="addContacto(contacto)">Guardar</button>

                              </div>

                         </div>

                         <hr style="border-color: #044BFD; "> 

                         </div>

                         <div id="VisibleModificar">

                         <div class="row" align="center">
                           
                              <div class="col-md-12">
                                    
                                    <label>Modificar contacto</label>

                              </div>

                         </div>

                         <div class="row">
                           
                              <div class="col-md-12">
                                
                                    <div class="input-group mb-3">
                                      
                                         <div class="input-group-prepend">
                                           
                                              <span class="input-group-text"><i class="fas fa-user"></i></span>

                                         </div>

                                         <input type="text" class="form-control" placeholder="Nombre" id="Nombre" ng-model="contactoEdit.Nombre">

                                    </div>

                              </div>

                         </div>

                         <div class="row">
                           
                              <div class="col-md-6">
                                   
                                   <div class="input-group mb-3"> 

                                       <div class="input-group-prepend">  

                                            <span class="input-group-text"><i class="fas fa-phone"></i></span>

                                       </div>

                                       <input type="text" class="form-control" placeholder="Teléfono" id="Telefono" ng-model="contactoEdit.Telefono">
                                       
                                  </div>

                              </div>

                              <div class="col-md-6">
                                
                                   <div class="input-group mb-3">
                                     
                                        <div class="input-group-prepend">
                                          
                                            <span class="input-group-text"><i class="fas fa-at"></i></span>

                                        </div>

                                        <input type="text" class="form-control" placeholder="Email" id="Email" ng-model="contactoEdit.Email">

                                   </div>

                              </div>

                         </div>

                         <div class="row" align="right">
                           
                              <div class="col-md-12"> 

                                   <button type="button" class="btn btn-outline-dark" id="boton" ng-click="updateContacto(contactoEdit)">Modificar</button>

                              </div>

                         </div>

                         <hr style="border-color: #044BFD; "> 

                         </div>


                         <div class="row">  

                              <div class="table-responsive" id="TablaContactos">
           
                                   <table class="table">
                
                                          <tr align="center" style="font-size: 16px;">
                       
                                              <th>Nombre</th>

                                              <th>Teléfono</th>

                                              <th>Email</th>

                                              <th class="text-center">Acciones</th>

                                          </tr>

                                          <tr id="cuerpo" ng-repeat="contacto in contactos" align="center">
                       
                                              <td>{{ contacto.Nombre }}</td>

                                              <td>{{ contacto.Telefono}}</td>

                                              <td>{{ contacto.Email }}</td>

                                              <td>

                                                  <a data-toggle="modal" data-target="#update_contacto" ng-click="showContacto(contacto)">
                                                  
                                                    <img src="assets/img/pencil.png">

                                                  </a>

                                                  <a ng-click="destroyContacto(contacto.nIDContacto,contacto.nIDEmpresa)">

                                                     <img src="assets/img/delete.png">

                                                  </a>

                                              </td>

                                          </tr>

                                   </table>

                                          <h1 align="center"><img ng-src="{{ iconoC }}">{{ mensajeC }}</h1>

                                   </div>

                         </div>



                    </div>

               </div>



               <!-- M O D A L   F O O T E R -->
               <div class="modal-footer">
                 
                    <button type="button" class="button primary"  data-dismiss="modal">Cerrar</button>

               </div> 

          </div>

     </div>

</div>