<section>	

	<div class="container">	

		 <div class="row" align="center">	

			  <div class="col-md-12">	

				   <h2>REPORTES S.O.S</h2>

			  </div>

		 </div><br>	<br>	

		 <div class="row" align="center">	
			  
			  <div class="col-md-12">	

				   <div id="barra" style="height: 300px;width: 370px; background: white"></div> 
						
			  </div>

		 </div>

	</div>

</section>