

  <div class="container-fluid" ng-init="get()"  >

    <div class="row" > 

         <div class="col-md-9 col-xs-12 col-sm-12">
      
              <div id="mapa-mapbox" style="width: 100%;"></div>

         </div>

         <div class="col-md-3 col-xs-12 col-sm-12" align="center" style="background: white;"> 

              <h2 style="padding-top: 3%">Vehiculos</h2>
 
              <hr>  

              <div class="input-group mb-3">  

                   <input type="text" class="form-control" placeholder="Ingresa placa..." ng-model="search">

                   <div class="input-group-prepend">  

                        <span class="input-group-text"><i class="fas fa-search"></i></span>
                    
                   </div>

              </div>

              <div class="overflow-auto mt-2" style="height: 60vh;"> 

                   <div class="table-responsive"> 

                        <table class="table"> 

                              <tr align="center" id="cuerpo">

                              		<th ng-click="buscarTodos()">Todos los vehiculos</th></tr>

                               <tr align="center" id="cuerpo" ng-repeat="tipo in tipos">                                                                     

                                    <td ng-click="busqueda(tipo.nIDDispositivoAuto)">{{ tipo.Identificador }}</td>

                               </tr>

                        </table>

                   </div>

              </div>

         </div>

    </div>  

  </div>
  
    



<!--<div >
      
      <div class="container">
        
            <div class="row" style="padding-top: 10%">


              <div class="table-responsive">
                
              <table>
                   <tr>
                     <th><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d119452.57081320505!2d-103.4054536937738!3d20.673938322641675!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8428b18cb52fd39b%3A0xd63d9302bf865750!2sGuadalajara%2C%20Jal.!5e0!3m2!1ses-419!2smx!4v1584041755341!5m2!1ses-419!2smx" width="700" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></th>

                     <th><div id="donut" style="height: 300px;width: 370px; background: white"></div></th>
                     
                   </tr>
                   <tr>
                     <th><div id="area" style="height: 300px;width: 700px; background: white"></div></th>
                     <th><div id="barra" style="height: 300px;width: 370px; background: white"></div></th>

                   </tr>
              </table>

              </div>


            </div>

      </div>

</div>-->


<!--<div class="container" ng-init="get()">
      
        <div class="row">
          
            <div class="col-md-12">
              
                 <h2>DASHBOARD</h2>

            </div>

        </div>

        <div class="row">
          
             <div class="col-md-12">
               
                  <select  id="nIdDispositivoUsuario" ng-model="nIdDispositivoUsuario" class="form-control">
                    
                           <option value="" selected disabled>Selecciona el dispositivo a buscar</option>

                           <option value="{{ tipo.nIdDispositivoUsuario }}" ng-repeat="tipo in tipos">{{ tipo.identificator }}</option>

                  </select>

             </div>

        </div> <br><br>-->

              
               
                  <!--<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d119452.57081320505!2d-103.4054536937738!3d20.673938322641675!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8428b18cb52fd39b%3A0xd63d9302bf865750!2sGuadalajara%2C%20Jal.!5e0!3m2!1ses-419!2smx!4v1584041755341!5m2!1ses-419!2smx" width="1100" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>-->


    <!--</div>-->
