<section>
  
    <div class="container" ng-init="get()">
      
        <div class="row">
          
             <div class="col-md-3"></div>

             <div class="col-md-3"></div>

             <div class="col-md-3"></div>

             <div class="col-md-3">
               
                  <div class="pull-rigth">
                    
                       <button class="button primary" data-toggle="modal" data-target="#add_modal">
                         
                              <i class="glyphicon glyphicon-plus-sign mr-2"></i>
                              Agregar

                       </button>

                  </div>

             </div>

        </div>

        <div class="row">
          
             <div class="col-md-6">
               
                  <h2>Roles</h2>

             </div>

        </div>

        <div class="row">
      
             <div class="col-md-6"></div>

             <div class="col-md-6">
          
                  <div class="input-group mb-3">                  

                       <input type="text" class="form-control" placeholder="Buscar Rol..." ng-model="search">

                              <div class="input-group-prepend">

                                   <span class="input-group-text"><i class="fas fa-search"></i></span>

                              </div>

                  </div>

             </div>

        </div>

        <div class="row">
          
             <div class="table-responsive">
               
                  <table class="table">
                    
                         <tr align="center" style="font-size: 16px;">
                           
                             <th>No.</th>

                             <th>Tipo de rol</th>

                             <th style="width: 400px;">Descripción</th>

                             <th>Clasificación</th>

                             <th class="text-center">Acciones</th>

                         </tr>

                         <tr id="cuerpo" ng-repeat="rol in roles | filter : search" align="center">
                              
                              <td>{{rol.nIDRol}}</td>

                              <td>{{rol.TipoDeRol}}</td>

                              <td>{{rol.Descripcion}}</td>

                              <td>{{rol.Clasificacion}}</td>

                              
                              <td>
                                
                                  <a data-toggle="modal" data-target="#update_modal" ng-click="show(rol)">
                                    
                                     <img src="assets/img/pencil.png">

                                  </a>

                                  <a ng-click="destroy(rol.nIDRol)">

                                    <img src="assets/img/delete.png">

                                  </a>

                              </td>
                         </tr>

                  </table>

                          <h1 align="center"><img ng-src="{{ icono }}">{{ mensaje }}</h1>                          

             </div>

        </div>

    </div>

</section>



<!-- M O D A L    A G R E G A R -->
<div class="modal" id="add_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  
     <div class="modal-dialog modal-lg" role="document">
       
          <div class="modal-content">
            
               <!-- C A B E C E R A    M O D A L -->
               <div class="modal-header">
                 
                    <h2 class="modal-title" id="myModalLabel">Nuevo Rol</h2>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      
                            <span aria-hidden="true">X</span>

                    </button>

               </div>


               <!-- C U E R P O    M O D A L-->
               <div class="modal-body">
                 
                    <div class="container">
                      
                         <div class="row">
                           
                              <div class="col-md-12">
                                
                                   <div class="input-group mb-3">
                                     
                                        <div class="input-group-prepend">
                                             
                                             <span class="input-group-text"><i class="fas fa-users-cog"></i></span>

                                        </div>

                                        <input type="text" class="form-control" placeholder="Tipo de rol" id="TipoDeRol" 
                                        ng-model="rol.TipoDeRol">

                                   </div>

                              </div>

                         </div>

                         <div class="row">
                           
                              <div class="col-md-12">
                                
                                  <div class="input-group mb-3">
                                    
                                       <div class="input-group-prepend">
                                         
                                            <span class="input-group-text"><i class="fas fa-text-height"></i></span>

                                       </div>

                                       <input type="text" class="form-control" placeholder="Descripción" id="Descripcion"
                                       ng-model="rol.Descripcion">

                                  </div>

                              </div>

                         </div>

                         

                         <div class="row">
                           
                              <div class="col-md-12">
                                
                                  <div class="input-group mb-3">
                                    
                                       <div class="input-group-prepend">
                                         
                                            <span class="input-group-text"><i class="fas fa-users-cog"></i></span>

                                       </div>

                                       <input type="text" class="form-control" placeholder="Clasificación" id="Clasificacion" ng-model="rol.Clasificacion">

                                  </div>

                              </div>

                         </div>
                      
                    </div>

               </div>


               <!-- P I E    M O D A L -->
               <div class="modal-footer">
                 
                    <div class="container">
                      
                         <div class="row" align="center">

                              <div class="col-md-12">
                                
                                   <button type="button" class="btn btn-outline-dark" id="boton" data-dismiss="modal">Cancelar</button>

                                   <button type="button" class="btn btn-outline-dark" id="boton" ng-click="add(rol)">Guardar</button>

                              </div>


                         </div>

                    </div>

               </div>


               

          </div>

     </div>

</div>




<!-- M O D A L    M O D I F I C A R  -->
<div class="modal" id="update_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  
     <div class="modal-dialog modal-lg" role="document">
       
          <div class="modal-content">
            
               <!-- C A B E C E R A    M O D A L -->
               <div class="modal-header">
                 
                    <h2 class="modal-title" id="myModalLabel">Modificar Rol</h2>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      
                            <span aria-hidden="true">X</span>

                    </button>

               </div>


               <!-- C U E R P O    M O D A L-->
               <div class="modal-body">
                 
                    <div class="container">
                      
                         <div class="row">
                           
                              <div class="col-md-12">
                                
                                   <div class="input-group mb-3">
                                     
                                        <div class="input-group-prepend">
                                             
                                             <span class="input-group-text"><i class="fas fa-users-cog"></i></span>

                                        </div>

                                        <input type="text" class="form-control" placeholder="Tipo de rol" id="TipoDeRolEdit" 
                                        ng-model="rolEdit.TipoDeRol">

                                   </div>

                              </div>

                         </div>

                         <div class="row">
                           
                              <div class="col-md-12">
                                
                                  <div class="input-group mb-3">
                                    
                                       <div class="input-group-prepend">
                                         
                                            <span class="input-group-text"><i class="fas fa-text-height"></i></span>

                                       </div>

                                       <input type="text" class="form-control" placeholder="Descripción" id="DescripcionEdit"
                                       ng-model="rolEdit.Descripcion">

                                  </div>

                              </div>

                         </div>

                         
                         <div class="row">
                           
                              <div class="col-md-12">
                                
                                  <div class="input-group mb-3">
                                    
                                       <div class="input-group-prepend">
                                         
                                            <span class="input-group-text"><i class="fas fa-users-cog"></i></span>

                                       </div>

                                       <input type="text" class="form-control" placeholder="Clasificación" id="ClasificacionEdit" ng-model="rolEdit.Clasificacion">

                                  </div>

                              </div>

                         </div>

                    </div>

               </div>


               <!-- P I E    M O D A L -->
               <div class="modal-footer">
                 
                    <div class="container">
                      
                         <div class="row" align="center">

                              <div class="col-md-12">
                                
                                   <button type="button" class="btn btn-outline-dark" id="boton" data-dismiss="modal">Cancelar</button>

                                   <button type="button" class="btn btn-outline-dark" id="boton" ng-click="update(rolEdit)">Guardar</button>

                              </div>

                         </div>

                    </div>

               </div>


               

          </div>

     </div>

</div>