<section>
  
    <div class="container" ng-init="get()">
      
         <div class="row"><!-- Inicio fila -->
           
              <div class="col-md-3"></div>

              <div class="col-md-3"></div>

              <div class="col-md-3"></div>

              <div class="col-md-3">
                
                   <div class="pull-rigth">
                     
                        <button class="button primary" data-toggle="modal" data-target="#add_modal">
                          
                                <i class="glyphicon glyphicon-plus-sign mr-2"></i>
                                Agregar
                        </button>

                   </div>

              </div>

         </div><!-- Fin fila del botón-->

         <div class="row"><!--Fila de usuarioa-->
           
              <div class="col-md-6">
                
                   <h2>USUARIOS</h2>

              </div>

         </div><!--Fin de la fila de usuarios->-->

         <div class="row">
      
              <div class="col-md-6"></div>

              <div class="col-md-6">
          
                   <div class="input-group mb-3">                  

                        <input type="text" class="form-control" placeholder="Buscar Administrador..." ng-model="search">

                               <div class="input-group-prepend">

                                    <span class="input-group-text"><i class="fas fa-search"></i></span>

                               </div>

                   </div>

              </div>

         </div>

         <div class="row">
           
              <div class="table-responsive">
                
                   <table class="table">
                     
                         <tr align="center" style="font-size: 16px;">
                           
                              <th>Nombre</th>

                              <th>Usuario</th>

                              <th>Direccion</th>

                              <th>Contacto</th>

                              <th>Email</th>

                              <th>Estatus</th>

                              <th class="text-center">Acciones</th>

                         </tr>

                         <tr id="cuerpo" ng-repeat="usuario in usuarios | filter : search" align="center">

                              <td>{{usuario.Nombre}}</td>

                              <td>{{usuario.Usuario}}</td>

                              <td>{{usuario.Direccion}}</td>

                              <td>Cel. {{usuario.Celular}} <br> Tel. {{usuario.Telefono}}</td>

                              <td>{{usuario.Email}}</td>

                              <td>{{usuario.Estatus}}</td>

                              <td>
                                
                                    <a data-toggle="modal" data-target="#update_modal" ng-click="show(usuario)">
                                      
                                        <img src="assets/img/pencil.png">

                                    </a>

                                    <a ng-click="destroy(usuario.nIDUsuario)">
                                      
                                        <img src="assets/img/delete.png">

                                    </a>

                              </td>
                        </tr>  

                   </table>

                    <h1 align="center"><img ng-src="{{ icono }}">{{ mensaje }}</h1>

              </div>

         </div>

    </div>

</section>


<!-- M O D A L   A G R E G A R -->
<div class="modal" id="add_modal" tabindex="-1" role="dialog" aria-labelledby="myModelLabel">
  
     <div class="modal-dialog modal-lg" role="document">
       
          <div class="modal-content">
            
               <!-- C A B E C E R A   M O D A L -->
               <div class="modal-header">
                 
                    <h2 class="modal-title" id="myModelLabel">Nuevo Usuario</h2>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      
                          <span aria-hidden="true">X</span>

                    </button>

               </div>


               <!--C U E R P O    M O D A L -->
               <div class="modal-body">
                 
                    <div class="container">
                         
                          <div class="row">
                            
                               <div class="col-md-12">
                                 
                                    <div class="input-group mb-3">
                                      
                                         <div class="input-group-prepend">
                                           
                                              <span class="input-group-text"><i class="fas fa-user"></i></span>

                                         </div>

                                         <input type="text" class="form-control" placeholder="Nombre completo *" id="Nombre" 
                                         ng-model="usuario.Nombre">

                                    </div>

                               </div>

                          </div>

                          <div class="row">
                            
                               <div class="col-md-12">
                                 
                                    <div class="input-group mb-3">
                                      
                                         <div class="input-group-prepend">
                                           
                                              <span class="input-group-text"><i class="fas fa-qrcode"></i></span>

                                         </div>

                                         <input type="text" class="form-control" placeholder="Registro Federal del Contribuyente(RFC) *"
                                         id="RFC" ng-model="usuario.RFC">

                                    </div>

                               </div>

                          </div>

                          <div class="row">
                            
                              <div class="col-md-6">
                                
                                   <div class="input-group mb-3">
                                     
                                        <div class="input-group-prepend">
                                          
                                             <span class="input-group-text"><i class="fas fa-user"></i></span>

                                        </div>

                                        <input type="text" class="form-control" placeholder="Nombre de usuario *" id="Usuario"
                                        ng-model="usuario.Usuario">

                                   </div>

                              </div>

                              <div class="col-md-6">
                                
                                   <div class="input-group mb-3">
                                     
                                        <div class="input-group-prepend">
                                          
                                             <span class="input-group-text"><i class="fas fa-key"></i></span>

                                        </div>

                                        <input type="text" class="form-control" placeholder="Password *" id="Password" 
                                        ng-model="usuario.Password">

                                   </div>

                              </div>

                          </div>

                          <div class="row">
                            
                               <div class="col-md-6">
                                 
                                    <div class="input-group mb-3">
                                      
                                         <div class="input-group-prepend">
                                           
                                            <span class="input-group-text"><i class="fas fa-phone"></i></span>

                                         </div>

                                         <input type="text" class="form-control" placeholder="Número de teléfono " id="Telefono"
                                         ng-model="usuario.Telefono" maxlength="10">

                                    </div>

                               </div>

                               <div class="col-md-6">
                                 
                                    <div class="input-group mb-3">
                                      
                                         <div class="input-group-prepend">
                                           
                                              <span class="input-group-text"><i class="fas fa-mobile-alt"></i></span>

                                         </div>

                                         <input type="text" class="form-control" placeholder="Número de celular *" id="Celular"
                                         ng-model="usuario.Celular" maxlength="10">

                                    </div>

                               </div>

                          </div>

                          <div class="row">
                            
                               <div class="col-md-12">
                                 
                                    <div class="input-group mb-3">
                                      
                                         <div class="input-group-prepend">
                                           
                                              <span class="input-group-text"><i class="fas fa-at"></i></span>

                                         </div>

                                         <input type="text" class="form-control" placeholder="Email *" id="Email" 
                                         ng-model="usuario.Email" style="text-transform: lowercase;" onkeyup="javascript:this.value = this.value.toLowerCase();">

                                    </div>

                               </div>

                          </div>

                          <div class="row">
                            
                               <div class="col-md-12">
                                 
                                    <div class="input-group mb-3">
                                      
                                         <div class="input-group-prepend">
                                           
                                              <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>

                                         </div>

                                         <input type="text" class="form-control" placeholder="Dirección" id="Direccion" 
                                         ng-model="usuario.Direccion">

                                    </div>

                               </div>

                          </div>

                          <div class="row">

                               <div class="col-md-6">
                                 
                                    <div class="input-group mb-3">
                                      
                                        <div class="input-group-prepend">
                                          
                                             <span class="input-group-text"><i class="fas fa-building"></i></span>

                                        </div>

                                        <select id="nIDEmpresa" ng-model="usuario.nIDEmpresa" class="form-control">
                                          
                                                <option value="" selected disabled>Selecciona Empresa *...</option>

                                                <option value="{{empresa.nIDEmpresa}}" 
                                                ng-repeat="empresa in empresas">{{empresa.RazonSocial}}</option>

                                        </select>

                                    </div>

                               </div>
                            
                                                              
                              <div class="col-md-6">
                                 
                                    <div class="input-group mb-3">
                                      
                                        <div class="input-group-prepend">
                                          
                                             <span class="input-group-text"><i class="fas fa-users-cog"></i></span>

                                        </div>

                                        <select id="nIDRol" ng-model="usuario.nIDRol" class="form-control">
                                          
                                                <option value="" selected disabled>Selecciona Rol *...</option>

                                                <option value="{{rol.nIDRol}}" 
                                                ng-repeat="rol in roles">{{rol.TipoDeRol}}</option>

                                        </select>

                                    </div>

                               </div>

                          </div>

                          <div class="row">
                            
                               <div class="col-md-12">
                                 
                                    <div class="input-group mb-3">
                                      
                                         <div class="input-group-prepend">
                                           
                                              <span class="input-group-text"><i class="fas fa-image"></i></span>

                                         </div>

                                         <input type="file" id="Foto" class="form-control" ng-model="usuario.Foto">

                                    </div>

                               </div>

                          </div>

                          <div class="row">
                            
                               <div class="col-md-12">
                                 
                                    <div id="VistaImagen">
                                      
                                         <embed id="doc" src="" width="100%" height="100%"></embed>

                                    </div>

                               </div>

                          </div>

                    </div>

               </div>



               <!-- P I E    M O D A L -->
               <div class="modal-footer">
                 
                    <div class="container">
                      
                         <div class="row" align="center">

                              <div class="col-md-12">
                                
                                   <button type="button" class="btn btn-outline-dark" id="boton" data-dismiss="modal">Cancelar</button>

                                   <button type="button" class="btn btn-outline-dark" id="boton" ng-click="add(usuario)">Guardar</button>

                              </div>

                         </div>

                    </div>

               </div>




          </div>

     </div>

</div>

<!-- M O D A L   M O D I F I C A R -->
<div class="modal" id="update_modal" tabindex="-1" role="dialog" aria-labelledby="myModelLabel">
  
     <div class="modal-dialog modal-lg" role="document">
       
          <div class="modal-content">
            
               <!-- C A B E C E R A   M O D A L -->
               <div class="modal-header">
                 
                    <h2 class="modal-title" id="myModelLabel">Modificar Usuario</h2>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      
                          <span aria-hidden="true">X</span>

                    </button>

               </div>


               <!--C U E R P O    M O D A L -->
               <div class="modal-body">
                 
                    <div class="container">
                         
                          <div class="row">
                            
                               <div class="col-md-12">
                                 
                                    <div class="input-group mb-3">
                                      
                                         <div class="input-group-prepend">
                                           
                                              <span class="input-group-text"><i class="fas fa-user"></i></span>

                                         </div>

                                         <input type="text" class="form-control" placeholder="Nombre completo" id="NombreEdit" 
                                         ng-model="usuarioEdit.Nombre">

                                    </div>

                               </div>

                          </div>

                          <div class="row">
                            
                               <div class="col-md-12">
                                 
                                    <div class="input-group mb-3">
                                      
                                         <div class="input-group-prepend">
                                           
                                              <span class="input-group-text"><i class="fas fa-qrcode"></i></span>

                                         </div>

                                         <input type="text" class="form-control" placeholder="Registro Federal del Contribuyente(RFC)"
                                         id="RFCEdit" ng-model="usuarioEdit.RFC">

                                    </div>

                               </div>

                          </div>

                          <div class="row">
                            
                              <div class="col-md-6">
                                
                                   <div class="input-group mb-3">
                                     
                                        <div class="input-group-prepend">
                                          
                                             <span class="input-group-text"><i class="fas fa-user"></i></span>

                                        </div>

                                        <input type="text" class="form-control" placeholder="Nombre de usuario" id="UsuarioEdit"
                                        ng-model="usuarioEdit.Usuario">

                                   </div>

                              </div>

                              <div class="col-md-6">
                                
                                   
                                                                            
                                        <a style="color: blue;" data-target="#change_Password" data-toggle="modal" ng-click="contenedor(usuarioEdit.nIDUsuario)"><b>Cambiar contraseña.</b></a>
                                  
                                   

                              </div>

                          </div>

                          <div class="row">
                            
                               <div class="col-md-6">
                                 
                                    <div class="input-group mb-3">
                                      
                                         <div class="input-group-prepend">
                                           
                                            <span class="input-group-text"><i class="fas fa-phone"></i></span>

                                         </div>

                                         <input type="text" class="form-control" placeholder="Número de teléfono" id="TelefonoEdit"
                                         ng-model="usuarioEdit.Telefono" maxlength="10">

                                    </div>

                               </div>

                               <div class="col-md-6">
                                 
                                    <div class="input-group mb-3">
                                      
                                         <div class="input-group-prepend">
                                           
                                              <span class="input-group-text"><i class="fas fa-mobile-alt"></i></span>

                                         </div>

                                         <input type="text" class="form-control" placeholder="Número de celular" id="CelularEdit"
                                         ng-model="usuarioEdit.Celular" maxlength="10">

                                    </div>

                               </div>

                          </div>

                          <div class="row">
                            
                               <div class="col-md-12">
                                 
                                    <div class="input-group mb-3">
                                      
                                         <div class="input-group-prepend">
                                           
                                              <span class="input-group-text"><i class="fas fa-at"></i></span>

                                         </div>

                                         <input type="text" class="form-control" placeholder="Email" id="EmailEdit" 
                                         ng-model="usuarioEdit.Email" style="text-transform: lowercase;" onkeyup="javascript:this.value = this.value.toLowerCase();">

                                    </div>

                               </div>

                          </div>

                          <div class="row">
                            
                               <div class="col-md-12">
                                 
                                    <div class="input-group mb-3">
                                      
                                         <div class="input-group-prepend">
                                           
                                              <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>

                                         </div>

                                         <input type="text" class="form-control" placeholder="Dirección" id="DireccionEdit" 
                                         ng-model="usuarioEdit.Direccion">

                                    </div>

                               </div>

                          </div>

                          <div class="row">

                               <div class="col-md-6">
                                 
                                    <div class="input-group mb-3">
                                      
                                        <div class="input-group-prepend">
                                          
                                             <span class="input-group-text"><i class="fas fa-building"></i></span>

                                        </div>

                                        <select id="nIDEmpresaEdit" ng-model="usuarioEdit.nIDEmpresa" class="form-control">
                                          
                                                <option value="nIDEmpresaEdit" selected disabled></option>

                                                <option value="{{empresa.nIDEmpresa}}" 
                                                ng-repeat="empresa in empresas">{{empresa.RazonSocial}}</option>

                                        </select>

                                    </div>

                               </div>

                               <div class="col-md-6">
                                 
                                    <div class="input-group mb-3">
                                      
                                        <div class="input-group-prepend">
                                          
                                             <span class="input-group-text"><i class="fas fa-users-cog"></i></span>

                                        </div>

                                        <select id="nIDRolEdit" ng-model="usuarioEdit.nIDRol" class="form-control">
                                          
                                                <option value="nIDRolEdit" selected disabled></option>

                                                <option value="{{rol.nIDRol}}" 
                                                ng-repeat="rol in roles">{{rol.TipoDeRol}}</option>

                                        </select>

                                    </div>

                               </div>
                            
                                                             

                          </div>

                          <div class="row">
                            
                               <div class="col-md-12">
                                 
                                    <div class="input-group mb-3">
                                      
                                         <div class="input-group-prepend">
                                           
                                              <span class="input-group-text"><i class="fas fa-image"></i></span>

                                         </div>

                                         <input type="file" id="FotoEdit" class="form-control" ng-model="usuarioEdit.Foto">

                                    </div>

                               </div>

                          </div>

                          <div class="row">
                            
                               <div class="col-md-12">
                                 
                                    <div id="VistaImagen">
                                      
                                         <embed id="docEdit" src="" width="100%" height="100%"></embed>

                                    </div>

                               </div>

                          </div>

                    </div>

               </div>



               <!-- P I E    M O D A L -->
               <div class="modal-footer">
                 
                    <div class="container">
                      
                         <div class="row" align="center">

                              <div class="col-md-12">
                                
                                   <button type="button" class="btn btn-outline-dark" id="boton" data-dismiss="modal">Cancelar</button>

                                   <button type="button" class="btn btn-outline-dark" id="boton" ng-click="update(usuarioEdit)">Guardar</button>
                              </div>

                         </div>

                    </div>

               </div>




          </div>

     </div>

</div>


<!-- M O D A L   C H A N G E  P A S S W O R D -->
<div class="modal" id="change_Password" tabindex="-1" role="dialog" aria-labelledby="myModelLabel">
  
     <div class="modal-dialog " role="document">
       
          <div class="modal-content">
            
               <!-- C A B E C E R A   M O D A L -->
               <div class="modal-header">
                 
                    <h2 class="modal-title" id="myModelLabel">Cambiar Contraseña</h2>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      
                          <span aria-hidden="true">X</span>

                    </button>

               </div>


               <!--C U E R P O    M O D A L -->
               <div class="modal-body">
                 
                    <div class="container">
                         
                         <div class="row">
                           <div class="col-md-12 col-xs-12">
                                 
                                    <div class="input-group mb-3">
                                      
                                         <div class="input-group-prepend">
                                           
                                            <span class="input-group-text"><i class="fas fa-key"></i></span>

                                         </div>

                                         <input type="password" class="form-control" placeholder="Ingresa la nueva contraseña" id="passwordC"
                                         ng-model="password.Password">

                                    </div>

                               </div>

                               <div class="col-md-12 col-xs-12">
                                 
                                    <div class="input-group mb-3">
                                      
                                         <div class="input-group-prepend">
                                           
                                            <span class="input-group-text"><i class="fas fa-key"></i></span>

                                         </div>

                                         <input type="password" class="form-control" placeholder="Confirma contraseña" id="passwordCConfirm"
                                         ng-model="password.PasswordC">

                                    </div>
 
                               </div>
                         </div>
                          
                    </div>

               </div>



               <!-- P I E    M O D A L -->
               <div class="modal-footer">
                 
                    <div class="container">
                      
                         <div class="row" align="center">

                              <div class="col-md-12">
                                
                                   <button type="button" class="btn btn-outline-dark" id="boton" data-dismiss="modal">Cancelar</button>

                                   <button type="button" class="btn btn-outline-dark" id="boton" ng-click="change(password)">Guardar</button>
                              </div>

                         </div>

                    </div>

               </div>




          </div>

     </div>

</div>